{% extends "../../layouts/application.html" %}
{% block head%}
<link href="{{ static_url('css/bootstrapValidator.min.css') }}" rel="stylesheet">
{% end %}
{% block body%}
<div class="patent_application">
    <div class="container" style="background-color: #fff;">
        <div class="row" style="background-color: #EBF5FD;">
            {% include "../../../layouts/left.html"%}
            <div class="col-md-10" style="background-color: #fff;">
                 <div class="patent_service_content">
                     {% include comment_alert.html %}
                     <div id="orderForm" class="form-horizontal">
                         {% include ../order_media.html%}
                         <div class="media">
                            <div class="form-group border_line">
                                <label class="col-sm-2 control-label">主体信息</label>
                                <a id="applicant_form" name="get_form" href="javascript:;" data-target="/mark/reg/applicant"> <span class="glyphicon glyphicon-pencil"></span>编辑主体信息</a>
                            </div>
                             {% if order.status == 'write_info' %}
                             <div class="ajaxForm_div">
                                  {%include ../../copyright_soft/applicant.html%}
                             </div>
                             {% end %}
                            <div class="group-wrap">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">主体类型</label>
                                    <div class="col-sm-8" data-name="confirmed_required" id="applicantType">
                                        {%if detail.applicant['app_type'] == 'person'%} 个人 {% elif detail.applicant['app_type'] == 'com'%} 公司 {% end %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">主体名称</label>
                                    <div class="col-sm-8"  data-name="confirmed_required" id="applicantName">
                                        {{detail.applicant['name']}}
                                    </div>
                                </div>
                                <div class="add_group"></div>
                                {% if detail.is_common_app%}
                                <div class="form-group co_add">
                                    <label class="col-sm-3 control-label">共同申请人</label>
                                    <div class="col-sm-8" data-name="confirmed_required">
                                    {% for co_app in detail.common_app_applicants %}
                                        {{co_app['name']}}，
                                    {% end %}
                                    </div>
                                    </div>
                                {% end %}
                            </div>
                        </div>
                         <div class="media border-top">
                             <div class="form-group border_line">
                                <label class="col-sm-2 control-label">软件基本信息</label>
                                <a name="get_form" href="javascript:;" data-target="/mark/reg/applicant"> <span class="glyphicon glyphicon-pencil"></span>编辑版权信息</a>
                            </div>
                             {% if order.status == 'write_info' %}
                             <div class="ajaxForm_div">
                                 {%include ../../copyright_soft/soft_info.html%}
                             </div>
                             {% end %}
                             <div class="group-wrap">
                                 <div class="form-group">
                                    <label for="" class="col-sm-2 col-md-3 control-label">软件名称</label>
                                    <div class="col-sm-10 col-md-5 soft_name_text" data-name="confirmed_required">
                                        {{detail.soft_name}}
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <label for="" class="col-sm-2 col-md-3 control-label">软件简称</label>
                                    <div class="col-sm-10 col-md-5 soft_abb_text" data-name="confirmed_required">
                                        {{detail.soft_abb}}
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <label for="" class="col-sm-2 col-md-3 control-label">版本号</label>
                                    <div class="col-sm-10 col-md-5 version_num_text" data-name="confirmed_required">
                                        {{detail.version_num}}
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <label for="" class="col-sm-2 col-md-3 control-label">软件作品说明</label>
                                    <div class="col-sm-10 col-md-5" data-name="confirmed_required">
                                        <span class="soft_description_text">{{detail.soft_description_title}}</span>
                                        <span class="trans_description_text">
                                            {% if detail.soft_description == 2 %}
                                            ;修改合成或翻译说明: {{detail.trans_description}}。
                                            {% end %}
                                        </span>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <label for="" class="col-sm-2 col-md-3 control-label">软件开发完成日期</label>
                                    <div class="col-sm-10 col-md-5 soft_finish_date_text" data-name="confirmed_required">
                                        {{detail.soft_finish_date}}
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <label for="" class="col-sm-2 col-md-3 control-label">是否发表</label>
                                    <div class="col-sm-10 col-md-5 is_publish_text" data-name="confirmed_required">
                                        {{detail.is_publish_title}}
                                    </div>
                                 </div>
                                 <div id="publish_date_country_city">
                                     {% if detail.is_publish == 1 %}
                                     <div class="form-group">
                                        <label for="" class="col-sm-2 col-md-3 control-label">发表日期</label>
                                        <div class="col-sm-10 col-md-5 publish_date_text" data-name="confirmed_required">
                                            {{detail.publish_date}}
                                        </div>
                                     </div>
                                     <div class="form-group">
                                        <label for="" class="col-sm-2 col-md-3 control-label">发表地点</label>
                                        <div class="col-sm-10 col-md-5 first_publish_country_city" data-name="confirmed_required">
                                            {% if detail.first_publish_country and detail.first_publish_city %}
                                            {{detail.first_publish_country}}--{{detail.first_publish_city}}
                                            {% end %}
                                        </div>
                                     </div>
                                     {% end %}
                                 </div>
                                 <div class="form-group">
                                    <label for="" class="col-sm-2 col-md-3 control-label">开发方式</label>
                                    <div class="col-sm-10 col-md-5 develop_way_text" data-name="confirmed_required">
                                        {{detail.develop_way_title}}
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <label for="" class="col-sm-2 col-md-3 control-label">权利取得方式</label>
                                    <div class="col-sm-10 col-md-5 right_get_way_text" data-name="confirmed_required">
                                        {{detail.right_get_way_title}}
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <label for="" class="col-sm-2 col-md-3 control-label">权利范围</label>
                                    <div class="col-sm-10 col-md-5" data-name="confirmed_required">
                                        <span class="right_range_text">{{detail.right_range_title}}</span>
                                        <span class="right_range_status">
                                            {% for ri in detail.right_ranges %}
                                                {% if str(ri.id) in detail.range_select%}
                                                    ({{ri.opt_title}})
                                                {% end %}
                                            {% end %}
                                        </span>
                                    </div>
                                 </div>
                             </div>
                         </div>
                         <div class="media border-top">
                             <div class="form-group border_line">
                                <label class="col-sm-3 control-label">软件技术特点</label>
                                <a id="" name="get_form" href="javascript:;" data-target="/mark/reg/applicant"> <span class="glyphicon glyphicon-pencil"></span>编辑版权信息</a>
                            </div>
                             {% if order.status == 'write_info' %}
                             <div class="ajaxForm_div">
                                 {%include ../../copyright_soft/soft_feature.html%}
                             </div>
                             {% end %}
                             <div class="group-wrap">
                                 <div class="form-group">
                                    <label for="" class="col-sm-2 col-md-3 control-label">硬件运行硬件环境</label>
                                    <div class="col-sm-10 col-md-9 hardware_env_text" data-name="confirmed_required">
                                        {{detail.hardware_env}}
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <label for="" class="col-sm-2 col-md-3 control-label">软件运行软件环境</label>
                                    <div class="col-sm-10 col-md-9 software_env_text" data-name="confirmed_required">
                                        {{detail.software_env}}
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <label for="" class="col-sm-2 col-md-3 control-label">源程序量</label>
                                    <div class="col-sm-10 col-md-9 source_pro_size_text" data-name="confirmed_required">
                                        {{detail.source_pro_size}}
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <label for="" class="col-sm-2 col-md-3 control-label">编程语言</label>
                                    <div class="col-sm-10 col-md-9 pro_lan_text" data-name="confirmed_required">
                                        {{detail.pro_lan}}
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <label for="" class="col-sm-2 col-md-3 control-label">软件功能和技术特点</label>
                                    <div class="col-sm-10 col-md-9 function_feature_text" data-name="confirmed_required">
                                        {{detail.function_feature}}
                                    </div>
                                 </div>
                             </div>
                         </div>
                         <div class="media border-top">
                             <div class="form-group border_line">
                                <label class="col-sm-3 control-label">软件附加材料</label>
                                <a id="" name="get_form" href="javascript:;" data-target="/mark/reg/applicant"> <span class="glyphicon glyphicon-pencil"></span>编辑版权信息</a>
                            </div>
                             {% if order.status == 'write_info' %}
                             <div class="ajaxForm_div">
                                 {%include ../../copyright_soft/attach_stuff.html%}
                             </div>
                             {% end %}
                             <div class="group-wrap">
                                 <div class="form-group">
                                    <label for="" class="col-sm-2 col-md-3 control-label">源程序</label>
                                    <div class="col-sm-10 col-md-8 source_program_text" data-name="confirmed_required">
                                        {% if detail.source_program%}
                                        文件已上传
                                        {% end %}

                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <label for="" class="col-sm-2 col-md-3 control-label">程序使用说明书</label>
                                    <div class="col-sm-10 col-md-8 program_description_text" data-name="confirmed_required">
                                        {% if detail.program_description %}
                                        文件已上传
                                        {% end %}
                                    </div>
                                 </div>
                             </div>
                         </div>
                         {% include ../order_copyright_btn.html %}
                     </div>
                 </div>
            </div>
        </div>
    </div>
</div>
{% end %}
{% block javascript%}
<script src="{{ static_url('js/jquery.form.min.js') }}" type="text/javascript"></script>
<script src="{{ static_url('js/bootstrapValidator.min.js')}}    "></script>
<script type="text/javascript" src="{{ static_url('js/moment.min.js')}}"></script>
<script type="text/javascript" src="{{ static_url('js/daterangepicker.js')}}"></script>
{% end %}