<div class="media">
    <div class="form-group border_line">
        <label class="col-sm-2 control-label">订单信息</label>
    </div>
    <div class="group-wrap">
        <div class="form-group">
            <label class="col-sm-3 control-label">订单编号</label>
            <div class="col-sm-8 control_item">
                {{order.id}}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">服务类型</label>
            <div class="col-sm-8 control_item">
                {{order.name}}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">订单状态</label>
            <div class="col-sm-8 control_item">
                {{order.status_name}}
            </div>
        </div>
        {% if order.is_paid%}
            <div class="form-group">
                <label class="col-sm-3 control-label">支付订单号</label>
                <div class="col-sm-8 control_item">
                    {{order_payment.out_trade_no}}
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">支付时间</label>
                <div class="col-sm-8 control_item">
                    {{order_payment.payment_time}}
                </div>
            </div>
        {%end%}

    </div>
</div>
