{% extends "../../layouts/application.html" %}
{% autoescape %}
{% block left %}
{% end %}
{% block body %}
<!--版权列表页面 -->
<div class="patent_application" style="margin-top: 0;">
    <div class="container-fluid ">
        <div class="row theme_bg">
            {% include "../../layouts/left.html"%}
            <div class="col-md-10 right-content">
                <div class="h_txt_title">
                    <div class="content_title" style="margin: 45px 0 30px 15px;">发票列表</div>
                </div>
                <div class="col-sm-12">
                    <form action="/invoices" class="form-horizontal" role="form" method="get" id="invoices_form" enctype="multipart/form-data">
                        <input id="current_page" type="hidden" value="1" name="current_page"/>
                        <div class="form-group">
                            <label class="control-label col-sm-2" style="text-align: left;">发票状态</label>
                            <div class="col-sm-4" style="margin-left: -20px">
                                <select id="invoice_status" class="form-control " name="invoice_status">
                                    <option value="" selected="">==请选择==</option>
                                    <option
                                    {% if invoice_status == '0'%} selected="selected" {% end %} value="0">待开发票</option>
                                    <option
                                    {% if invoice_status == '1'%} selected="selected" {% end %} value="1">已开发票</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label" style="text-align: left">邮寄状态</label>

                            <div class="col-sm-4" style="margin-left: -20px">
                                <select id="mailing_status" class="form-control " name="mailing_status">
                                    <option value="" selected="">==请选择==</option>
                                    <option
                                    {% if mailing_status == 'preparing'%} selected="selected" {% end %} value="preparing">待邮寄</option>
                                    <option
                                    {% if mailing_status == 'sent'%} selected="selected" {% end %} value="sent">已邮寄</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" style="text-align: left">成功时间</label>

                            <div class="col-sm-4" style="margin-left: -20px">
                                <div class="form-horizontal" style="cursor: pointer;">
                                    <fieldset>
                                        <div class="control-group btn-write" style="padding: 8px;border: 1px solid #ddd;">
                                            <div class="controls">
                                                <div class="input-prepend input-group">
                                                    <input type="text" readonly="readonly" style="width: 250px" name="reservation" id="reservation" {%if start_time and end_time %}value="{{start_time}} - {{end_time}}" {%else%} value=""
                                                    {%end%} placeholder="请选择时间范围" />
                                                    <span class="calendar"></span>
                                                    <input type="hidden" name="start_time" value="{{start_time}}" class="form-control ">
                                                    <input type="hidden" name="end_time" value="{{end_time}}" class="form-control ">
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 col-sm-offset-2">
                                <input type="submit" class="btn-sea" name="submit" value="查询"style="margin-left: -20px"/>
                            </div>
                        </div>
                    </form>
                    <!--申请列表-->
                    <div class="panel-body col-md-12 col-sm-12 " style="margin-left: -12px">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" style="color: #848484">
                                <thead>
                                <tr class="tr_bg" style="border-bottom: 1px solid #e1e1e1">
                                    <th class="table_list">发票金额</th>
                                    <th class="table_list">发生时间</th>
                                    <th class="table_list">发票抬头</th>
                                    <th class="table_list">收取方式</th>
                                    <th class="table_list">发票状态</th>
                                    <th class="table_list">邮寄状态</th>
                                    <th class="table_list">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for invoice in invoices %}
                                <tr class="th_sty" style="border-bottom: 1px solid #e1e1e1">
                                    <td style="vertical-align: middle;text-align: center;;border:none;">{{invoice.invoice_price}}</td>
                                    <td style="vertical-align: middle;text-align: center;border:none;">{{invoice.created_at}}</td>
                                    <td style="vertical-align: middle;text-align: center;border:none;">{{invoice.title}}</td>
                                    <td style="vertical-align: middle;text-align: center;border:none;">快递</td>
                                    {% if invoice.invoice_status == 0 %}
                                    <td style="vertical-align: middle;text-align: center;border:none;">待开发票</td>
                                    {% elif invoice.invoice_status == 1 %}
                                    <td style="vertical-align: middle;text-align: center;border:none;">已开发票</td>
                                    {% elif invoice.invoice_status == 2 %}
                                    <td style="vertical-align: middle;text-align: center;border:none;">作废</td>
                                    {% end %}
                                    {% if invoice.mailing_status == 'sent'%}
                                    <td style="vertical-align: middle;text-align: center;border:none;">已邮寄</td>
                                    {% else %}
                                    <td style="vertical-align: middle;text-align: center;border:none;">待邮寄</td>
                                    {% end %}
                                    {% if invoice.is_cancel or invoice.invoice_status == 1 %}
                                    <td style="vertical-align: middle;text-align: center;border:none;"><a style="margin-right: 5px;" href="/invoice/{{invoice.id}}/detail">查看</a></td>
                                    {% else %}
                                    <td style="vertical-align: middle;text-align: center;border:none;"><a style="margin-right: 5px;" href="/invoice/{{invoice.id}}/detail">查看</a>| <a style="margin-right: 5px;" href="javascript:;"  data-id="{{invoice.id}}" class="cancel_invoice">作废</a>
                                    </td>
                                    {% end %}
                                </tr>
                                {%end%}
                                </tbody>
                            </table>
                            <div class="wtable-footer col-md-12">
                                <div id="pagination-container" class="paging_sty"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}
{% block javascript %}
<script type="text/javascript" src="{{static_url('js/w-page.min.js')}}"></script>
<script type="text/javascript" src="{{ static_url('js/moment.min.js')}}"></script>
<script type="text/javascript" src="{{ static_url('js/daterangepicker.js')}}"></script>
<script>
    $('.calendar').click(function (){
        $('.daterangepicker')
                .css({
              "display":"block",
              "top":"308px",
              "left":"475.359375px",
              "right":"auto"
              });
    });
    $(document).click(function (e){
        var target = $(e.target);
            // if the page is clicked anywhere except within the daterangerpicker/button
            // itself then call this.hide()
            if (
                target.closest($('.calendar')).length ||
                target.closest($('.daterangepicker')).length ||
                target.closest('.calendar-date').length ||
                target.closest('#reservation').length
                ) return;
            $('.daterangepicker').hide();
    });
    $('#reservation').daterangepicker(null, function (start, end, label) {
        $('input[name=start_time]').val(start.toISOString());
        $('input[name=end_time]').val(end.toISOString());
        console.log(start.toISOString(), end.toISOString(), label);
    });

    /*分页开始*/
    var currentPage = {{current_page}};
    var totalPage = {{total_page}}
    ;
    $('#pagination-container').wPage({
        currentPage: currentPage,    // 当前页 默认 1
        totalPage: totalPage,     // 总页数 默认 1
        firstCount: 1,      // 1 ... 3 4 5 ... 108首页处预览页数 默认 1
        lastCount: 1,       // 1 ... 3 4 5 ... 108尾页处预览页数 默认 1
        prevCount: 2,       // 当前页前预览页数 默认 2
        nextCount: 6,       // 当前页后预览页数 默认 6
        clickCallBack: function (pageNum, $element) {
            $('#current_page').attr('value', pageNum);
            $('#invoices_form').find("input[type=submit]").click();
        }
    });
    /*分页结束*/
    $('.form_date1').datetimepicker({
        language: 'zh-CN',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
    $('.form_date2').datetimepicker({
        language: 'zh-CN',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
    $('.cancel_invoice').click(function () {
        var this_data = $(this);
        wModalDialog({
            content:"是否作废此发票？",
            showAnimate:false,
            type:"confirm",
            cancelCallBack:function (){

            },
            sureCallBack:function (){
                var id = this_data.data('id')
                $.ajax({
                    url: '/invoice/cancel',
                    type: 'post',
                    data: {'invoice_id': id, '_xsrf': $("input[name=_xsrf]").attr('value')},
                    dataType: 'json',

                    success: function (response) {
                        if(response.result =1){
                            wModalDialog({
                                content:"该发票已被作废!",
                                showAnimate:true,
                                type:"success",
                                cancelCallBack:function (){
                                    location.reload();
                                }

                             });
                        }
                    },
                    error: function (response) {
                        wModalDialog({
                            content:"作废失败!",
                            showAnimate:true,
                            type:"failed"
                         });
                    }
                })
            }
        })

    })
</script>
{% end %}

