{% extends "../layouts/application.html" %}
{% block body %}
<div class="patent_application">
<div class="container right-content">
<div class="row">
{% include "../../layouts/left.html"%}
<div class="col-sm-10 top">
<div class="col-md-12 col-xs-12 col-sm-12">
    <div class="color" style="margin-bottom: 12px"></div>
    <div class="content_title">发票索取</div>
    <br style="clear:both;">
</div>
<div class="tip_bar col-sm-12">
    <span class="mid1"></span>
    <span class="col-sm-6">1.开票订单选取</span>
    <span class="col-sm-6 active">2.确定发票信息和地址</span>
</div>
<div class="media" style="padding-right: 15px;color:#626262 ">
<div class="col-sm-12">
    <p>您选取了 <span class="invoice_select_order_num">{% if invoice.select_order_num %}{{invoice.select_order_num}} {% else %}{% end %}</span>条单据开具发票金额合计￥<span class="invoice_invoice_price">{{invoice.invoice_price}}</span>元</p>

    <p>
        发票抬头：<span class="invoice_title" style="margin-right:25px">{{invoice.title}}</span>
        开具类型：<span class="invoice_make_invoice_type" style="margin-right: 25px">{{invoice.make_invoice_type_name}}</span>
        发票类型：<span class="invoice_invoice_type">{{invoice.invoice_type_name}}</span>
    </p>
</div>
<div class="invoices col-sm-12">
    <div class="f-title-1" style="margin: 15px 0;">
        <button class="f-address-add btn-red " data-toggle="modal" data-target="#myModal" style="width:130px;line-height: 33px;;background-color: #42AFE3; border-radius: 0;font-size: 14px;height: 33px;margin-top: 10px;">
             <span class="glyphicon glyphicon-plus"></span>新增收货地址
        </button>
        <span class="y-pale prompt_sty" style=""> ( 最多保存5个地址 )</span>
    </div>
    <form action="" class="form-horizontal" role="form" method="post">
        <input type="hidden" id="order_id" value="{{order_nums}}"/>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" style="color: #848484;border:1px solid red">
                <thead>
                <tr  style="background-color: #edf9ff;border: 1px solid #e1e1e1;color:#161622;">
                    <th class="th_sty" style="border:none;"></th>
                    <th class="th_sty" style="border:none;">收件人姓名</th>
                    <th class="th_sty" style="border:none;width: 200px">所在地区</th>
                    <th class="th_sty" style="border:none;">邮政编码</th>
                    <th class="th_sty" style="border:none;"></th>
                    <th class="th_sty" style="border:none;">手机号</th>
                    <th class="th_sty" style="border:none;">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for address in delivery_addresses %}
                <tr class="th_sty" style="border: 1px solid #e1e1e1">
                    <td class="algin_sty" style="border:none;"><input data-id="address{{address.id}}" name="invoice.delivery_address_id" type="radio" value="{{address.id}}"></td>
                    <td class="algin_sty" style="border:none;">{{address.name}}</td>
                    <td class="algin_sty" style="border:none;">{{address.address}}</td>
                    <td class="algin_sty" style="border:none;">10000</td>
                    <td class="algin_sty" style="border:none;">设为默认地址</td>
                    <td class="algin_sty" style="border:none;">{{address.mobile}}</td>
                    <td class="algin_sty" style="border:none;">
                        <a href="" data-toggle="modal" class="txt_btn" data-target="#myModal1" data-value="{{address.id}}">修改</a> | <a href="" data-repayment="{{address.id}}" class="delivery_address_delete">删除</a>
                    </td>
                </tr>
                {%end%}
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <div class="col-sm-11" style="text-align: center">
                <input type="button" class=" btn-red" id="confirm_btn" name="submit" style="border-radius: 0px;width:80px;height:33px;line-height: 15px;margin-right: 14px" value="提交"/>
                <a href="/invoice/demands" class="btn" style="border-radius: 0px;width:80px; background-color: #cfcfcf;color:#fff;margin-top: -4px;">取消</a>
            </div>
        </div>
    </form>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>使用新地址</h3>
                </div>
                <div class="modal-body">
                    <form action="/delivery_address" method="post" class="form-horizontal delivery_form">
                        {% raw xsrf_form_html() %}
                        <div class="form-group">
                            <label class="control-label col-sm-3">收件人姓名：</label>

                            <div class="col-sm-9">
                                <input class="form-control" type="text" id="add_name"
                                       name="add_delivery_address.name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">所在地区</label>

                            <div class="col-sm-3 col-xs-12">
                                <select class="form-control" id="provinces" name="provinces"></select>
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <select class="form-control" id="cities" name="cities"></select>
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <select class="form-control" id="areas" name="areas"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">街道地址：</label>

                            <div class="col-sm-9">
                                <input class="form-control" type="text" id="add_address"
                                       name="add_delivery_address.address">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">邮政编码：</label>

                            <div class="col-sm-9">
                                <input class="form-control" id="add_postalcode" name="add_delivery_address.postalcode" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">手机号码：</label>

                            <div class="col-sm-9">
                                <input class="form-control" type="text" id="add_mobile"
                                       name="add_delivery_address.mobile">
                            </div>
                        </div>
                        <div style="display:none">
                            <input type="hidden" class="province" name="delivery_address.province_code" value="{{add_delivery_address.get('province_code',110000)}}" id="ycyprovince">
                            <input type="hidden" class="city" name="delivery_address.city_code" value="{{add_delivery_address.get('city_code',110100)}}" id="ycycity">
                            <input type="hidden" name="delivery_address.area_code" id="ycyareas" value="{{add_delivery_address.get('area_code',110101)}}" class="ycyqb">
                            <input name="delivery_address.text" value="2" class="form-control " type="hidden">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" id="submit_apply">确认</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h3>修改地址</h3>
            </div>
            <div class="modal-body">
                <form action="/delivery_address" method="post" class="form-horizontal change_address"
                      id="form_a">
                    {% raw xsrf_form_html() %}
                    <input name="_method" type="hidden" value="put"/>
                    <input id="change_delivery_address_id" name="change_delivery_address.id" type="hidden" value="{{change_delivery_address.id}}"/>

                    <div class="form-group">
                        <label class="control-label col-sm-3">收件人姓名：</label>

                        <div class="col-sm-9">
                            <input class="form-control" type="text" id="name_id" name="change_delivery_address.name"
                                   value="{{change_delivery_address.name}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">所在地区</label>

                        <div class="col-sm-3 col-xs-12">
                            <select class="form-control" id="provinces_f" name="provinces_f"></select>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <select class="form-control" id="cities_f" name="cities_f"></select>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <select class="form-control" id="areas_f" name="areas_f"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">街道地址：</label>

                        <div class="col-sm-9">
                            <input class="form-control" type="text" id="address_id", name="change_delivery_address.address"
                                   value="{{change_delivery_address.address}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">邮政编码：</label>

                        <div class="col-sm-9">
                            <input class="form-control" type="text" id="postalcode_id" name="change_delivery_address.postalcode"
                                   value="{{change_delivery_address.postalcode}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">手机号码：</label>

                        <div class="col-sm-9">
                            <input class="form-control" type="text" id="mobile_id" name="change_delivery_address.mobile"
                                   value="{{change_delivery_address.mobile}}">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary" id="change_btn">确认</button>
                    </div>
                    <div style="display:none">
                        <input type="hidden" class="province" name="change_delivery_address.province_code" value="{{change_delivery_address.get('province_code',110000)}}" id="ycyprovinces_f">
                        <input type="hidden" class="city" name="change_delivery_address.city_code" value="{{change_delivery_address.get('city_code',110100)}}" id="ycycities_f">
                        <input type="hidden" name="change_delivery_address.area_code" id="ycyareas_f" value="{{change_delivery_address.get('area_code',110101)}}" class="ycyqb">
                        <input name="change_delivery_address.text" value="2" class="form-control " type="hidden">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
{% end %}
</div>
{% block javascript %}
<!--<script src="{{ static_url('js/validator.min.js') }}"></script>-->
<script src="{{ static_url('js/cityselector.min.js')}}"></script>
<!--<script src="{{ static_url('js/jquery.form.min.js') }}"></script>-->
<script>
$('#invoice_demands').addClass('active').parents('.subside').show();
$("#invoice_demands").parents('dl').find('.glyphicon').addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-right');
$('.delivery_address_delete').click(function () {
    if (!confirm('确定要刪除吗？')) {
        return false
    }
    ;
    $(this).parents('.form-group').remove();
    var params = {'_xsrf': $("input[name=_xsrf]").attr('value'), '_method': 'delete', 'address.id': $(this).data('repayment')};
    $.ajax({
        type: "DELETE",
        url: "/delivery_address",
        data: params,
        success: function (data) {
        },
        error: function (data) {
            wModalDialog({
                    content:'删除失败',
                    showAnimate:true,
                    type:"failed"
                 });
            console.log(data);
        }
    });
});
$('#submit_apply').click(function () {
    var form_validator = $('.delivery_form').data('bootstrapValidator');
    form_validator.validate();
    if (!form_validator.isValid()) {
        return false
    }
    var $submit_apply = $(this)
    params = {
        '_xsrf': $("input[name=_xsrf]").val(),
        'delivery_address.name': $("#add_name").val(),
        'delivery_address.address': $("#add_address").val(),
        'delivery_address.mobile': $("#add_mobile").val(),
        'delivery_address.province_code': $('#provinces').val(),
        'delivery_address.city_code': $('#cities').val(),
        'delivery_address.area_code': $('#areas').val(),
        'delivery_address.postalcode': $('#add_postalcode').val()

    };
    $.ajax({
        type: "post",
        url: "/delivery_address",
        data: params,
        beforeSend: function (XMLHttpRequest) {
            $submit_apply.addClass("disabled");
        },
        success: function (data, textStatus) {
            wModalDialog({
                content: ('确认成功!'),
                showAnimate: true,
                type: "success",
                cancelCallBack: function () {
                    location.reload();
                }
            });
            $('#myModal').modal('hide');
        },
        complete: function (XMLHttpRequest, textStatus) {
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
            wModalDialog({
                    content:textStatus + ":" + errorThrown,
                    showAnimate:true,
                    type:"failed"
                 });
        }
    })
});

$('.delivery_form').bootstrapValidator({
    submitButtons: "#submit_apply",
    verbose: false,
    fields: {
        "add_delivery_address.name": {
            validators: {
                notEmpty: {
                    message: '联系人不能为空！'
                },
                regexp: {
                    regexp: /^([A-Za-z]|[\u4E00-\u9FA5])+$/,
                    message: '请填写真实姓名！'
                }
            }
        },
        provinces: {
            validators: {
                notEmpty: {
                    message: '请选择省！'
                }
            }
        },
        cities: {
            validators: {
                notEmpty: {
                    message: '请选择市！'
                }
            }
        },
        areas: {
            validators: {
                notEmpty: {
                    message: '请选择区！'
                }
            }
        },
        "add_delivery_address.address": {
            validators: {
                notEmpty: {
                    message: '请填写完整的街道地址'
                }
            }
        },
        "add_delivery_address.mobile": {
            validators: {
                notEmpty: {
                    message: '请输入手机号！'
                },
                regexp: {
                    regexp: /^0?(13[0-9]|15[012356789]|18[02356789]|14[57])[0-9]{8}$/,
                    message: '请输入正确的手机号码'
                }
            }
        },
        "add_delivery_address.postalcode":{
            validators:{
                    notEmpty:{
                        message:'请输入六位所在区域邮编！'
                    },
                    regexp: {
                        regexp:/^[a-zA-Z0-9]{6}$/,
                        message: '请输入所在区域邮编！'
                     }
                }
        }
    }
});
$('.change_address').bootstrapValidator({
    submitButtons: "#change_btn",
    verbose: false,
    fields: {
        "change_delivery_address.name": {
            validators: {
                notEmpty: {
                    message: '联系人不能为空！'
                },
                regexp: {
                    regexp: /^([A-Za-z]|[\u4E00-\u9FA5])+$/,
                    message: '请填写真实姓名！'
                }
            }
        },
        provinces_f: {
            validators: {
                notEmpty: {
                    message: '请选择省！'
                }
            }
        },
        cities_f: {
            validators: {
                notEmpty: {
                    message: '请选择市！'
                }
            }
        },
        areas_f: {
            validators: {
                notEmpty: {
                    message: '请选择区！'
                }
            }
        },
        "change_delivery_address.address": {
            validators: {
                notEmpty: {
                    message: '请填写完整的街道地址'
                }
            }
        },
        "change_delivery_address.mobile": {
            validators: {
                notEmpty: {
                    message: '联系人不能为空！'
                },
                regexp: {
                    regexp: /^0?(13[0-9]|15[012356789]|18[02356789]|14[57])[0-9]{8}$/,
                    message: '请输入正确的手机号码'
                }
            }
        },
        "change_delivery_address.postalcode":{
            validators:{
                    notEmpty:{
                        message:'请输入六位所在区域邮编！'
                    },
                    regexp: {
                        regexp:/^[a-zA-Z0-9]{6}$/,
                        message: '请输入所在区域邮编！'
                     }
                }
        }
    }

});
/*省市区三级联动*/
cityselector({
    'provinces': 'provinces',
    'cities': 'cities',
    'areas': 'areas',
    'back_provinces': '{{add_delivery_address.province_code}}',
    'back_city': '{{add_delivery_address.city_code}}',
    'back_area': '{{add_delivery_address.area_code}}',
    'ycyprovince': 'ycyprovince',
    'ycycity': 'ycycity',
    'ycyareas': 'ycyareas'
});
cityselector({
    'provinces': 'provinces_f',
    'cities': 'cities_f',
    'areas': 'areas_f',
    'back_provinces': '{{change_delivery_address.get("province_code")}}',
    'back_city': '{{change_delivery_address.get("city_code")}}',
    'back_area': '{{change_delivery_address.get("area_code")}}',
    'ycyprovince': 'ycyprovinces_f',
    'ycycity': 'ycycities_f',
    'ycyareas': 'ycyareas_f'
});

$('#change_btn').click(function () {
    var form_validator = $('.change_address').data('bootstrapValidator');

    form_validator.validate();
    if (!form_validator.isValid()) {
        return false
    }
});

$('.txt_btn').click(function () {

    var address_id = $(this).data('value');
    $.ajax({
        type: "get",
        url: "/delivery_address",
        data: {'delivery_address_id': address_id},
        success: function (data) {
            var aaa = eval(data).change_delivery_address;
            var $province_code = aaa.province_code;
            var $city_code = aaa.city_code;
            var $area_code = aaa.area_code;
            var postalcode = aaa.postalcode;
            var name = aaa.name;
            var mobile = aaa.mobile;
            var address = aaa.address
            for (var i in aaa) {
                $('#form_a').find('input[name="' + 'change_delivery_address.' + i + '"]').attr('value', aaa[i]);
            }
            $('#provinces_f').find('option[value="' + $province_code + '"]').attr('selected', '').change();

            $('#cities_f').find('option[value="' + $city_code + '"]').attr('selected', '').change();
            $('#areas_f').find('option[value="' + $area_code + '"]').attr('selected', '').change();
            $('#postalcode_id').val(postalcode);
            $('#name_id').val(name);
            $('#mobile_id').val(mobile);
            $('#address_id').val(address);
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
            wModalDialog({
                content:textStatus + ":" + errorThrown,
                showAnimate:true,
                type:"failed"
             });
        }


    });
    $('.empty_btn').click(function () {
        location.reload();
    });
});
$('#confirm_btn').click(function () {

    var params = {'_xsrf': $("input[name=_xsrf]").val(),
        'delivery_address_id': $('input[name="invoice.delivery_address_id"]:checked').val(),
        'order_ids': $('#order_id').val(),
        'select_order_num': $('.invoice_select_order_num').html(),
        'invoice_price': $('.invoice_invoice_price').html(),
        'title': $('.invoice_title').html(),
        'make_invoice_type': '{{invoice.make_invoice_type}}',
        'invoice_type': '{{invoice.invoice_type}}'}

    $.ajax({
        type: "post",
        url: "/invoice/submit",
        data: params,
        success: function (data) {
            console.log(data.result);
            if (data.result == 1) {
                wModalDialog({
                    content: ('提交成功!'),
                    showAnimate: true,
                    type: "success",
                    cancelCallBack: function () {
                        window.location.href = '/invoices';
                    }
                });
            }
        },
        error: function (response) {
            console.log(response)
            var error = response.responseJSON;
            console.log(error['msg'])
            wModalDialog({
                content: error['msg'],
                showAnimate: true,
                type: "failed"
            });

        }
    })
});
if ($('body').width() <= 768) {
    $('.mid1').css('display', 'none')
}
;
</script>
{% end %}