{% extends "../layouts/application.html" %}
{% block body %}
<div class="container">
    <div class="row">
        {% include "../../layouts/left.html"%}
        <div class="col-md-10 forms">
            <div style="font-size: 24px;margin-top: 30px;margin-left: 15px">发票信息</div>
            <form class="form-horizontal" id="invoice_new_form" action="/invoice_basic/submit" method="post">
                {% raw xsrf_form_html() %}
                {% if invoice_basic.id%}
                    <input name="_method" type="hidden" value="put"/>
                    <input name="id" type="hidden" value="{{invoice_basic.id}}"/>
                {% end %}
                <div class="form-group" style="margin-top: 20px">
                    <label class="col-sm-3 control-label">开票类型*</label>

                    <div class="col-sm-9">
                        <label class="radio-inline">
                            <input type="radio" name="make_invoice_type" id="inliklneRadio1" value="person" checked>个人
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="make_invoice_type" id="inliklneRadio2" value="com">企业
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-3 control-label">开票抬头*</label>
                    <div class="col-sm-5">
                        <div id="fp_qy">
                            <input type="text" class="form-control" id="invoice_title" placeholder="开票抬头" name="title" {% if invoice_basic.make_invoice_type == 'person'%} readonly {% end %} value="{{invoice_basic.title}}">
                            <small id="prompt_flag" style="display: none">长度不能少于2个字符或超过100个字符!</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">发票类型*</label>
                    <div class="col-sm-9">
                        <label class="radio-inline">
                            <input type="radio" name="invoice_type" id="inliklneRadio3" class="leixing" value="normal" checked>增值税普通发票
                        </label>
                        <label class="radio-inline" id="f" style="display:none">
                            <input type="radio" name="invoice_type" id="inliklneRadio4" class="leixing" value="special">增值税专用发票
                        </label>
                    </div>
                </div>
                <div class="xb" style="display:none">
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">税务登记证号*</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputPassword4" placeholder="税务登记证号" name="tax_reg_certi_num" value="{{invoice_basic.tax_reg_certi_num}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">基本户开户银行名称*</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputPassword5" placeholder="基本户开户银行名称" name="bank_name" value="{{invoice_basic.bank_name}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">基本户开户账号*</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputPassword10" placeholder="基本户开户账号" name="bank_account" value="{{invoice_basic.bank_account}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">注册场所地址*</label>

                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputPassword6" placeholder="注册场所地址" name="register_address" value="{{invoice_basic.register_address}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">注册固定电话*</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="inputPassword7" placeholder="例：010-12345678" name="register_phone" value="{{invoice_basic.register_phone}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">营业执照复印件*</label>
                        <div class="col-sm-2">
                            <input type="hidden" name="certi_img" data-name="jpg1" value="{{invoice_basic.certi_img}}" class="form-control">
                            <button type="button" data-num="1" id="iFrameUpload_img1" name="invoiceImg1" class="btn btn-defaults uploadHook certi_btn">上传图片</button>
                        </div>
                        <div class="col-sm-7">
                            <p class="tip">提醒：涉及业务操作，请上传图片小于2M，允许类型(jpg,gif,png,bmp)</p>
                        </div>
                        <div class="col-sm-9 col-sm-offset-3 upload-content1">
                            <div class="clear" id="files_img1" style="padding-top: 10px;"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">税务登记复印件*</label>
                        <div class="col-sm-2">
                            <input type="hidden" name="tax_certi_img" data-name="jpg2" value="{{invoice_basic.tax_certi_img}}" class="form-control">
                            <button type="button" data-num="2" name="invoiceImg2" id="iFrameUpload_img2" class="btn btn-defaults uploadHook tax_certi_btn">上传图片</button>
                        </div>
                        <div class="col-sm-7"><p class="tip">提醒：涉及业务操作，请上传图片小于2M，允许类型(jpg,gif,png,bmp)</p></div>
                        <div class="col-sm-9 col-sm-offset-3 upload-content2">
                            <div class="clear" id="files_img2" style="padding-top: 10px;"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">纳税人资格认证复印件*</label>
                        <div class="col-sm-2">
                            <input type="hidden" name="taxpayer_certi_img" data-name="jpg3" value="{{invoice_basic.taxpayer_certi_img}}" class="form-control">
                            <button type="button" data-num="3" name="invoiceImg3" id="iFrameUpload_img3" class="btn btn-defaults uploadHook taxpayer_btn">上传图片</button>
                        </div>
                        <div class="col-sm-7"><p class="tip">提醒：涉及业务操作，请上传图片小于2M，允许类型(jpg,gif,png,bmp)</p></div>
                         <div class="col-sm-9 col-sm-offset-3 upload-content3">
                            <div class="clear" id="files_img3" style="padding-top: 10px;"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button  class="btn-red" id="successBtn">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% end %}
{% block javascript %}
<script src="{{ static_url('js/jquery.form.min.js') }}"></script>
<script>
    $('#invoice-new').addClass('active').parents('.subside').show();
    $("#invoice-new").parents('dl').find('.glyphicon').addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-right');
    $('#inliklneRadio1').click(function () {
        $('#invoice_title').attr({'readonly':true});
        $('#invoice_title').val('个人');
        $('.xb').css('display', 'none');
        $('#f').css('display', 'none');
        $('#prompt_flag').css('display', 'none');
        $('#inliklneRadio4').get(0).checked = false;
        $('#inliklneRadio3').get(0).checked = true;
    });
    $('#inliklneRadio2').click(function () {
        $('#invoice_title').attr({'readonly':false});
        $('#invoice_title').val('{{invoice_basic.title}}');
        $('#prompt_flag').css('display', '');
        $('#f').css('display', 'inline-block');
    });
    $('#inliklneRadio3').click(function () {
        $('.xb').css('display', 'none');
    })
    $('#inliklneRadio4').click(function () {
        $('.xb').css('display', 'block');
    });

    var make_invoice_Type = "{{invoice_basic.make_invoice_type}}";
    var invoice_Type = "{{invoice_basic.invoice_type}}";
    if(make_invoice_Type == 'com'){
        $('#inliklneRadio2').click();
    }
    if(invoice_Type == 'special'){
        $('#inliklneRadio4').click();
    }
    /*表单校验*/
    $('#invoice_new_form').bootstrapValidator({
//        submitButtons:'#successBtn',
        fields:{
            "title":{
                validators: {
                    notEmpty: {
                        message: '请填写发票抬头！'
                    }
                }
            },
            "tax_reg_certi_num":{
                validators: {
                    notEmpty: {
                        message: '请填写税务登记证号！'
                    }
                }
            },
            "bank_name":{
               validators: {
                    notEmpty: {
                        message: '请填写开户银行名称！'
                    }
                }
            },
            "bank_account":{
                validators: {
                    notEmpty: {
                        message: '请填写开户账号！'
                    },
                    regexp: {
                        regexp: /^[0-9]*$/,
                        message: '请填写开户账号！'
                    }
                }
            },
            "register_address":{
                validators: {
                    notEmpty: {
                        message: '请填写注册场所地址！'
                    }
                }
            },
            "register_phone":{
                validators: {
                    notEmpty: {
                        message: '请填写注册固定电话！'
                    },
                    regexp: {
                        regexp: /(\d{2,5}-\d{7,8}(-\d{1,})?)|(13\d{9})|(159\d{8})/,
                        message: '请填写注册固定电话！'
                    }
                }
            },
            'certi_img':{
                validators: {
                    notEmpty: {
                        message: '请上传！'
                    }
                }
            },
            'tax_certi_img':{
                validators: {
                    notEmpty: {
                        message: '请上传！'
                    }
                }
            },
            'taxpayer_certi_img':{
                validators: {
                    notEmpty: {
                        message: '请上传！'
                    }
                }
            }
        }
    });
    var GetUpimg = function (){

        $(document).on('click','.uploadHook',function (){
            var $this = $(this);
            var num = $this.data('num');
            var hook = $this.attr('id');
            var $hook = $('#'+hook);

            getImg($hook,num);
            if (!window.ActiveXObject) {
               $('#form_iFrameUpload_img'+num).find('input[name=fileData]').click();
            }
        });
       function getImg($hook,index) {
            $hook.wIFrameUpload({
                url: "/iframe_upload",
                ossName: "yestar",
                openPositionInterval: true,
                beforeSubmit: function ($file_input_img) {
                    var file_name = $file_input_img.val();
                    var arr = ["gif", "jpeg", "jpg", "bmp", "png"];
                    if (!RegExp("\.(" + arr.join("|") + ")$", "i").test(file_name.toLowerCase())) {
                        wModalDialog({
                            content:'选择文件错误,图片类型必须是(gif,jpeg,jpg,bmp,png)中的一种',
                            showAnimate:true,
                            type:"failed"
                         });
                        return false;
                    }
                    if ($('#files_img'+index).html()) {
                        $('#file_hidden_img'+index).html('');
                        $('#files_img'+index).html('');
                    }
                    $('#files_img'+index).html('<div class="file" state="load"><img width="100px" height="100px" src="/s/img/load.gif"></div>');
                    return true;//返回false 阻止提交
                },
                success: function (data) {
                    if (data.status == 1) {
                        $('#files_img'+index).css('display', 'block');
                        $('#files_img'+index).html('<div class="file"><img class="imgs" style="width:100px;height:100px;" src="' + data.downloadUrl + '"></div>');
                        $('input[data-name=jpg'+index+']').val(data.ossUrl);
                        $hook.html('修改上传');
                        $hook.attr('value', '111');
                    } else {
                        wModalDialog({
                            content:data.message,
                            showAnimate:true,
                            type:"failed"
                         });
                    }
                }
            });
        };
    }();
    function invoiceImg(){
        var imgArr = [
                '{{invoice_basic.certi_img}}',
                '{{invoice_basic.tax_certi_img}}',
                '{{invoice_basic.taxpayer_certi_img}}'
        ];
       for(var i = 0;i<imgArr.length;i++){
               var j = i+1;
           if(imgArr[i] !== ''){
               $('button[name=invoiceImg'+j+']').attr('value','1111');
               $('#files_img'+j).html('<div class="file"><img class="imgs" width="100px" height="100px" src="{{downloadurl}}' +imgArr[i] + '"/></div>')
           }
       }
    }invoiceImg();

    //获取 所需的form表单
    $('#successBtn').click(function(){
        $('#invoice_new_form').ajaxSubmit({
            success: function(){
                window.location.href="/invoice_basic/detail";
            },
            error: function (response) {
                var errors = response.responseJSON.errors;
                errors.forEach(function (field,msg){
                    showErr(errors[msg].field,errors[msg].msg)
                    console.log(errors[msg].field,errors[msg].msg)
                })
            }
        });
        return false

    });
</script>
{% end %}