<form class="form-horizontal" role="form" id="copyright_feature_Form" name="ajaxForm" width="600px" action="/copyright/soft/feature" method="post">
    {% raw xsrf_form_html()%}
    <input type="hidden" name="order_id" value="{{order.id}}">
    <div class="form-group">
        <label for="" class="col-sm-2 col-md-3 control-label">硬件运行硬件环境</label>
        <div class="col-sm-10 col-md-9">
            <textarea name="hardware_env" id="hardware_env" class="form-control" rows="2">{{detail.hardware_env}}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-sm-2 col-md-3 control-label">软件运行软件环境</label>
        <div class="col-sm-10 col-md-9">
            <textarea name="software_env" id="software_env" class="form-control" rows="2">{{detail.software_env}}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-sm-2 col-md-3 control-label">源程序量</label>
        <div class="col-sm-10 col-md-9">
            <textarea name="source_pro_size" id="source_pro_size" class="form-control" rows="1">{{detail.source_pro_size}}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-sm-2 col-md-3 control-label">编程语言</label>
        <div class="col-sm-10 col-md-9">
            <textarea name="pro_lan" id="pro_lan" class="form-control" rows="1">{{detail.pro_lan}}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-sm-2 col-md-3 control-label">软件功能和技术特点</label>
        <div class="col-sm-10 col-md-9">
            <textarea name="function_feature" id="function_feature" class="form-control" rows="4">{{detail.function_feature}}</textarea>
        </div>
    </div>
    <div class="form-group" style="margin-top: 40px;">
        <div class="col-sm-6 col-sm-offset-4 col-md-4col-md-offset-8" style="text-align: right;">
            <input type="submit" class="btn-next" value="保存">
            <button type="button" name="cancelForm" class="btn-pre">取消</button>
        </div>
    </div>
</form>
<script>
    $('#copyright_feature_Form').bootstrapValidator({
            fields:{
                hardware_env:{
                    validators:{
                        notEmpty:{
                            message:'请填写硬件运行硬件环境！'
                        },
                        stringLength: {
                            max: 125,
                            message: '最多不超过125个字符！'
                        }
                    }
                },
                software_env:{
                    validators:{
                        notEmpty:{
                            message:'请填写软件运行软件环境！'
                        },
                        stringLength: {
                            max: 125,
                            message: '最多不超过125个字符！'
                        }
                    }
                },
                source_pro_size:{
                    validators:{
                        notEmpty:{
                            message:'请填写源程序量！'
                        },
                        stringLength: {
                            max: 50,
                            message: '最多不超过50个字符！'
                        }
                    }
                },
                pro_lan:{
                    validators:{
                        notEmpty:{
                            message:'请填写编程语言！'
                        },
                        stringLength: {
                            max: 20,
                            message: '最多不超过20个字符！'
                        }
                    }
                },
                function_feature:{
                    validators:{
                        notEmpty:{
                            message:'请填写软件功能和技术特点！'
                        },
                        stringLength: {
                            max: 350,
                            message: '最多不超过350个字符！'
                        }
                    }
                }

            }
        });
function copyright_feature_Form(){

      var data = {
          'hardware_env':$('#hardware_env').val(),
          'software_env':$('#software_env').val(),
          'source_pro_size':$('#source_pro_size').val(),
          'pro_lan':$('#pro_lan').val(),
          'function_feature':$('#function_feature').val()
      }
      $('.hardware_env_text').text(data.hardware_env);
      $('.software_env_text').text(data.software_env);
      $('.source_pro_size_text').text(data.source_pro_size);
      $('.pro_lan_text').text(data.pro_lan);
      $('.function_feature_text').text(data.function_feature)
    }
    parse_functions['copyright_feature_Form'] = copyright_feature_Form;
</script>