<form class="form-horizontal" role="form" id="copyright_softinfo_Form" name="ajaxForm" width="600px" action="/copyright/soft/info" method="post">
    {% raw xsrf_form_html()%}
    <input type="hidden" name="order_id" value="{{order.id}}">
    <div class="form-group">
        <label for="" class="col-sm-2 col-md-3 control-label">软件名称</label>
        <div class="col-sm-10 col-md-7">
            <input type="text" class="form-control" id="soft_name" name="soft_name" value="{{detail.soft_name}}"/>
        </div>
     </div>
     <div class="form-group">
        <label for="" class="col-sm-2 col-md-3 control-label">软件简称</label>
        <div class="col-sm-10 col-md-7">
            <input type="text" class="form-control" id="soft_abb" name="soft_abb" value="{{detail.soft_abb}}"/>
        </div>
     </div>
     <div class="form-group">
        <label for="" class="col-sm-2 col-md-3 control-label">版本号</label>
        <div class="col-sm-10 col-md-7">
            <input type="text" class="form-control" id="version_mum" name="version_num" value="{{detail.version_num}}"/>
        </div>
     </div>
     <div class="form-group">
        <label for="" class="col-sm-2 col-md-3 control-label">软件作品说明</label>
        <div class="col-sm-10 col-md-5">
           {% module radio(name="soft_description",
            value=detail.soft_description,
            radio_type="cus_inline",
            options=[{"id":"1","name":"原创"},
                    {"id":"2","name":"修改"}],
            value_field='id',
            name_field='name',
            ext_class='soft_description_list')%}
        </div>
     </div>
    <div id="hidden_soft_description" style="display:none;">
        <div class="form-group">
            <div class="col-md-8 col-md-offset-3">
                 <div class="checkbox">
                  <label>
                    <input type="checkbox" name="modify_select" value="1" {% if '1' in detail.modify_select %} checked="checked" {% end %}>
                    是修改、翻译或合成别人软件，且需要原权利人授权的
                  </label>
                </div>
                 <div class="checkbox">
                  <label>
                    <input type="checkbox" name="modify_select" value="2" {% if '2' in  detail.modify_select %} checked="checked" {% end %}>
                    原有软件已经登记
                  </label>
                </div>
             </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 col-md-3 control-label">修改合成或翻译说明 </label>
            <div class="col-sm-10 col-md-9">
                <textarea name="trans_description" id="trans_description" class="form-control" rows="2">{{detail.trans_description}}</textarea>
            </div>
         </div>
    </div>
     <div class="form-group">
        <label for="" class="col-sm-2 col-md-3 control-label">软件开发完成日期</label>
        <div class="col-sm-10 col-md-5">
            <div class="form-horizontal">
                 <fieldset>
                  <div class="control-group">
                    <div class="controls">
                     <div class="input-prepend input-group">
                         <input type="text" readonly="readonly" style="width: 200px" name="soft_finish_date" id="soft_finish_date" placeholder="请选择时间" class="form-control" value="{% if detail.soft_finish_date %}{{detail.soft_finish_date}}{% else %}{% end %}">
                     </div>
                    </div>
                  </div>
                 </fieldset>
               </div>
        </div>
     </div>
     <div class="form-group">
        <label for="" class="col-sm-2 col-md-3 control-label">是否发表</label>
        <div class="col-sm-10 col-md-5">
            {% module radio(name="is_publish",
            value=detail.is_publish,
            radio_type="cus_inline",
            options=[{"id":"1","name":"已发表"},
                    {"id":"2","name":"未发表"}],
            value_field='id',
            name_field='name',
            ext_class='is_publish_list')%}
        </div>
     </div>
    <div id="hidden_is_publish">
         <div class="form-group">
            <label for="" class="col-sm-2 col-md-3 control-label">发表日期</label>
            <div class="col-sm-10 col-md-5">
                <div class="form-horizontal">
                 <fieldset>
                  <div class="control-group">
                    <div class="controls">
                     <div class="input-prepend input-group">
                         <input type="text" readonly="readonly" style="width: 200px" name="publish_date" id="publish_date" placeholder="请选择时间" class="form-control" value="{% if detail.publish_date %}{{detail.publish_date}}{% else %}{% end %}">
                     </div>
                    </div>
                  </div>
                 </fieldset>
               </div>
            </div>
         </div>
         <div class="form-group">
            <label for="" class="col-sm-2 col-md-3 control-label">发表地点</label>
            <div class="col-sm-10 col-md-2">
                <select name="first_publish_country" class="form-control wordCountry" id="first_publish_country"></select>
            </div>
            <div class="col-sm-10 col-md-2">
                <input type="text" value="{{detail.first_publish_city}}" name="first_publish_city" class="form-control" id="first_publish_city" placeholder="城市"/>
            </div>
         </div>
    </div>
     <div class="form-group">
        <label for="" class="col-sm-2 col-md-3 control-label">开发方式</label>
        <div class="col-sm-10 col-md-7">
            {% module radio(name="develop_way",
            value=detail.develop_way,
            radio_type="cus_inline",
            options=[{"id":"1","name":"独立开发"},
                    {"id":"2","name":"合作开发"},
                    {"id":"3","name":"委托开发"},
                    {"id":"4","name":"下达任务开发"}],
            value_field='id',
            name_field='name',
            ext_class='develop_way_list')%}
        </div>
     </div>
     <div class="form-group">
        <label for="" class="col-sm-2 col-md-3 control-label">权利取得方式</label>
        <div class="col-sm-10 col-md-5">
            {% module radio(name="right_get_way",
            value=detail.right_get_way,
            radio_type="cus_inline",
            options=[{"id":"1","name":"原始取得"},
                    {"id":"2","name":"继受取得"}],
            value_field='id',
            name_field='name',
            ext_class='right_get_way_list')%}
        </div>
         <div id="hidden_right_get_way" style="display: none;">
             <div class="col-md-7 col-md-offset-3">
                 <div class="radio-inline">
                  <label>
                    <input type="radio" name="acquisition_select" id="" value="1"{% if detail.acquisition_select == 1 %} checked {% end %}>
                    受让
                  </label>
                </div>
                 <div class="radio-inline">
                  <label>
                    <input type="radio" name="acquisition_select" id="" value="2" {% if detail.acquisition_select == 2 %} checked {% end %}>
                    承受
                  </label>
                </div>
                 <div class="radio-inline">
                  <label>
                    <input type="radio" name="acquisition_select" id="" value="3" {% if detail.acquisition_select == 3 %} checked {% end %}>
                    继承
                  </label>
                </div>
             </div>
             <div class="col-md-9 col-md-offset-3">
                 <div class="checkbox">
                      <label>
                        <input type="checkbox" value="1" name="is_soft_reg" {% if detail.is_soft_reg == 1 %} checked {% end %}>
                        软件是否已登记(原登记号：<input type="text" class="border_bottom" name="source_reg_num" value="{{detail.source_reg_num}}"/>)
                      </label>
                </div>
             </div>
             <div class="col-md-9 col-md-offset-3">
                 <div class="checkbox">
                      <label>
                        <input type="checkbox" value="1" name="is_reg_num_change" {% if detail.is_reg_num_change == 1 %} checked {% end %}>
                        原登记是否做过变更或补充(变更或补充证明编号：<input type="text" class="border_bottom" name="change_reg_num" value="{{detail.change_reg_num}}"/>)
                      </label>
                </div>
             </div>
         </div>
     </div>
     <div class="form-group">
        <label for="" class="col-sm-2 col-md-3 control-label">权利范围</label>
        <div class="col-sm-10 col-md-9">
            {% module radio(name="right_range",
                value=detail.right_range,
                radio_type="cus_inline",
                options=[{"id":"1","name":"全部"},
                        {"id":"2","name":"部分"}],
                value_field='id',
                name_field='name',
                ext_class='right_range_list')%}
        </div>
        <div class="col-sm-10 col-md-9 col-md-offset-3" id="disabled_right_range">
            {% for range in detail.right_ranges %}
                <label>
                    <input type="checkbox" disabled value="{{range.id}}" {% if str(range.id) in detail.range_select %} checked="checked" {% end %} name="range_select">{{range.opt_title}}
                </label>
            {% end %}
        </div>
     </div>
    <div class="form-group" style="margin-top: 40px;">
        <div class="col-sm-6 col-sm-offset-4 col-md-4col-md-offset-8" style="text-align: right;">
            <input type="submit" class="btn-next" value="保存">
            <button type="button" name="cancelForm" class="btn-pre">取消</button>
        </div>
    </div>
</form>
<script>
    /*校验*/
    $('#copyright_softinfo_Form').bootstrapValidator({
            fields:{
                soft_name:{
                    validators:{
                        notEmpty:{
                            message:'请填写软件名称！'
                        }
                    }
                },
                version_num:{
                    validators:{
                        notEmpty:{
                            message:'请填写版本号！'
                        }
                    }
                },
                first_publish_city:{
                    validators:{
                        notEmpty:{
                            message:'请填写城市！'
                        }
                    }
                },
                trans_description:{
                    validators:{
                        notEmpty:{
                            message:'请填写修改合成或翻译说明！'
                        },
                         stringLength: {
                            max: 200,
                            message: '最多不超过200个字符！'
                        }
                    }
                }

            }
        });

    function copyright_softinfo_Form(){
//        软件作品说明
        var $soft_description = $('.soft_description_list li[data-value='+$('input[name="soft_description"]').val()+']').text();
//        发表
        var $is_publish = $('.is_publish_list li[data-value='+$('input[name="is_publish"]').val()+']').text();
//        开发方式
        var $develop_way = $('.develop_way_list li[data-value='+$('input[name="develop_way"]').val()+']').text();
//        权利取得方式
        var $right_get_way = $('.right_get_way_list li[data-value='+$('input[name="right_get_way"]').val()+']').text();
//        权利范围
        var $right_range = $('.right_range_list li[data-value='+$('input[name="right_range"]').val()+']').text();
        var $modify_select = $('input[name=modify_select]:checked');
        var html = '';
        for(var i = 0;i < $modify_select.length;i++){
            var $item = $modify_select.eq(i).parent().text();
            html += '('+'<span>'+$item+'</span>'+')'
        }
      var data = {
          'soft_name':$('#soft_name').val(),
          'soft_abb':$('#soft_abb').val(),
          'version_mum':$('#version_mum').val(),
          'soft_description':$soft_description,
          'soft_finish_date':$('#soft_finish_date').val(),
          'publish_date':$('#publish_date').val(),
          'first_publish_country':$('#first_publish_country').val(),
          'first_publish_city':$('#first_publish_city').val(),
          'is_publish':$is_publish,
          'develop_way':$develop_way,
          'right_get_way':$right_get_way,
          'right_range':$right_range
      }
        $('.soft_name_text').text(data.soft_name);
        $('.soft_abb_text').text(data.soft_abb);
        $('.version_num_text').text(data.version_mum);
        $('.soft_description_text').text($soft_description);
        $('.soft_finish_date_text').text(data.soft_finish_date);
        $('.is_publish_text').text($is_publish);
        $('.develop_way_text').text($develop_way);
        $('.right_get_way_text').text($right_get_way);
        $('.right_range_text').text($right_range);
//        是否原创
        if($('input[name=soft_description]').val() == 1){
            $('.trans_description_text').html('')
        }else{
            $('.trans_description_text').text('；修改合成或翻译说明:'+$('#trans_description').val()+'。')

        }
//        是否发表
        if($('input[name=is_publish]').val() == 1){
            $('#publish_date_country_city').html(
                    '<div class="form-group"><label for="" class="col-sm-2 col-md-3 control-label">发表日期</label><div class="col-sm-10 col-md-5 publish_date_text" data-name="confirmed_required">'+
                    data.publish_date+'</div></div><div class="form-group"><label for="" class="col-sm-2 col-md-3 control-label">发表地点</label><div class="col-sm-10 col-md-5 first_publish_country_city" data-name="confirmed_required">'+
                    data.first_publish_country+'--'+data.first_publish_city+'</div></div>')
        }else{
            $('#publish_date_country_city').html('');
        }
//        是否原始
//        是否全部
        var $right_range_status = $('input[name=right_select]:checked');
        var html1 = '';
        for(var i = 0;i < $right_range_status.length;i++){
            var $item = $right_range_status.eq(i).parent().text();
            html1 += '('+'<span>'+$item+'</span>'+')'
        }
        if($('input[name=right_range]').val() == 1){
            $('.right_range_status').html('');
        }else{
           $('.right_range_status').html(html1);
        }


    }
    parse_functions['copyright_softinfo_Form'] = copyright_softinfo_Form;
    function submitBef_soft(){
        $('.soft_description_list li').click(function (){
            var data_value =  $(this).attr('data-value');
            data_value == 1 ? $('#hidden_soft_description').hide() : $('#hidden_soft_description').show();
        });
        $('.is_publish_list li').click(function (){
            var data_value =  $(this).attr('data-value');
            data_value == 1 ?  $('#hidden_is_publish').show():$('#hidden_is_publish').hide();
        });
        $('.right_get_way_list li').click(function (){
            var data_value =  $(this).attr('data-value');
            data_value == 1 ?  $('#hidden_right_get_way').hide():$('#hidden_right_get_way').show();
        });
        $('.right_range_list li').click(function (){
            var data_value =  $(this).attr('data-value');
            var $input = $('#disabled_right_range input');
            if(data_value == 1){
                $input.attr('disabled','').removeAttr('checked','')
                $input.parents('.form-group').removeClass('has-error').removeClass('has-success').find('small[data-bv-for=range_select]').css('display','none').attr('data-bv-result','NOT_VALIDATED')
                $input.parents('.ajaxForm_div').find('input[type=submit]').removeAttr('disabled','')
            }else{
                $('#disabled_right_range input').removeAttr('disabled','');
            }
        });
//        是否原创
        var $detail_soft_description = '{{detail.soft_description}}';
        $detail_soft_description == 1 ? $('#hidden_soft_description').hide() : $('#hidden_soft_description').show();
//        是否发表
        var $detail_is_publish = '{{detail.is_publish}}';
        $detail_is_publish == 1 ? $('#hidden_is_publish').show():$('#hidden_is_publish').hide();
//        是否原始
        var $detail_right_get_way = '{{detail.right_get_way}}';
        $detail_right_get_way == 1 ? $('#hidden_right_get_way').hide():$('#hidden_right_get_way').show();
//        是否全部
        var $detail_right_range = '{{detail.right_range}}';
        $detail_right_range == 1 ? $('#disabled_right_range input').attr('disabled',''):$('#disabled_right_range input').removeAttr('disabled','');
//        国家
        var $first_publish_country = '{{detail.first_publish_country}}';
        if($first_publish_country !== ''){
            $('#first_publish_country').find('option[data-content=中国]').removeAttr('selected','')
            $('#first_publish_country').find('option[data-content='+$first_publish_country+']').attr('selected','')
        }else{
            $('#first_publish_country').find('option[data-content=中国]').attr('selected','')
        }

    }
    $(function (){
        wordCountry()
        submitBef_soft()
    });
</script>