{% extends "layouts/application.html" %}
<!--{% block left %}-->
<!--{% end %}-->
{% block body %}
<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
    <div class="ban-logo" id="logo">
       <a href="/" ><img src="{{static_url('img/bg_logo.png')}}"/></a>
    </div>
    <div class="warp" style="margin-bottom:50px">
        <form id="signup_form" method="post" action="/signup" class="form-horizontal sign-wrap">
            <h3 class="clearfix" style="font-size: 24px;">
                <span style="color: #ccc;font-size: 14px">
                    已有账号,
                    <a style="color:#0074BC;font-size: 14px" href="/session/new{% if next != '/'%}?{{next_url}}{% end %}">登录</a>
                    /
                    <a style="color:#0074BC;font-size: 14px" href="/">返回首页</a>
                </span>
                用户注册
            </h3>
            {% raw xsrf_form_html()%}
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 control-label"  style="font-size: 17px">手<span style="margin-left: 6px"></span>机<span style="margin-left: 6px"></span>号<span style="margin-left: 6px"></span>码</label>
                <div class="col-sm-9">
                    <input type="text" autofocus autocomplete="off" placeholder="请输入您常用手机号码" class="form-control shouji" id="mobile" name="mobile" value="{{validation_data.get('mobile', '')}}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 col-xs-12 control-label"  style="font-size: 17px">短信验证码</label>
                <div class="col-sm-5 col-xs-5">
                    <input type="text" placeholder="请输入验证码" class="form-control" id="validate_code"  name="validate_code" />
                    <input type="hidden" class="form-control" id="verification_token" name="verification_token" value="{{validation_data.get('verification_token', '')}}"/>
                </div>
                <div class="col-xs-3 col-sm-4" style="text-align: right;">
                    <input type="button" class="btn btn-small-blue" value="获取验证码" id="get_validate_code"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"  style="font-size: 17px">姓名</label>
                <div class="col-sm-9">
                    <input type="text" placeholder="请输入您的真实姓名！" class="form-control" id="nickname"  name="nickname" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"  style="font-size: 17px">设<span style="margin-left: 6px"></span>置<span style="margin-left: 6px"></span>密<span style="margin-left: 6px"></span>码</label>
                <div class="col-sm-9">
                    <input type="password" placeholder="请输入您的账户登录密码" class="form-control" name="password" value="{{validation_data.get('password', '')}}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"  style="font-size: 17px">确<span style="margin-left: 6px"></span>认<span style="margin-left: 6px"></span>密<span style="margin-left: 6px"></span>码</label>
                <div class="col-sm-9">
                    <input type="password" placeholder="请再输入一次" class="form-control" name="password_confirm" value="{{validation_data.get('password_confirm', '')}}"/>
                </div>
            </div>
            <div class="form-group">
              <div class="checkbox" style="margin-left: 12px;">
                <label class="col-sm-9 col-sm-offset-3">
                  <input type="checkbox" checked style="width: 20px;">
                    我已阅读并同意 <a href="/home/agreement" target="_blank">《服务协议》</a>
                </label>
              </div>
            </div>
            <input type="hidden" name="next_url" value="{{next}}"/>
            <div>
                <div class="col-sm-3"></div>
                <div class="col-sm-9"style="margin: 0px;padding:0px;" >
                    <input type="submit" id="check_form" class="btn btn-blue" value="免费创建账户" style="width: 100%;font-size: 20px;margin-left: 5px"/>
                </div>
            </div>
        </form>
                <!--结束-->
    </div>
</div>
{% end %}
{% block javascript %}

    <script type="text/javascript">
        {% if globals().get('validation_errors') %}
            {% for field, error in validation_errors.iteritems() %}
                /*alert("{{field}}:   {{ error }}")*/
                showErr("{{field}}","{{ error }}");
            {% end %}
        {% end %}


        var wait = 60;
        function time(){
            var btn = document.getElementById("get_validate_code");
            if(wait ==0){
                btn.removeAttribute("disabled");
                btn.value = "获取验证码";
                wait = 60;
            }else{
                btn.setAttribute("disabled",true);
                btn.value = "重新发送("+ wait +")"
                wait--;
                setTimeout(function(){
                    time(btn)
                },1000)
            }
        };
       $(document).ready(function (){
           $("#signup_form").bootstrapValidator({
            verbose:false,
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields:{
                password:{
                    validators:{
                        notEmpty:{
                             message:'请输入6-20位密码！'
                        },
                        stringLength: {
                            min: 6,
                            max: 20,
                            message: '请输入6-20位密码！'
                        }
//                        identical:{
//                              field:'password_confirm',
//                              message:'请确认下面的密码一致'
//                          }
                    }
                },
                password_confirm:{
                    validators:{
                        notEmpty:{
                             message:'请再次输入密码！'
                        },
                        stringLength: {
                            min: 6,
                            max: 20,
                            message: '请再次输入密码！'
                        },
                        identical:{
                              field:'password',
                              message:'密码不一致'
                          }
                    }
                },
                mobile:{
                      validators:{
                          notEmpty:{
                              message:'请输入手机号码'
                          },
                         regexp: {
                            regexp:/^0?(13[0-9]|15[012356789]|17[0-9]|18[02356789]|14[57])[0-9]{8}$/,
                            message: '请输入正确的手机号码'
                         }
                      }
                  },
                nickname:{
                    validators:{
                        notEmpty:{
                            message:'请输入您的姓名！'
                        }
                    }
                },
                validate_code:{
                    trigger: 'blur',
                    validators:{
//                        notEmpty:{
//                             message:'请输入验证码！'
//                        },
                        stringLength: {
                            min: 6,
                            max: 6,
                            message: '请输入6个字符！'
                        },
                        callback: {
                            message: '',
                            callback: function (value, validator, $field) {
                                // Determine the numbers which are generated in captchaOperation
                                return check_field('validate_code');
                            }
                        }
                    }
                }

            }
        });
       })
        function check_field(field){
            if ($('#'+field).val() == ''){
                return false
            }
            switch (field){
                case 'mobile':
                    data_json = {'step': 'check_mobile', 'email': $("#mobile").val(), '_xsrf': $("input[name=_xsrf]").val()};
                    break;
                case 'validate_code':
                    data_json = {'step': 'check_code', 'mobile':$("#mobile").val(), 'verification_token': $("#verification_token").val(), 'validate_code': $("#validate_code").val(), '_xsrf': $("input[name=_xsrf]").val()};
                    break;
            }
            $.ajax({
                type: "POST",
                url: "/signup.json",
                data: data_json,
                dataType: "json",
                async: false,
                success:function(response){
                    if (response.result == 1){
                        bol = true
                    }
                },
                error:function(response){
                    $('small').remove()
                    var err = response.responseJSON;
                    if(err.code == 20102){
                        showErr('validate_code',err.msg)
                    }
                    bol = false
                }
            });
            return bol
        }

        $("#get_validate_code").click(function(){
            if ($("#mobile").val() == ''){
                showErr('mobile', '请填写手机号')
                return false
            }
            if($('input[name=mobile]').parents('.form-group').is('.has-success')){
                $.ajax({
                    type: "POST",
                    url: "/signup.json",
                    data: {'step': 'check_mobile', 'mobile': $("#mobile").val(), 'validate_code':$('#validate_code').val(), '_xsrf': $("input[name=_xsrf]").val(),'nickname':$('#nickname').val()},
                    dataType: "json",
                    success: function (response) {
                        if (response.status == 1) {
                            $("#verification_token").val(response.verification_token)
                        }
                        time()
                    },
                    error: function (response) {
                        var err = response.responseJSON;
                        var msg = err.msg;
                        $('#myModal1').modal('hide')
                             wModalDialog({
                                content:msg,
                                showAnimate:true,
                                type:"failed"
                             });
                    }
                });
            }
                
        });

    </script>

{%end%}