{% extends "../../layouts/application.html" %}
{% block head%}
<link href="{{ static_url('css/bootstrapValidator.min.css') }}" rel="stylesheet">
{% end %}
{% block body%}
<div class="patent_application">
    <!--商标图案-->
    <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">商标图案</h4>
            </div>
              <div class="modal-body" style="text-align: center;">
                <img src="" alt="" class="detail_Modal_img"/>
              </div>
        </div>
      </div>
    </div>
    <!--modal 商标分类-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form class="form-horizontal cate_bar"  role="form" id="categoryForm" action="/mark/reg/category" method="post">
                {% raw xsrf_form_html()%}
                <input type="hidden" value="{{order.id}}" name="order_id">
                <dl class="list-group col-sm-12">
                    <dt class="list-group-item disabled">
                        <span>类别</span>
                        <span class="search_type" style="position: relative;left: 30%;">
                            <span class="search_icon glyphicon glyphicon-search" style="position: absolute;font-size: 19px;top: -1px;left: 7px;"></span>
                            <input type="text" class="form-control" id="search-input" name="search_first_type" placeholder="请输入行业关键词对第一类别进行搜索" style="display: inline-block;width: 40%;font-weight: normal;padding-left: 30px"/>
                        </span>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </dt>
                    <div class="none_msg" style="display: none;background-color: #fff;padding: 230px;">很抱歉！没有找到相关信息，请重新检索或联系<a href="tencent://message/?uin=2853828011&Menu=yes" class="customer_service_btn">在线客服</a>！</div>
                    <div class="first-container" id="first-content">

                    </div>
                </dl>
                <div class="child-type clearfix col-sm-11">
                    <dl class="subtype-bar col-sm-5">
                        <dt class="list-group-item disabled">
                            子类别
                            <button type="button" class="close" data-dismiss="child-type"><span aria-hidden="true">&times;</span></button>
                        </dt>
                        <div class="second-container">
                            <dd></dd>
                        </div>
                    </dl>
                    <div class="content col-sm-4">
                        <div class="subtext alert alert-info">
                            <input type="hidden" name="second_code"/>
                            描述：<span></span>
                        </div>
                        <div class="third-container"></div>
                    </div>
                    <div class="choice-bar col-sm-3">
                        <h4 style="text-align: center;margin-top: 20px;">已选择</h4>
                        <div class="choice-list">
                            <div id="inputs" style="display: none">
                                <input type="hidden" name="category"/>
                            </div>

                            <div id="allul"></div>
                        </div>
                        <input type="button" class="btn-next" id="submitBtn3" value="确定" style="margin-top: 20px;margin-right: 20px;"/>
                        <input type="button" class="btn-pre" id="new_type_btn" value="取消" style="margin-top: 20px;"/>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </div>
    <div class="container-fluid bg_write_k">
        <div class="row theme_bg">
            {% include "../../../layouts/left.html"%}
            <div class="col-md-10" style="background-color: #fff;">
                <div class="patent_service_content">
                    {% include comment_alert.html %}
                    <div id="orderForm" class="form-horizontal">
                        {% include ../order_media.html %}
                        <div class="media">
                            <div class="form-group border_line">
                                <label class="col-sm-2 control-label">主体信息</label>
                                <a id="applicant_form" name="get_form" href="javascript:;" data-target="/mark/reg/applicant"> <span class="glyphicon glyphicon-pencil"></span>编辑主体信息</a>
                            </div>
                            {% if not detail.is_confirmed %}
                            <div class="ajaxForm_div">
                                {% include ../../mark_reg/applicant.html %}
                            </div>
                            {%end%}
                            <div class="group-wrap">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">主体类型</label>
                                    <div class="col-sm-8" data-name="confirmed_required" id="applicantType">
                                        {%if detail.applicant['app_type'] == 'person'%} 个人 {% elif detail.applicant['app_type'] == 'com'%} 公司 {% end %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">主体名称</label>
                                    <div class="col-sm-8"  data-name="confirmed_required" id="applicantName">
                                        {{detail.applicant['name']}}
                                    </div>
                                </div>
                                <div class="add_group"></div>
                                {% if detail.is_co_applicants%}
                                    {% for co_app in detail.co_applicants%}
                                        <div class="form-group co_add">
                                            <label class="col-sm-3 control-label">共同申请人</label>
                                            <div class="col-sm-8" data-name="confirmed_required">
                                                {{co_app['name']}}
                                            </div>
                                        </div>
                                    {% end %}
                                {% end %}
                            </div>
                        </div>
                        <div class="media border-top">
                            <div class="form-group border_line">
                                <label class="col-sm-2 control-label">商标信息</label>
                                <a name="get_form" href="javascript:;" data-target="/mark/reg/info"><span class="glyphicon glyphicon-pencil"></span>编辑商标信息</a>
                            </div>
                            {% if not detail.is_confirmed %}
                            <div class="ajaxForm_div">
                                {% include ../../mark_reg/mark_info.html %}
                            </div>
                            {% end %}
                            <div class="group-wrap">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">商标名称</label>
                                    <div class="col-sm-8" id="markName" data-name="confirmed_required">
                                        {{detail.name}}
                                    </div>
                                </div>
                                {%if detail.mark_type%}
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">商标类型</label>
                                    <div class="col-sm-8" id="mark_type" data-name="confirmed_required">
                                        {{detail.mark_type}}&nbsp;&nbsp;(客服填写)
                                    </div>
                                </div>
                                {% end %}
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">商标描述</label>
                                    <div class="col-sm-8" id="markTxt" data-name="confirmed_required">
                                        {{detail.description}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">商标图案</label>
                                    <div class="col-sm-8" data-name="confirmed_required">
                                        {% if detail.mark_img%}
                                        <img src="{{oss_img_url(detail.mark_img)}}" id="detail_img" data-toggle="modal" data-target="#detailModal" name="my_modal" alt="" width="50px" height="50px"/>
                                        {% else %}
                                        未上传
                                        {% end %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">是否指定颜色</label>
                                    <div class="col-sm-8"  id="is_specify_color" data-name="confirmed_required">
                                        {{'是' if detail.is_specify_color else '否'}}
                                    </div>
                                </div>
                                {% if order.order_type == 'collective_mark_reg'%}
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">集体成员名单</label>
                                        <div class="col-sm-8 collective_list_url"  data-name="confirmed_required">
                                            {% if detail.collective_list %}
                                                <a href="{{detail.collective_list_url}}" target="_blank">1个名单已上传</a>
                                            {% end %}
                                        </div>
                                    </div>
                                {% end %}
                                {% if order.order_type != 'mark_reg'%}
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">商标管理规则</label>
                                        <div class="col-sm-8 regulation_file_url" data-name="confirmed_required">
                                            {% if detail.regulation_file %}
                                                <a href="{{detail.regulation_file_url}}" target="_blank">1个文件已上传</a>
                                            {% end %}
                                        </div>
                                    </div>
                                {% end %}

                            </div>
                        </div>
                        <div class="media border-top">
                            <div class="form-group border_line">
                                <label class="col-sm-2 control-label">商标分类</label>
                                <a data-toggle="modal" data-target="#myModal" name="my_modal"> <span class="glyphicon glyphicon-pencil"></span>编辑商标分类</a>
                            </div>
                            <div class="group-wrap">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">商标类别</label>
                                    <div class="col-sm-8" id="categoryName" data-name="confirmed_required">
                                        {{detail.category_name}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">商标服务项目</label>
                                    <div class="col-sm-8" id="categoryItems" data-name="confirmed_required">
                                        {% for item in detail.item_names%}
                                            {{item['name']}},
                                        {% end %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="media border-top">
                            <div class="form-group border_line">
                                <label class="col-sm-2 control-label">附加信息</label>
                                <a name="get_form" href="javascript:;" data-target="/mark/reg/attach"> <span class="glyphicon glyphicon-pencil"></span>编辑附加信息</a>
                            </div>
                            {% if not detail.is_confirmed %}
                            <div class="ajaxForm_div">
                                {% include ../../mark_reg/attach.html %}
                            </div>
                            {% end %}
                            <div class="group-wrap">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">三维标志申请商标注册</label>
                                    {% if detail.is_three_d%}
                                    <div class="col-sm-9 three_d_txt">
                                        <img src="{{oss_img_url(detail.three_d_image,'@1e_50w_50h_1c_0i_1o_75q_1x.jpg')}}" alt=""/>
                                    </div>
                                    {% else%}
                                    <div class="col-sm-9 three_d_txt" style="padding-top: 7px" id="is_three_d">否</div>
                                    {% end %}
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">颜色组合申请商标注册</label>

                                    {% if detail.is_color%}
                                    <div class="col-sm-9 color_txt">
                                        <img src="{{oss_img_url(detail.color_image,'@1e_50w_50h_1c_0i_1o_75q_1x.jpg')}}" alt=""/>
                                    </div>
                                    {% else%}
                                    <div class="col-sm-9 color_txt" style="padding-top: 7px" id="is_color">否</div>
                                    {% end %}

                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">声音标志申请商标注册</label>

                                    {% if detail.is_voice%}
                                    <div class="col-sm-9 voice_file_txt">
                                        <div class="col-sm-2"><img src="/s/img/musica.png" width="40px" height="40px"/><p>声音文件</p></div>
                                    </div>
                                    {% else%}
                                    <div class="col-sm-9 voice_file_txt" style="padding-top: 7px" id="is_voice">否</div>
                                    {% end %}

                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">肖像权申请商标注册</label>

                                    {% if detail.is_portrait%}
                                    <div class="col-sm-9 portrait_txt">
                                         <img src="{{oss_img_url(detail.portrait_img,'@1e_50w_50h_1c_0i_1o_75q_1x.jpg')}}" alt=""/>
                                    </div>
                                    {% else%}
                                    <div class="col-sm-9 portrait_txt" style="padding-top: 7px" id="is_portrait">否</div>
                                    {% end %}

                                </div>
                                <div class="item_after_blcok">
                                    {% if detail.is_prority == 'before' %}
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">申请权/原受理机构名称</label>
                                            <div class="col-sm-9 top_hight">{{detail.prority_app_region}}</div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">申请权/在先申请日</label>
                                            <div class="col-sm-9 top_hight">{{detail.prority_app_date}}</div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">申请权/在先申请号</label>
                                            <div class="col-sm-9 top_hight">{{detail.prority_app_serial_num}}</div>
                                        </div>
                                    {%elif detail.is_prority == 'exhibition' %}
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">优先权/展出国家/地区</label>
                                            <div class="col-sm-9 top_hight">{{detail.prority_app_region}}</div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">优先权/展出日期</label>
                                            <div class="col-sm-9 top_hight">{{detail.prority_app_date}}</div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">优先权/申请号</label>
                                            <div class="col-sm-9 top_hight">{{detail.prority_app_serial_num}}</div>
                                        </div>
                                    {% end %}
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
                {% include ../order_btn.html %}
            </div>
        </div>
    </div>
    <div id="ajaxForm_div" width="400px"></div>
</div>

{% end %}
{% block javascript%}
<script src="{{ static_url('js/jquery.form.min.js') }}" type="text/javascript"></script>
<script src="{{ static_url('js/bootstrapValidator.min.js')}}    "></script>
<script>
    getCategory('itemtree','items');
    $('#search-input').keyup(function (){
        var $this = $(this);
        var html = $('.first-container').html();
        if($('#first_contents').length == 0){
            $('.first-container').after('<div id="first_contents" style="display: none">'+html+'</div>');
        }
        var $html = $('#first_contents').html();
        var $value = $this.val();

        var $text = $('.first-container').text();
        var objTxt= new String($text);
        var objVal = new String($value);
        if(objTxt.search(objVal) == -1){
            $('.first-container').hide();
            $('.list-group .none_msg').show();
        }else if(objTxt.search(objVal) == 0){
             $('.first-container').show()
             $('.first-container').html($html);
             $('.list-group .none_msg').hide();
        }else{
            $('.first-container').show();
            $('.list-group .none_msg').hide();
            $('.first-container').html($html);
            SearchHighlight("first-content",$value);
            $('.first-container dd').hide();
            $('b').parents('.list-group-item').show()
        }
    });
    function SearchHighlight(idVal,keyword) {
         var pucl = document.getElementById(idVal);
         if("" == keyword) return;
         var temp=pucl.innerHTML;
         var htmlReg = new RegExp("\<.*?\>","i");
         var arrA = new Array();
        //替换HTML标签
         for(var i=0;true;i++) {
             var m=htmlReg.exec(temp);
             if(m) {
                 arrA[i]=m;
            }else {
                 break;
             }
             temp=temp.replace(m,"{[("+i+")]}");
         }
         words = unescape(keyword.replace(/\+/g,' ')).split(/\s+/);
         //替换关键字
        for (w=0;w<words.length;w++) {
             var r = new RegExp("("+words[w].replace(/[(){}.+*?^$|\\\[\]]/g, "\\$&")+")","ig");
             temp = temp.replace(r,"<b style='color:Red;'>$1</b>");
         }
         //恢复HTML标签
         for(var i=0;i<arrA.length;i++) {
             temp=temp.replace("{[("+i+")]}",arrA[i]);
         }
             pucl.innerHTML=temp;
     };
    {% if detail.biz == 'mark_reg' %}
        $(document).on('click','.third-container input[type=checkbox]',function (){
            if ($("#allul li").length == 10) {
                wModalDialog({
                    content: ('每个商标类别，可以选择10个小项，额外每增加1个小项，相应增加80元官费!'),
                    showAnimate: true,
                    type: "success",
                    cancelCallBack: function () {}
                });
            }
        });
        {% end %}
    $('#submitBtn3').on('click',function (){
        if($('#allul').length == 0){
            return false
        }
        var code = $('#allul ul').attr('id');
        var cod = code.substr(0,2);
        var Name = $('.list-group-item').find('span[data-i='+cod+']').next().text();
        var cate = $('.list-group-item .active').data('id');
        $('input[name=category]').val(cate);
        $('#categoryName').text(Name);
        $('#categoryItems').text($('#allul li').text());
         $('#myModal').modal('hide');
        $('#categoryForm').ajaxSubmit(function (data){
             $('.total_price').html(data.price.toFixed(2));
            console.log(data.price)
        })
        return false
    });
    $('body').css('background','#f1f2f6');
    $('#orders').addClass('current');
    $('button[data-dismiss=child-type]').click(function (){
       $('.child-type').hide();
    });
    $(document).on('click','#detail_img',function (){
        var src = $(this).attr('src');
        $('.detail_Modal_img').attr('src',src);
    });

</script>

{% end %}





