<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta content="telephone=no" name="format-detection" />
        <meta name="description" content="{% block description %}{% end %}"/>
        <meta name="keywords" content="{% block keywords %}{% end %}"/>
        <meta name="renderer" content="webkit">
        <title>{% if globals().get('title') %}{{ title }}- {% end %}{{ handler.settings["site_name"] }}</title>
        <!--校验开始-->
        <link href="{{ static_url('css/font.css') }}" rel="stylesheet">
        <link href="{{ static_url('css/bootstrapValidator.min.css') }}" rel="stylesheet">
        <!--校验结束-->
        <!-- Bootstrap and eking.css-->
        {% if handler.is_ie%}
        <link href="{{handler.static_url_on_ie('css/bootstrap.min.css')}}" rel="stylesheet">
        {% else%}
        <link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet">
        {%end%}
        <!--checkbox and radio-->
        <link href="{{ static_url('iCheck/skins/all.css') }}" rel="stylesheet">
        <!--日期选择插件-->
        <link href="{{ static_url('bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet">
        <!--富文本编辑器-->
        <link rel="stylesheet" href="{{ static_url('editor/themes/default/default.css') }}" />
	    <link rel="stylesheet" href="{{ static_url('editor/plugins/code/prettify.css') }}" />
        <!--所有css总和-->
        <link href="{{ static_url('css/idangerous.swiper.css')}}" rel="stylesheet">
        {% if handler.is_ie%}
        <link href="{{handler.static_url_on_ie('css/eking.min.css')}}" rel="stylesheet">
        {% else%}
        <link href="{{ static_url('css/eking.min.css') }}" rel="stylesheet">
        {%end%}
        <!--百度地图-->
        <link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css" />
        <link href="{{ static_url('css/font-awesome.min.css') }}" rel="stylesheet" type="text/css"><!--字库-->
        <link rel="icon" type="image/x-icon" href="{{ static_url('img/64.png')}}">
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) 为了页面其他位置也能使用jQuery,将jQuery.js放在首部 -->
        <script src="{{ static_url('js/jquery1.11.1.min.js') }}"></script>
        <script src="{{ static_url('js/bootstrapValidator.min.js') }}"></script>
        <script src="{{ static_url('js/zh_CN.js') }}"></script>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="{{ static_url('js/html5shiv.js') }}"></script>
        <script src="{{ static_url('js/respond.min.js') }}"></script>
        <![endif]-->
        <script>
            var content_width=$('#content').width();
            $("#content img").attr("onload",function(){
                if($(this).width()>content_width){
                    $(this).addClass('img-responsive');
                }
            });
        </script>
    </head>
    <body>
        <div class="loading"><img src='{{static_url("img/load.gif")}}'/></div>
        <div id="header">
        </div>
        {% block notice %}
            <!--操作提示-->
            <div id = "ajax-message" class="alert alert-warning alert-dismissible hide" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            {%if globals().get('success') != None %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                {{ success }}
            </div>
            {% end %}
            {% if globals().get('validationErrors') %}
                {% for field, error in validationErrors.iteritems() %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    {{ error }}
                </div>
                {% end %}
            {% end %}
        {% end %}
        <!--需要其他页面提供的部分-->
        <div class="container">
            <div class="row">

                    {% block body %}{% end %}

            </div>
        </div>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
        <!--iCheck 插件-->
        <script src="{{ static_url('iCheck/icheck.min.js') }}"></script>
        <!--时间插件-->
        <script src="{{ static_url('bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js') }}"></script>
        <script src="{{ static_url('bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js') }}"></script>
        <!--页面校验-->
        <script src="{{ static_url('js/jquery.validate.js') }}"></script>
        <!--编辑器js-->
        <script charset="utf-8" src="{{ static_url('editor/kindeditor.js') }}"></script>
        <script charset="utf-8" src="{{ static_url('editor/lang/zh_CN.js') }}"></script>
        <script charset="utf-8" src="{{ static_url('editor/plugins/code/prettify.js') }}"></script>
        <!--个页面通用js-->
        <script src="{{ static_url('js/base.min.js') }}"></script>
        <!--百度统计-->
        {% if globals().get('run_mod') == 'production' %}
        <div style="display:none">
            <script type="text/javascript">
                var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0f776f607836e4acc3b1d91330fd26fb' type='text/javascript'%3E%3C/script%3E"));
            </script>
        </div>
        {% end %}
        {% block javascript %}
        {% end %}
    </body>
</html>