{% extends "layouts/application.html" %}
<!--{% block left %}-->
<!--{% end %}-->
{% block body %}
<div class="setting" style="margin-top: 70px;margin-bottom: 60px;">
    <div class="modal-dialog">
        <div class="bingo_logo"><a href="/"><img src="{{static_url('img/bingo_logo.png')}}" /></a></div>
        <div class="modal-header">
            <div class="modal-title">找回密码</div>
        </div>
        <div class="modal-body">
            <!--开始-->
            <form id="froget_pwd" method="post" action="#" class="form-horizontal">
                {% raw xsrf_form_html()%}
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="text" autocomplete="off" placeholder="请输入注册邮箱" class="form-control youxiang" id="email" name="email"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6 col-xs-6">
                        <input type="hidden" class="form-control" id="captcha_name" name="captcha_name" value="{{captcha_name}}" />
                        <input type="text" placeholder="验证码" class="form-control" id="captcha" name="captcha" />
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <img id="captcha_img" src="/captcha.jpg?account_name={{captcha_name}}" class="captcha_pic">
                    </div>
                </div>

                <div class="form-group">
                    <div class="modal-footer" style="text-align: center">
                        <input type="button" id="check_email" class="btn btn-primary btn-logocolor" value="确认" />
                    </div>
                </div>

            </form>
                <div class="form-group" style="display: none" id="mail_tip">
                    <div class="modal-footer" style="text-align: left;">
                        <div style="font-size: 15px;"> <span class="glyphicon glyphicon-info-sign" style="margin-right: 10px;font-size: 30px;position: relative;top:8px;color: #d9534f;"></span></span>邮件有效期<strong style="color:#d9534f;">30分钟!</strong>请您尽快修改密码!</div>
                    </div>
                </div>
                <div class="form-group" style="display: none" id="mail_div">
                    <div class="modal-footer" style="text-align: center">
                        <a id="mail_btn" class="btn btn-primary btn-logocolor" href="" target="_blank" style="width: 100%;">去收邮件</a>
                    </div>
                </div>
            <div class="clear"></div>
                <!--结束-->
        </div>
    </div>
</div>

{% end %}
{% block javascript %}
    <script type="text/javascript">
        $('#captcha_img').click(function() {
            this.src = "/captcha.jpg?account_name={{captcha_name}}&t=" + new Date().getTime()
        });
        document.onkeydown = function(event) {
            var target, code, tag;
            if (!event) {
                event = window.event; //针对ie浏览器
                target = event.srcElement;
                code = event.keyCode;
                if (code == 13) {
                    tag = target.tagName;
                    if (tag == "TEXTAREA") { return true; }
                    else { return false; }
                }
            }
            else {
                target = event.target; //针对遵循w3c标准的浏览器，如Firefox
                code = event.keyCode;
                if (code == 13) {
                    tag = target.tagName;
                    if (tag == "INPUT") { return false; }
                    else { return true; }
                }
            }
        };
        $("#check_email").click(function(){
            form_validate = $('#froget_pwd').data('bootstrapValidator')
            if (form_validate.validate().isValid()){
                $('#check_email').val('--正在处理--')
                $('#check_email').addClass('disabled')
                $.ajax({
                     type: "POST",
                     url: "/password.json",
                     data:{'email': $("#email").val(),
                           'captcha': $('#captcha').val(),
                           'captcha_name': $('#captcha_name').val(),
                           '_xsrf': $("input[name=_xsrf]").val()},
                     dataType: "json",
                     success:function(response){
                         wModalDialog({
                                    content: ('邮件已发送，请注意查收!'),
                                    showAnimate: true,
                                    type: "success",
                                    cancelCallBack:function(){
                                        $('#froget_pwd').remove()
                                        $('#mail_btn').attr('href', response.url)
                                        $('#mail_div').show()
                                        $('#mail_tip').show()
                                    }
                                });
                         $('#check_email').val('邮件已发送')
                     },
                     error:function(response){
                         var err = response.responseJSON
                         if (err.code == 20009){
                             showErr('captcha', err.msg)
                         }
                         else{
                            showErr('email', err.msg)
                         }
                         $('#check_email').val('确认')
                         $('#check_email').removeClass('disabled')
                     }
                });
            }else{ return false; }

        });
        $("#froget_pwd").bootstrapValidator({
            verbose:false,
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields:{
                email: {
                    validators: {
                        notEmpty:{
                             message:'请输入注册邮箱！'
                        },
                        emailAddress: {
                            message: '请输入注册邮箱！'
                        },
                        regexp: {
                            regexp: '^[^@\\s]+@([^@\\s]+\\.)+[^@\\s]+$',
                            message: '请输入注册邮箱！'
                        }
                    }
                },
                captcha:{
                    validators:{
                        notEmpty:{
                             message:'请输入验证码！'
                        },
                        stringLength: {
                            min: 4,
                            max: 4,
                            message: '请输入4个字符！'
                        }
                    }
                }

            }
        });
</script>
{% end %}
