{% extends "../layouts/application.html" %}
{% block head%}
<link href="{{ static_url('css/bootstrapValidator.min.css') }}" rel="stylesheet">
{% end %}
{% block body%}
<div class="patent_application">
    <div class="container right-content">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-lg-10" style="margin-top: 20px;">
                <div class="title_bg"></div>
                <div class="title_stys">修改密码</div>
                <br style="clear:both;">

                <form action="/user/password" method="post" id="passwordReset" class="common-bar form-horizontal">
                    {% raw xsrf_form_html() %}
                    <input type="hidden" name="_method" value="put"/>

                    <div class="form-group passWord-bar" style="margin-top: 35px;">
                        <label class="col-sm-2 control-label">原密码</label>

                        <div class="col-sm-5">
                            <input class="form-control" id="password" name="password" type="password" value=""/>
                        </div>
                        {% if globals().get('validation_errors') %}
                        <!--{% for field, error in validation_errors.iteritems() %}<h2 class="errmsg">{{ error }}</h2>{% end %}-->
                        {% end %}
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">新密码</label>

                        <div class="col-sm-5" style="margin-top: 10px;">
                            <input class="form-control" id="new_password" name="new_password" type="password" value=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">密码确认</label>

                        <div class="col-sm-5" style="margin-top: 10px;">
                            <input class="form-control" id="new_password_confirm" name="new_password_confirm" type="password" value=""/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-9">
                            <button type="button" class="btn btn-danger preserve-btn" id="password_change_btn" style="margin: 30px 0;padding: 6px 24px;">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.col-lg-6 (nested) -->
</div>
{% end %}

{% block javascript%}
<script src="{{ static_url('js/jquery.form.min.js') }}" type="text/javascript"></script>
<script src="{{ static_url('js/bootstrapValidator.min.js')}}"></script>
<script src="{{ static_url('js/zh_CN.js')}}"></script>
<!--表单校验-->
<script>
    $('#passwordReset').bootstrapValidator({
        verbose: false,
        // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-ok'
        },
        fields: {
            password: {
                validators: {
                    notEmpty: {
                        message: '密码不能是空的'
                    },
                    stringLength: {
                        min: 6,
                        message: '请输入原密码！'
                    }
                }
            },
            new_password: {
                validators: {
                    notEmpty: {
                        message: '新密码不少于6位！'
                    },
                    stringLength: {
                        min: 6,
                        message: '新密码不少于6位！'
                    },
                    identical: {
                        field: 'new_password_confirm',
                        message: '与下面的密码要保持一致！'
                    }
                }
            },
            new_password_confirm: {
                validators: {
                    notEmpty: {
                        message: '密码不一致'
                    },
                    stringLength: {
                        min: 6,
                        message: '密码不一致'
                    },
                    identical: {
                        field: 'new_password',
                        message: '密码不一致'
                    }
                }
            }

        }
    });
    $('#password_change_btn').on('click', function () {
        form_validate = $('#passwordReset').data('bootstrapValidator');
        form_validate.validate();
        if (!form_validate.isValid()) {
            return
        }
        $.ajax({
            type: "GET",
            url: "/password.json",
            data: {
                'password': $("#password").val(),
                '_xsrf': $("input[name=_xsrf]").val()
            },
            dataType: "json",
            success: function (response) {
//              $('#password').parents('.form-group').addClass('has-success');
                getData();
            },
            error: function (response) {
                var err = response.responseJSON;
                showErr('password', err.msg)
            }
        });
    });
    function getData() {
        $.ajax({
            type: "put",
            url: "/user/password",
            data: {
                'password': $("#password").val(),
                'new_password': $("#new_password").val(),
                'new_password_confirm': $("#new_password_confirm").val(),
                '_xsrf': $("input[name=_xsrf]").val()
            },
            dataType: "json",
            success: function (result) {
                if (result.code == 1) {
                    wModalDialog({
                        content: ('密码修改成功!'),
                        showAnimate: true,
                        type: "success",
                        cancelCallBack: function () {
                            window.location.href = '/user/profile'
                        }
                    });


                }
            },
            error: function (err) {
                console.log(err)
            }

        })
    }


</script>
{% end %}