{% extends "../layouts/application.html" %}
{% autoescape %}
{% block left %}
{% end %}
{% block body %}
<!--版权列表页面  -->
<div class="patent_application">
	<div class="container right-content" style="padding: 20px 60px;">
        <div class="row">
            <div class="col-md-12 " style="padding-right: 0px">
                <div class="col-md-10 col-xs-10 col-sm-9" style="padding-left: 0px">
                    <div class="color"></div>
                        <div class="content_title">主体申请</div>
                        <br style="clear:both;">
                </div>
                <div class="col-md-2 col-sm-2" style="text-align: right;"><a href="/applicant/new" class="btn btn-danger btn_add_sty"><span class="glyphicon glyphicon-plus"></span>添加主体</a></div>
            </div>

             <!--申请列表-->
             <div  class="panel-body col-md-12 col-sm-12 ">
                 <!-- /.panel-heading -->
                     <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" style="border:none;">
                            <thead>
                                <tr style="background-color: #e7e7e7">
                                    <th style="width:60px;border:none" class="th_sty"></th>
                                    <th class="th_sty" style="border:none;">名称</th>
                                    <th class="th_sty" style="border:none;">主体类型</th>
                                    <th class="th_sty" style="border:none;">公司所在地区</th>
                                    <th class="th_sty" style="border:none;">创建时间</th>
                                    <th class="th_sty" style="border:none;">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for applicant in applicants %}
                                 <tr class="th_sty">
                                    <td style="border:none;"></td>
                                    {% if applicant.app_type=='person' %}
                                        <td class="algin_sty" style="border:none;">{{applicant.person_name}}</td>
                                    {% elif applicant.app_type=='com' %}
                                        <td class="algin_sty" style="border:none;">{{applicant.company_name}}</td>
                                    {% end %}
                                    {% if applicant.app_type=='person' %}
                                        <td class="algin_sty" style="border:none;">个人主体</td>
                                    {% elif applicant.app_type == 'com' %}
                                        <td class="algin_sty" style="border:none;">企业主体</td>
                                    {% end %}
                                    <td class="algin_sty" style="border:none;">{{applicant.temp_region}}</td>
                                    <td class="algin_sty" style="border:none;">{{applicant.created_at}}</td>
                                    <td class="algin_sty" style="border:none;">
                                        <a style="margin-right: 5px;" href="/applicant/{{applicant.id}}/detail">查看</a>|<a style="margin-left: 5px" href="/applicant/{{applicant.id}}/edit">修改</a>
                                    </td>
                                </tr>
                            {% end %}
                            </tbody>
                        </table>
                        <div class="wtable-footer col-md-12">
                            <div id="pagination-container" class="paging_sty"></div>
                        </div>
                     </div>
             </div>
        </div>
    </div>
</div>
{% end %}
{% block javascript %}
<script type="text/javascript" src="{{static_url('js/w-page.min.js')}}"></script>
<script>
        /*分页开始*/
        var currentPage = {{current_page}};
        var totalPage = {{total_page}};
        $('#pagination-container').wPage({
            currentPage:currentPage,    // 当前页 默认 1
            totalPage:totalPage,     // 总页数 默认 1
            firstCount: 1,      // 1 ... 3 4 5 ... 108首页处预览页数 默认 1
            lastCount: 1,       // 1 ... 3 4 5 ... 108尾页处预览页数 默认 1
            prevCount: 2,       // 当前页前预览页数 默认 2
            nextCount: 6,       // 当前页后预览页数 默认 6
            clickCallBack:function (pageNum, $element){
                 window.location.href='/user/applicants?currentPage='+pageNum;
            }
        });
        /*分页结束*/
</script>
{% end %}

