{% extends "../layouts/application.html" %}
{% block body %}
<div class="patent_application">
    <div class="container right-content" style="padding: 20px 60px;">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-md-10 col-xs-10 col-sm-9" style="padding-top: 20px;padding-left: 0;">
                    <div class="color"></div>
                        <div class="content_title">主体申请</div>
                        <br style="clear:both;">
                </div>
            </div>
            <div class="col-md-12">
                {% if applicant.region == 'cn' and applicant.app_type == 'person' %}
                <div class="form-group">
                    <label class=" control-label">国籍：</label>
                    {{applicant.temp_region}}
                </div>
                <div class="form-group">
                    <label class=" control-label">主体类型：</label>
                    {{applicant.temp_app_type}}
                </div>
                <div class="form-group">
                    <label class=" control-label">真实姓名：</label>
                    {{applicant.person_name}}
                </div>
                <div class="form-group">
                    <label class=" control-label">身份证号码：</label>
                    {{applicant.id_card_num}}
                </div>
                <div class="form-group">
                    <label class=" control-label">身份证地址：</label>
                    {{applicant.person_address}}
                </div>
                <div class="form-group">
                    <label class=" control-label">身份证图像：</label>
                    <img src="{{oss_img_url(applicant.id_card_front_img)}}" width="50px" height="50px"/>
                    <img src="{{oss_img_url(applicant.id_card_back_img)}}" width="50px" height="50px"/>
                </div>
                <div class="form-group">
                    <label class=" control-label">个体工商户名称：</label>
                    {{applicant.company_name}}
                </div>
                <div class="form-group">
                    <label class=" control-label">个体工商户执照地址：</label>
                    {{applicant.register_address}}
                </div>
                <div class="form-group">
                    <label class=" control-label">个体工商户执照：</label>
                    <img src="{{oss_img_url(applicant.certificate_img1)}}" width="50px" height="50px"/>
                </div>
                {% elif (applicant.region == 'hk' or applicant.region == 'tw' or applicant.region == 'mo') and applicant.app_type == 'person' %}
                <div class="form-group">
                    <label class=" control-label">国籍：</label>
                    {{applicant.temp_region}}
                </div>
                <div class="form-group">
                    <label class=" control-label">主体类型：</label>
                    {{applicant.temp_app_type}}
                </div>
                <div class="form-group">
                    <label class=" control-label">真实姓名：</label>
                    {{applicant.person_name}}
                </div>
                <div class="form-group">
                    <label class=" control-label">真实英文名：</label>
                    {{applicant.person_en_name}}
                </div>
                <div class="form-group">
                    <label class=" control-label">护照号：</label>
                    {{applicant.passport_num}}
                </div>
                <div class="form-group">
                    <label class=" control-label">中文地址：</label>
                    {{applicant.person_address}}
                </div>
                <div class="form-group">
                    <label class=" control-label">英文地址：</label>
                    {{applicant.person_en_address}}
                </div>
                <div class="form-group">
                    <label class=" control-label">护照图像：</label>
                    <img src="{{oss_img_url(applicant.passport_img)}}" width="50px" height="50px"/>
                </div>
                <div class="form-group">
                    <label class=" control-label">个体工商户名称：</label>
                    {{applicant.company_name}}
                </div>
                <div class="form-group">
                    <label class=" control-label">个体工商户执照地址：</label>
                    {{applicant.register_address}}
                </div>
                <div class="form-group">
                    <label class=" control-label">个体工商户执照：</label>
                    <img src="{{oss_img_url(applicant.certificate_img1)}}" width="50px" height="50px"/>
                </div>
                {% elif applicant.region == 'other' and applicant.app_type == 'person' %}
                <div class="form-group">
                    <label class=" control-label">国籍：</label>
                    {{applicant.temp_region}}
                </div>
                <div class="form-group">
                    <label class=" control-label">主体类型：</label>
                    {{applicant.temp_app_type}}
                </div>
                <div class="form-group">
                    <label class=" control-label">真实姓名：</label>
                    {{applicant.person_name}}
                </div>
                <div class="form-group">
                    <label class=" control-label">真实英文名：</label>
                    {{applicant.person_en_name}}
                </div>
                <div class="form-group">
                    <label class=" control-label">护照号：</label>
                    {{applicant.passport_num}}
                </div>
                <div class="form-group">
                    <label class=" control-label">中文地址：</label>
                    {{applicant.person_address}}
                </div>
                <div class="form-group">
                    <label class=" control-label">英文地址：</label>
                    {{applicant.person_en_address}}
                </div>
                <div class="form-group">
                    <label class=" control-label">护照图像：</label>
                    <img src="{{oss_img_url(applicant.passport_img)}}" width="50px" height="50px"/>
                </div>
                {% elif applicant.region == 'cn' and applicant.app_type == 'com' %}
                <div class="form-group">
                    <label class=" control-label">国籍：</label>
                    {{applicant.temp_region}}
                </div>
                <div class="form-group">
                    <label class=" control-label">主体类型：</label>
                    {{applicant.temp_app_type}}
                </div>
                <div class="form-group">
                    <label class=" control-label">公司名称：</label>
                    {{applicant.company_name}}
                </div>
                <!--<div class="form-group">
                    <label class=" control-label">营业执照号：</label>
                    {{applicant.certificate_num}}
                </div>-->
                <div class="form-group">
                    <label class=" control-label">注册地址：</label>
                    {{applicant.register_address}}
                </div>
                <div class="form-group">
                    <label class=" control-label">公司营业执照：</label>
                    <img src="{{oss_img_url(applicant.certificate_img1)}}" width="50px" height="50px"/>
                </div>
                {% elif (applicant.region == 'hk' or applicant.region == 'tw' or applicant.region == 'mo') and applicant.app_type == 'com' %}
                <div class="form-group">
                    <label class=" control-label">国籍：</label>
                    {{applicant.temp_region}}
                </div>
                <div class="form-group">
                    <label class=" control-label">主体类型：</label>
                    {{applicant.temp_app_type}}
                </div>
                <div class="form-group">
                    <label class=" control-label">公司名称：</label>
                    {{applicant.company_name}}
                </div>
                <div class="form-group">
                    <label class=" control-label">公司英文名称：</label>
                    {{applicant.company_en_name}}
                </div>
                <div class="form-group">
                    <label class=" control-label">注册证书编号：</label>
                    {{applicant.certificate_num}}
                </div>
                <div class="form-group">
                    <label class=" control-label">注册地址：</label>
                    {{applicant.register_address}}
                </div>
                <div class="form-group">
                    <label class=" control-label">注册英文地址：</label>
                    {{applicant.register_en_address}}
                </div>
                <div class="form-group">
                    <label class=" control-label">上传主体资格证明：</label>
                    <img src="{{oss_img_url(applicant.certificate_img2)}}" width="50px" height="50px"/>
                </div>
                {% elif applicant.region == 'other' and applicant.app_type == 'com' %}
                <div class="form-group">
                    <label class=" control-label">国籍：</label>
                    {{applicant.temp_region}}
                </div>
                <div class="form-group">
                    <label class=" control-label">主体类型：</label>
                    {{applicant.temp_app_type}}
                </div>
                <div class="form-group">
                    <label class=" control-label">公司名称：</label>
                    {{applicant.company_name}}
                </div>
                <div class="form-group">
                    <label class=" control-label">公司英文名称：</label>
                    {{applicant.company_en_name}}
                </div>
                <div class="form-group">
                    <label class=" control-label">注册证书编号：</label>
                    {{applicant.certificate_num}}
                </div>
                <div class="form-group">
                    <label class=" control-label">注册地址：</label>
                    {{applicant.register_address}}
                </div>
                <div class="form-group">
                    <label class=" control-label">注册英文地址：</label>
                    {{applicant.register_en_address}}
                </div>
                <div class="form-group">
                    <label class=" control-label">上传主体资格证明：</label>
                    <img src="{{oss_img_url(applicant.certificate_img2)}}" width="50px" height="50px"/>
                </div>
                {% end %}
            </div>
        </div>
    </div>
</div>
{% end %}
{% block javascript %}
<script src="{{ static_url('js/validator.min.js') }}"></script>
<script>

</script>
{% end %}