{% extends "../layouts/application.html" %}
        {% autoescape None%}
{% block head%}
{% end %}
{% block body %}
<div class="patent_application">
    <div class="container right-content">
        <h3 class="page-head" style="padding-left: 60px;">添加申请人主体信息</h3>
        <div class="col-sm-12 app_new">
            <div class="form-horizontal applicat" id="applicat" style="margin-bottom: 30px;">
                <div class="form-group" id="select_region">
                    <label class="col-sm-3 control-label">请选择</label>
                    <div class="col-sm-9" >
                        {% module radio(name="applicant_region",
                                    value = 'cn',
                                    radio_type="cus_inline",
                                    options=[{"id":"cn","name":"中国大陆"},
                                            {"id":"hk","name":"中国香港"},
                                            {"id":"mo","name":"中国澳门"},
                                            {"id":"tw","name":"中国台湾"},
                                            {"id":"other","name":"其他国籍"}],
                                    value_field='id',
                                    name_field='name',
                                    ext_class='')%}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">主体类型</label>
                    <div class="col-sm-9">
                        {% module radio(name="applicant_type",
                                    value = 'person',
                                    radio_type="cus_inline",
                                    options=[{"id":"person","name":"个人(个体工商户)"},
                                            {"id":"com","name":"公司(机构)"}],
                                    value_field='id',
                                    name_field='name',
                                    ext_class='')%}
                    </div>
                </div>
            </div>
            <form action="/applicant/submit" class="form-horizontal forms" role="form" method="post" id="form1"  style="display:block">
                {% raw xsrf_form_html() %}
                <input type="hidden" value="{{next_url}}" name="next_url">
                {% if applicant.id%}
                    <input name="_method" type="hidden" value="put"/>
                    <input name="id" type="hidden" value="{{applicant.id}}"/>
                {% end %}
                <div class="form-group">
                    <label class="col-sm-3 control-label">真实姓名</label>
                    <div class="col-sm-8"><input type="text" name="person_name" value="{{applicant.person_name}}" class="form-control" placeholder="请输入真实姓名"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">身份证号</label>
                    <div class="col-sm-8"><input type="text" name="id_card_num" value="{{applicant.id_card_num}}" class="form-control" placeholder="请输入18位身份证号码"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">身份证地址</label>
                    <div class="col-sm-8"><input type="text" name="person_address" value="{{applicant.person_address}}" class="form-control" placeholder="请输入身份证地址"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">上传身份证</label>
                    <input type="hidden" name="id_card_front_img" data-name="jpg1" value="{{applicant.id_card_front_img}}" class="form-control">
                    <input type="hidden" name="id_card_back_img" data-name="jpg2" value="{{applicant.id_card_back_img}}" class="form-control">
                    <div class="col-sm-2">
                        <button type="button" data-num="1" id="iFrameUpload_img1" name="id_card_front_img" class="btn btn-defaults uploadHook">上传正面</button>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" data-num="2" id="iFrameUpload_img2" name="id_card_back_img" class="btn btn-defaults uploadHook">上传反面</button>
                    </div>
                    <div class="col-sm-4 text-right">
                        <input type="button" data-toggle="modal" data-target="#previewImg" class="btn btn-sea-empty previewhook" value="样例(正)"/>
                        <input type="button" data-toggle="modal" data-target="#previewImg" class="btn btn-sea-empty previewhook" value="样例(反)"/>
                    </div>
                    <div class="col-sm-8 col-sm-offset-3 "><p class="tip">提醒:请上传清晰的本人正反面身份证明。图片小于2M，允许类型jpg,gif,png和bmp</p></div>
                    <div class="col-sm-3 col-sm-offset-3 upload-content1">
                        <div class="clear" id="files_img1"></div>
                    </div>
                    <div class="col-sm-3 upload-content2">
                        <div class="clear" id="files_img2"></div>
                    </div>
                </div>
                <div id="file_hidden_img1"></div>
                <div id="file_hidden_img2"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">个体工商户名称</label>
                    <div class="col-sm-8"><input type="text" name="company_name" value="{{applicant.company_name}}" class="form-control" placeholder="个体工商户名称"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">个体工商户执照地址</label>
                    <div class="col-sm-8"><input type="text" name="register_address" value="{{applicant.register_address}}" class="form-control" placeholder="请输入个体工商户执照地址"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">个体工商户执照</label>
                    <input type="hidden" name="certificate_img1" data-name="jpg3" value="{{applicant.certificate_img1}}" class="form-control" placeholder="个体工商户执照">
                    <div class="col-sm-3">
                        <button type="button" data-num="3" id="iFrameUpload_img3" name="certificate_img1" class="btn btn-defaults uploadHook">上传图片</button>
                    </div>
                    <div class="col-sm-5 text-right">
                        <input type="button" data-toggle="modal" data-target="#previewImg" class="btn btn-sea-empty previewhook" value="样例"/>
                    </div>
                    <div class="col-sm-8 col-sm-offset-3"><p class="tip">提醒：涉及业务操作，请上传清晰的个体工商户执照证明。图片小于2M，允许类型(jpg,gif,png,bmp)</p></div>
                    <div class="col-sm-3 col-sm-offset-3 upload-content3">
                        <div class="clear" id="files_img3"></div>
                    </div>
                </div>
                <div id="file_hidden_img3"></div>
                <div class="form-group">
                    <div class="col-sm-6 col-sm-offset-3">
                        <input type="button" id="form1_btn" class="btn-sea-lg btn_submit" value="保存"/>
                    </div>
                </div>
                <input type="hidden" name="region" value="cn">
                <input type="hidden" name="app_type" value="person">
            </form>
            <form action="/applicant/submit" class="form-horizontal forms" role="form" method="post" id="form2" enctype="multipart/form-data" style="display:none">
                {% raw xsrf_form_html() %}
                <input type="hidden" value="{{next_url}}" name="next_url">
                {% if applicant.id%}
                    <input name="_method" type="hidden" value="put"/>
                    <input name="id" type="hidden" value="{{applicant.id}}"/>
                {% end %}
                <div class="form-group">
                    <label class="col-sm-3 control-label">真实姓名</label>
                    <div class="col-sm-8"><input type="text" name="person_name" value="{{applicant.person_name}}" class="form-control" placeholder="请输入真实姓名"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">真实英文名</label>
                    <div class="col-sm-8"><input type="text" name="person_en_name" value="{{applicant.person_en_name}}" class="form-control" placeholder="请输入真实英文名"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">护照号</label>
                    <div class="col-sm-8"><input type="text" name="passport_num" value="{{applicant.passport_num}}" class="form-control" placeholder="请输入护照号"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">中文地址</label>
                    <div class="col-sm-8"><input type="text" name="person_address" value="{{applicant.person_address}}" class="form-control" placeholder="中文地址"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">英文地址</label>
                    <div class="col-sm-8"><input type="text" name="person_en_address" value="{{applicant.person_en_address}}" class="form-control" placeholder="英文地址"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">上传护照</label>
                    <input type="hidden" name="applicant.passport_img" data-name="jpg4" value="{{applicant.passport_img}}" class="form-control" placeholder="上传护照">
                    <div class="col-sm-3">
                        <button type="button" data-num="4" id="iFrameUpload_img4" name="passport_img" class="btn btn-defaults uploadHook">上传护照</button>
                    </div>
                    <div class="col-sm-5 text-right">
                        <input type="button" data-toggle="modal" data-target="#previewImg" class="btn btn-sea-empty previewhook" value="样例"/>
                    </div>
                    <div class="col-sm-8 col-sm-offset-3"><p class="tip">提醒:请上传清晰的护照证明。图片小于2M，允许类型(jpg,gif,png,bmp)</p></div>
                    <div class="col-sm-3 col-sm-offset-3 upload-content4">
                        <div class="clear" id="files_img4"></div>
                    </div>
                </div>
                <div id="file_hidden_img4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">个体工商户名称</label>
                    <div class="col-sm-8"><input type="text" name="company_name" value="{{applicant.company_name}}" class="form-control" placeholder="个体工商户名称"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">个体工商户执照地址</label>
                    <div class="col-sm-8"><input type="text" name="register_address" value="{{applicant.register_address}}" class="form-control" placeholder="个体工商户执照地址"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">个体工商户执照</label>
                    <input type="hidden" name="certificate_img1" data-name="jpg5" value="{{applicant.certificate_img1}}" class="form-control" placeholder="个体工商户执照">
                    <div class="col-sm-3">
                        <button type="button" data-num="5" id="iFrameUpload_img5" name="certificate_img1" class="btn btn-defaults uploadHook">上传图片</button>
                    </div>
                    <div class="col-sm-5 text-right">
                        <input type="button" data-toggle="modal" data-target="#previewImg" class="btn btn-sea-empty previewhook" value="样例"/>
                    </div>
                    <div class="col-sm-8 col-sm-offset-3"><p class="tip">提醒：涉及业务操作，请上传清晰的个体工商户执照证明。图片小于2M，允许类型(jpg,gif,png,bmp)</p></div>
                    <div class="col-sm-3 col-sm-offset-3 upload-content5">
                        <div class="clear" id="files_img5"></div>
                    </div>
                </div>
                <div id="file_hidden_img5"></div>
                <div class="form-group">
                    <div class="col-sm-3 col-sm-offset-3">
                        <input type="button" id="form2_btn" class="btn-sea-lg btn_submit" value="保存"/>
                    </div>
                </div>
            </form>
            <form action="/applicant/submit" class="form-horizontal forms" role="form" method="post" id="form3" enctype="multipart/form-data" style="display:none">
                {% raw xsrf_form_html() %}
                <input type="hidden" value="{{next_url}}" name="next_url">
                {% if applicant.id%}
                    <input name="_method" type="hidden" value="put"/>
                    <input name="id" type="hidden" value="{{applicant.id}}"/>
                {% end %}
                <div class="form-group" style="margin-top: 20px;">
                    <label class="col-sm-3 control-label">国籍:</label>
                    <div class="col-sm-8"><input type="text" name="nationality_name" value="{{applicant.nationality_name}}" class="form-control" placeholder="请输入国籍名称"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">真实姓名</label>
                    <div class="col-sm-8"><input type="text" name="person_name" value="{{applicant.person_name}}" class="form-control" placeholder="请输入真实姓名"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">真实英文名</label>
                    <div class="col-sm-8"><input type="text" name="person_en_name" value="{{applicant.person_en_name}}" class="form-control" placeholder="请输入真实英文名"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">护照号</label>
                    <div class="col-sm-8"><input type="text" name="passport_num" value="{{applicant.passport_num}}" class="form-control" placeholder="请输入护照号"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">中文地址</label>
                    <div class="col-sm-8"><input type="text" name="person_address" value="{{applicant.person_address}}" class="form-control" placeholder="请输入中文地址"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">英文地址</label>
                    <div class="col-sm-8"><input type="text" name="person_en_address" value="{{applicant.person_en_address}}" class="form-control" placeholder="请输入英文地址"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">上传护照</label>
                    <input type="hidden" name="applicant.passport_img" data-name="jpg6" value="{{applicant.passport_img}}" class="form-control" placeholder="上传护照">
                    <div class="col-sm-2">
                        <button type="button" data-num="6" id="iFrameUpload_img6" name="passport_img" class="btn btn-defaults uploadHook">上传护照</button>
                    </div>
                    <div class="col-sm-6 text-right">
                        <input type="button" data-toggle="modal" data-target="#previewImg" class="btn btn-sea-empty previewhook" value="样例"/>
                    </div>
                    <div class="col-sm-8 col-sm-offset-3"><p class="tip">提醒：涉及业务操作，请上传清晰的个体工商户执照证明。图片小于2M，允许类型(jpg,gif,png,bmp)</p></div>
                    <div class="col-sm-3 col-sm-offset-3 upload-content6">
                        <div class="clear" id="files_img6"></div>
                    </div>
                </div>
                <div id="file_hidden_img6"></div>
                <div class="form-group">
                    <div class="col-sm-6 col-sm-offset-3">
                        <input type="button" id="form3_btn" class="btn-sea-lg btn_submit" value="保存"/>
                    </div>
                </div>
            </form>
            <form action="/applicant/submit" class="form-horizontal forms" role="form" method="post" id="form4" enctype="multipart/form-data" style="display:none">
                {% raw xsrf_form_html() %}
                <input type="hidden" value="{{next_url}}" name="next_url">
                {% if applicant.id%}
                    <input name="_method" type="hidden" value="put"/>
                    <input name="id" type="hidden" value="{{applicant.id}}"/>
                {% end %}
                <div class="form-group" style="margin-top: 20px;">
                    <label class="col-sm-3 control-label">公司名称</label>
                    <div class="col-sm-8"><input type="text" name="company_name" value="{{applicant.company_name}}" class="form-control" placeholder="请输入公司名称"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">注册地址</label>
                    <div class="col-sm-8"><input type="text" name="register_address" value="{{applicant.register_address}}" class="form-control" placeholder="请输入公司注册地址"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">公司营业执照</label>
                    <input type="hidden" name="certificate_img1" data-name="jpg7" value="{{applicant.certificate_img1}}" class="form-control" placeholder="公司营业执照">
                    <div class="col-sm-2">
                        <button type="button" data-num="7" id="iFrameUpload_img7" name="certificate_img1" class="btn btn-defaults uploadHook">上传执照</button>
                    </div>
                    <div class="col-sm-6 text-right">
                        <input type="button" data-toggle="modal" data-target="#previewImg" class="btn btn-sea-empty previewhook" value="样例"/>
                    </div>
                    <div class="col-sm-8 col-sm-offset-3"><p class="tip">提醒：请上传清晰的本人身份证明。图片小于2M，允许类型(jpg,gif,png,bmp)</p></div>
                    <div class="col-sm-3 col-sm-offset-3 upload-content7">
                        <div class="clear" id="files_img7"></div>
                    </div>
                </div>
                <div id="file_hidden_img7"></div>
                <div class="form-group">
                    <div class="col-sm-3 col-sm-offset-3">
                        <input type="button" id="form4_btn" class="btn-sea-lg btn_submit" value="保存"/>
                    </div>
                </div>
            </form>
            <form action="/applicant/submit" class="form-horizontal forms" role="form" method="post" id="form5" enctype="multipart/form-data" style="display:none">
                {% raw xsrf_form_html() %}
                <input type="hidden" value="{{next_url}}" name="next_url">
                {% if applicant.id%}
                    <input name="_method" type="hidden" value="put"/>
                    <input name="id" type="hidden" value="{{applicant.id}}"/>
                {% end %}
                <div class="form-group" style="margin-top: 20px;">
                    <label class="col-sm-3 control-label">公司名称</label>
                    <div class="col-sm-8"><input type="text" name="company_name" value="{{applicant.company_name}}" class="form-control" placeholder="请输入公司名称"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">公司英文名称</label>
                    <div class="col-sm-8"><input type="text" name="company_en_name" value="{{applicant.company_en_name}}" class="form-control" placeholder="请输入公司英文名称"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">注册证书编号</label>
                    <div class="col-sm-8"><input type="text" name="certificate_num" value="{{applicant.certificate_num}}" class="form-control" placeholder="请输入注册证书编号"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">注册地址</label>
                    <div class="col-sm-8"><input type="text" name="register_address" value="{{applicant.register_address}}" class="form-control" placeholder="注册地址"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">注册英文地址</label>
                    <div class="col-sm-8"><input type="text" name="register_en_address" value="{{applicant.register_en_address}}" class="form-control" placeholder="注册英文地址"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">上传主体资格证明</label>
                    <input type="hidden" name="certificate_img2" data-name="jpg8" value="{{applicant.certificate_img2}}" class="form-control" placeholder="上传主体资格证明">
                    <div class="col-sm-3">
                        <button type="button" data-num="8" id="iFrameUpload_img8" name="certificate_img2" class="btn btn-defaults  uploadHook">上传证明</button>
                    </div>
                    <div class="col-sm-5 text-right">
                        <input type="button" data-toggle="modal" data-target="#previewImg" class="btn btn-sea-empty previewhook" value="样例"/>
                    </div>
                    <div class="col-sm-8 col-sm-offset-3"><p class="tip">提醒：请上传上传主体资格证明。图片小于2M，允许类型(jpg,gif,png,bmp)</p></div>
                    <div class="col-sm-3 col-sm-offset-3 upload-content8">
                        <div class="clear" id="files_img8"></div>
                    </div>
                </div>
                <div id="file_hidden_img8"></div>
                <div class="form-group">
                    <div class="col-sm-3 col-sm-offset-3">
                        <input type="button" id="form5_btn" class="btn-sea-lg btn_submit" value="保存"/>
                    </div>
                </div>
            </form>
            <form action="/applicant/submit" class="form-horizontal forms" role="form" method="post" id="form6" enctype="multipart/form-data" style="display:none">
            {% raw xsrf_form_html() %}
                <input type="hidden" id="next_url_id" value="{{next_url}}" name="next_url">
            {% if applicant.id%}
                <input name="_method" type="hidden" value="put"/>
                <input name="id" type="hidden" value="{{applicant.id}}"/>
            {% end %}
            <div class="form-group" style="margin-top: 20px;">
                <label class="col-sm-3 control-label">国籍</label>
                <div class="col-sm-8"><input type="text" name="nationality_name" value="{{applicant.nationality_name}}" class="form-control" placeholder="请输入国籍名称"></div>
            </div>
            <div class="form-group" style="margin-top: 20px;">
                <label class="col-sm-3 control-label">公司名称</label>
                <div class="col-sm-8"><input type="text" name="company_name" value="{{applicant.company_name}}" class="form-control" placeholder="请输入公司名称"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">公司英文名称</label>
                <div class="col-sm-8"><input type="text" name="company_en_name" value="{{applicant.company_en_name}}" class="form-control" placeholder="请输入公司英文名称"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">注册证书编号</label>
                <div class="col-sm-8"><input type="text" name="certificate_num" value="{{applicant.certificate_num}}" class="form-control" placeholder="请输入注册证书编号"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">注册地址</label>
                <div class="col-sm-8"><input type="text" name="register_address" value="{{applicant.register_address}}" class="form-control" placeholder="注册地址"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">注册英文地址</label>
                <div class="col-sm-8"><input type="text" name="register_en_address" value="{{applicant.register_en_address}}" class="form-control" placeholder="注册英文地址"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">上传主体资格证明</label>
                <input type="hidden" name="applicant.certificate_img2" data-name="jpg9" value="{{applicant.certificate_img2}}" class="form-control" placeholder="上传主体资格证明">
                <div class="col-sm-3">
                    <button type="button" data-num="9" id="iFrameUpload_img9" name="certificate_img2" class="btn btn-defaults  uploadHook">上传证明</button>
                </div>
                <div class="col-sm-5 text-right">
                    <input type="button" data-toggle="modal" data-target="#previewImg" class="btn btn-sea-empty previewhook" value="样例"/>
                </div>
                <div class="col-sm-8 col-sm-offset-3"><p class="tip">提醒：请上传上传主体资格证明。图片小于2M，允许类型(jpg,gif,png,bmp)</p></div>
                <div class="col-sm-3 col-sm-offset-3 upload-content9">
                    <div class="clear" id="files_img9"></div>
                </div>
            </div>
                <div id="file_hidden_img9"></div>
            <div class="form-group">
                <div class="col-sm-3 col-sm-offset-3">
                    <input type="button" id="form6_btn" class="btn-sea-lg btn_submit" value=" 保存"/>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>
<div class="modal fade" id="previewImg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             <h4>样例图片</h4>
          </div>
        <div class="modal-body" style="text-align: center;">
            <img id="after_img" src="{{static_url('img/shenfenbef.jpg')}}" alt=""/>
        </div>

    </div>
  </div>
</div>
{% end %}
{% block javascript %}
<script src="{{static_url('js/move.min.js') }}"></script>
<script src="{{ static_url('js/jquery.form.min.js') }}"></script>
<script>
//    {% if globals().get('validation_errors') %}
//        {% for field, error in validation_errors.iteritems() %}
//            console.log('{{field}}','{{error}}');
//            showErr('{{field}}','{{error}}')
//        {% end %}
//    {% end %}
    $('input[data-target=#previewImg]').click(function (){
        var arr = [
                '{{static_url('img/shenfenbef.jpg')}}',
                '{{static_url('img/shenfenaft.jpg')}}',
                '{{static_url('img/zhizhao_geti.jpg')}}',
                '{{static_url('img/huzhao.jpg')}}',
                '{{static_url('img/zhizhao_geti.jpg')}}',
                '{{static_url('img/huzhao.jpg')}}',
                '{{static_url('img/zhizhao_fuben.jpg')}}',
                '{{static_url('img/applicant_img.jpg')}}',
                '{{static_url('img/applicant_img.jpg')}}'
        ]
        var index = $('input[data-target=#previewImg]').index($(this));
        $('#after_img').attr('src',arr[index]);
    });
    $(document).on('click','.uploadHook',function (){
        $(this).next().css('color','#fff').parents('.form-group').find('.control-label').css('color','#474747');
        var $this = $(this);
        var index = $this.data('num');
        var $iFrameUpload_img = $this.attr('id');
        var $hook = $('#'+$iFrameUpload_img);

        $hook.wIFrameUpload({
            url: "/iframe_upload",
            ossName: "yestar",
            openPositionInterval: true,
            beforeSubmit: function ($file_input_img) {
                var file_name = $file_input_img.val();
                var arr = ["gif", "jpeg", "jpg", "bmp", "png"];
                if (!RegExp("\.(" + arr.join("|") + ")$", "i").test(file_name.toLowerCase())) {
                    wModalDialog({
                        content:'选择文件错误,图片类型必须是(gif,jpeg,jpg,bmp,png)中的一种',
                        showAnimate:true,
                        type:"failed"
                     });
                    return false
                }
                if ($('#files_img'+index).html()) {
                    $('#file_hidden_img'+index).html('');
                    $('#files_img'+index).html('');
                }
                $('#files_img'+index).html('<div class="file" state="load"><img width="140px" height="140px" src="/s/img/load.gif"></div>');
                return true;//返回false 阻止提交
            },
            success: function (data) {
                if (data.status == 1) {
                    $('#files_img'+index).css('display', 'block');
                    $('#files_img'+index).html('<div class="file"><img class="imgs" style="width:140px;height:140px;" src="' + data.downloadUrl + '"></div>');
                    $('input[data-name=jpg'+index+']').attr('value',data.ossUrl);
                    $('#iFrameUpload_img'+index).html('修改图片');
                    $('#iFrameUpload_img'+index).attr('value', '111');
                    if($hook.parents('.form-group').find('small').length == 0){
                        $hook.parents('.form-group').addClass('has-success').removeClass('has-error')
                    }
                } else {
                    wModalDialog({
                        content: data.message,
                        showAnimate:true,
                        type:"failed"
                     });
                }
            }
        });
        if (!window.ActiveXObject) {
           $('#form_iFrameUpload_img'+index).find('input[type=file]').click();
        }
    });
    var arr_person = {'cn':'1', 'hk':'2', 'tw':'2','mo':'2','other':'3'};
    var arr_comany = {'cn':'4', 'hk':'5', 'tw':'5','mo':'5','other':'6'};
    var applicant_id = "{{applicant.id}}";
    $(".cus_radio li").click(function () {
        var ragion_value = $("input[name='applicant_region']").val();
        var type_value = $("input[name='applicant_type']").val();
        $('.forms').hide();
        if (type_value == 'person' && arr_person[ragion_value]) {
            $('#form' + arr_person[ragion_value]).show();
            $('<input type="hidden" name="region" value="' + ragion_value + '">').appendTo('#form' + arr_person[ragion_value]);
            $('<input type="hidden" name="app_type" value="' + type_value + '">').appendTo('#form' + arr_person[ragion_value]);
        }
        if (type_value == 'com' && arr_comany[ragion_value]) {
            $('#form' + arr_comany[ragion_value]).show();
            $('<input type="hidden" name="region" value="' + ragion_value + '">').appendTo('#form' + arr_comany[ragion_value]);
            $('<input type="hidden" name="app_type" value="' + type_value + '">').appendTo('#form' + arr_comany[ragion_value]);
        }
    });

//    修改
    var ragion_value_old = '{{applicant.region}}';
    var type_value_old = '{{applicant.app_type}}';
    if (ragion_value_old) {
//        from表单赋值
        $('.forms').hide();
        if (type_value_old == 'person' && arr_person[ragion_value_old]) {
            $('#form' + arr_person[ragion_value_old]).show();
            $('<input type="hidden" name="region" value="' + ragion_value_old + '">').appendTo('#form' + arr_person[ragion_value_old]);
            $('<input type="hidden" name="app_type" value="' + type_value_old + '">').appendTo('#form' + arr_person[ragion_value_old]);
        }
        if (type_value_old == 'com' && arr_comany[ragion_value_old]) {
            $('#form' + arr_comany[ragion_value_old]).show();
            $('<input type="hidden" name="region" value="' + ragion_value_old + '">').appendTo('#form' + arr_comany[ragion_value_old]);
            $('<input type="hidden" name="app_type" value="' + type_value_old + '">').appendTo('#form' + arr_comany[ragion_value_old]);
        }
        //选项赋值
        for (var i = 0; i < $('.cus_radio li').length; i++) {
            var aaa=$('.cus_radio li:eq(' + i + ')').attr('data-value');
            if ( aaa == ragion_value_old || aaa == type_value_old){
                continue;
            }
            $('.cus_radio li:eq(' + i + ')').removeClass('btn-pink').addClass('btn-wrap');
        }
        for (var i = 0; i < $('.cus_radio li').length; i++) {
            if ($('.cus_radio li:eq(' + i + ')').attr('data-value') == ragion_value_old) {
                $('.cus_radio li:eq(' + i + ')').addClass('btn-pink').removeClass('btn-wrap')
            }
            if ($('.cus_radio li:eq(' + i + ')').attr('data-value') == type_value_old) {
                $('.cus_radio li:eq(' + i + ')').addClass('btn-pink').removeClass('btn-wrap')
            }
        }

    }
//    表单验证
    $('#form1').bootstrapValidator({
        verbose:false,
        fields:{
            "person_name":{
                validators:{
                    notEmpty:{
                        message:'请输入您真实姓名！'
                    }
                }
            },
            "id_card_num":{
                validators:{
                      notEmpty:{
                          message:'请输入您身份证号码！'
                      },
                     regexp: {
                        regexp:/(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/,
                        message: '请输入您身份证号码！'
                     }
                  }
            },
            "person_address":{
                validators:{
                    notEmpty:{
                        message:'请输入您身份证地址！'
                    }
                }
            },
            "company_name":{
                validators:{
                    notEmpty:{
                        message:'请输入个体工商户名称！'
                    }
                }
            },
            "register_address":{
                validators:{
                    notEmpty:{
                        message:'请输入个体工商地址！'
                    }
                }
            }
        }
    });
    $('#form2').bootstrapValidator({
        verbose:false,
         fields:{
            "person_name":{
                validators:{
                    notEmpty:{
                        message:'请输入您真实姓名！'
                    }
                }
            },
             "person_en_name":{
               validators:{
                      notEmpty:{
                          message:'请输入您的英文名字！'
                      },
                     regexp: {
                        regexp:/^[A-Za-z][A-Za-z\s]*[A-Za-z]$/,
                        message: '请输入您的英文名字！'
                     }
                  }
             },
            "passport_num":{
                validators:{
                      notEmpty:{
                          message:'请输入您护照号码！'
                      }
                  }
            },
            "person_address":{
                validators:{
                    notEmpty:{
                        message:'请输入您的地址！'
                    }
                }
            },
             "person_en_address":{
                 validators:{
                    notEmpty:{
                        message:'请输入您的地址！'
                    },
                     regexp: {
                        regexp: /^[a-zA-Z][\.a-zA-Z\s,0-9]*?[a-zA-Z]+$/,
                        message: '请输入您英文地址！'
                     }
                }
             },
            "company_name":{
                validators:{
                    notEmpty:{
                        message:'请输入个体工商户名称！'
                    }
                }
            },
            "register_address":{
                validators:{
                    notEmpty:{
                        message:'请输入个体工商地址！'
                    }
                }
            }
        }
    })
    $('#form3').bootstrapValidator({
        verbose:false,
         fields:{
            "nationality_name":{
                validators:{
                    notEmpty:{
                        message:'请输入您的国籍！'
                    }
                }
            },
             "person_name":{
                 validators:{
                    notEmpty:{
                        message:'请输入您的真实姓名！'
                    }
                }
             },
             "person_en_name":{
               validators:{
                      notEmpty:{
                          message:'请输入您的英文名字！'
                      },
                     regexp: {
                        regexp:/^[A-Za-z][A-Za-z\s]*[A-Za-z]$/,
                        message: '请输入您的英文名字！'
                     }
                  }
             },
            "passport_num":{
                validators:{
                      notEmpty:{
                          message:'请输入您护照号码！'
                      }
                  }
            },
            "person_address":{
                validators:{
                    notEmpty:{
                        message:'请输入您的地址！'
                    }
                }
            },
             "person_en_address":{
                 validators:{
                    notEmpty:{
                        message:'请输入您的地址！'
                    },
                     regexp: {
                        regexp: /^[a-zA-Z][\.a-zA-Z\s,0-9]*?[a-zA-Z]+$/,
                        message: '请输入您英文地址！'
                     }
                }
             }
        }
    });
    $('#form4').bootstrapValidator({
        verbose:false,
        fields:{
            "company_name":{
                validators:{
                    notEmpty:{
                        message:'请输入您的公司名称！'
                    }
                }
            },
            "register_address":{
                validators:{
                    notEmpty:{
                        message:'请输入您的公司注册地址！'
                    }
                }
            }
        }
    })
    $('#form5').bootstrapValidator({
        verbose:false,
        fields:{
            "company_name":{
                validators:{
                    notEmpty:{
                        message:'请输入您的公司名称！'
                    }
                }
            },
//            "company_en_name":{
//                validators:{
//                    notEmpty:{
//                        message:'请输入您的公司英文名称！'
//                    }
//                }
//            },
            "certificate_num":{
                validators:{
                    notEmpty:{
                        message:'请输入您的公司注册证书编号！'
                    }
                }
            },
            "register_address":{
                validators:{
                    notEmpty:{
                        message:'请输入您的公司注册地址！'
                    }
                }
            },
            "register_en_address":{
                validators:{
                    notEmpty:{
                        message:'请输入您的公司英文地址！'
                    }
                }
            }
        }
    });
    $('#form6').bootstrapValidator({
        verbose:false,
         fields:{
             "nationality_name":{
                 validators:{
                    notEmpty:{
                        message:'请输入您的国籍！'
                    }
                }
             },
             "company_name":{
                 validators:{
                    notEmpty:{
                        message:'请输入您的公司名称！'
                    }
                }
             },
             "company_en_name":{
                 validators:{
                    notEmpty:{
                        message:'请输入您的公司英文名称！'
                    }
                }
             },
             "certificate_num":{
                 validators:{
                    notEmpty:{
                        message:'请输入您的注册证书编号！'
                    }
                }
             },
             "register_address":{
                 validators:{
                    notEmpty:{
                        message:'请输入您的公司注册地址！'
                    }
                }
             },
             "register_en_address":{
                 validators:{
                    notEmpty:{
                        message:'请输入您的公司注册英文地址！'
                    }
                }
             }
         }
    });
function submitForm(){
    var $submitbtn = $('.btn_submit');
    $submitbtn.click(function(){
        var $form = $(this).closest('form');
        $form.ajaxSubmit({
            success:function(){
                window.location.href = $('#next_url_id').val()
            },
            error: function (response) {
                var errors = response.responseJSON.errors;
                errors.forEach(function (field, msg) {
                    showErr(errors[msg].field, errors[msg].msg)
                    console.log(errors[msg].field, errors[msg].msg)
                })
            }
        })

    })
}submitForm()
//            赋值
    function dataupImg(){
        var imgArr = [
                '{{applicant.id_card_front_img}}',
                '{{applicant.id_card_back_img}}',
                '{{applicant.certificate_img1}}',
                '{{applicant.passport_img}}',
                '{{applicant.certificate_img1}}',
                '{{applicant.passport_img}}',
                '{{applicant.certificate_img1}}',
                '{{applicant.certificate_img2}}',
                '{{applicant.certificate_img2}}'
        ];
       for(var i = 0;i<imgArr.length;i++){
               var j = i+1;
           if(imgArr[i] !== ''){
               $('button[data-num='+j+']').attr('value','1111');
               $('#files_img'+j).html('<div class="file"><img class="imgs" width="140px" height="140px" src="' + oss_url1(imgArr[i]) + '"/></div>')
           }
       }
    }dataupImg();
</script>
{% end %}
