<form class="form-horizontal applicant_new" role="form" id="mainForm" name="ajaxForm" action="/mark/apply/main" method="post">

        {% raw xsrf_form_html()%}
        <input type="hidden" value="{{order.id}}" name="order_id">
        <input type="hidden" value="{{detail.biz}}" name="biz">
         {% if detail.biz == 'reissue_reg_credential'%}
            <div class="form-group">
                <label for="reissue_reason" class="col-sm-3 control-label">申请补证理由</label>
                <div class="col-sm-8 col-md-5">
                    <textarea id="reissue_reason" name="reissue_reason" cols="65" rows="8">{{detail.reissue_reason}}</textarea>
                </div>
                <div class="col-md-5"></div>
            </div>

         {% elif detail.biz in ('provide_mark_reg_proof', 'correct_mark_reg_items')%}
            <div class="form-group">
                <label for="category_code" class="col-sm-3 control-label">类别</label>
                <div class="mark_cate_inputs">
                    {% for c in detail.category_code_list%}
                        {% if c %}
                        <input type="hidden" name="category_codes" value="{{c}}">
                        {% end %}
                    {% end %}
                </div>
                    <div class="col-sm-8 mark_cate_list">
                        {% for i in range(1, 46) %}
                            {% if i < 10 %}
                                <span class="first_type_btn {% if ('0'+str(i)) in detail.category_code_list%}active{%end%}">0{{i}}</span>
                            {% else %}
                                <span class="first_type_btn {% if str(i) in detail.category_code_list%}active{%end%}" >{{i}}</span>
                            {% end %}
                        {% end %}
                    </div>
                <div class="col-md-5"></div>
            </div>


             {% if detail.biz == 'correct_mark_reg_items'%}

                <div class="form-group">
                    <label class="col-sm-3 control-label">需重新制发证书文件</label>
                    <div class="col-sm-8 col-md-5" style="margin-top: -7px;">
                        <label class="radio-inline">
                            <input type="radio" {% if detail.is_reset%} checked{% end %}  name="is_reset" value="1" >  是
                        </label>
                        <label class="radio-inline">
                            <input type="radio" {% if not detail.is_reset%} checked{% end %} name="is_reset" value="" >  否
                        </label>
                    </div>
                    <div class="col-md-5"></div>
                </div>
                <div class="form-group">
                    <label for="correct_items" class="col-sm-3 control-label">更正事项</label>
                    <div class="col-sm-8 col-md-5">
                        <textarea id="correct_items" name="correct_items" cols="65" rows="8">{{detail.correct_items}}</textarea>
                    </div>
                    <div class="col-md-5"></div>
                </div>
            {% end %}
             {% end %}
        <div class="form-group" style="margin-top: 40px;">
            <div class="col-sm-6 col-sm-offset-4 col-md-4col-md-offset-8" style="text-align: right;">
                <input type="submit" class="btn-next" value="保存">
                <button type="button" name="cancelForm" class="btn-pre">取消</button>
            </div>
        </div>
    </form>

<script>
    getfirstType('category_codes');
    {% if detail.biz == 'reissue_reg_credential'%}
    $('#mainForm').bootstrapValidator({
        fields:{
            reissue_reason:{
                validators:{
                    notEmpty:{
                        message: '请输入补证理由！'
                    }
                }
            }
        }
    });
    {% end %}
    {% if detail.biz == 'correct_mark_reg_items'%}
        // 更正事项 判断
         $('#mainForm').bootstrapValidator({
            fields:{
                correct_items:{
                    validators:{
                        notEmpty:{
                            message: '请输入更正事项！'
                        }
                    }
                }
            }
        });
    {% end %}

    function parse_apply_main() {
        var biz_type = '{{detail.biz}}';

        if($('.mark_cate_inputs input').length == 0 && biz_type != 'reissue_reg_credential'){
            if($('.mark_small').length){
                return
            }else {
                $('.mark_cate_list').parent().after('<small class="help-block mark_small col-sm-offset-3 col-sm-9" data-bv-validator="notEmpty" data-bv-result="INVALID" style="color:#a94442;">请选择要删除的商标类别！</small>');
            }
            return
        }else {
            var code_len = $('.mark_cate_list .active').length;
            var arr = [];
            for (var i = 0; i < code_len; i++) {
                arr.push($('.mark_cate_list .active:eq(' + i + ')').text() + ',')
            }
            var $reissue_reason = $('#reissue_reason').val();
            var $is_reset = $('input[name=is_reset]:checked').parent().text();
            $('.is_reset_txt').html($is_reset);
            $('.detail_reissue_reason').text($reissue_reason);
            $('#categoryName').html(arr);
            $('#correct_items_txt').html($('#correct_items').val());
        }
    }
    parse_functions['mainForm'] = parse_apply_main;
</script>




