<form class="form-horizontal attach_form" role="form" id="attachForm" name="ajaxForm" action="/mark/reg/attach" method="post">
    {% raw xsrf_form_html()%}
    <input type="hidden" name="order_id" value="{{order.id}}">
    <div class="form-group">
        <input type="hidden" name="three_d_image" value="{{detail.three_d_image}}" class="form-control" >
        <label class="col-sm-3 control-label">以三维标志申请商标注册</label>
        <div class="col-sm-4">
            <label class="radio-inline">
                <input type="radio" onclick="$('.isThree').show();" name="is_three_d" value="1" {% if detail.is_three_d %} checked="true" {% end %} >是
            </label>
             <label class="radio-inline">
                <input type="radio" onclick="$('.isThree').hide();" name="is_three_d" value="0" {% if not detail.is_three_d %} checked="true" {% end %}>否
            </label>
        </div>
    </div>
    <div class="form-group isThree" style="display: none;">
        <input type="hidden" name="three_d_image" class="hidden_num1" value="{{detail.three_d_image}}"/>
        <div class="col-sm-4 col-sm-offset-3">
            <div class="upload-content1 upimg">

            </div>
            <p>请将五面图整成一张图上传</p>
            <ul class="btn-group">
                <li data-num="1"  class="btn btn-default uploadHook">上传</li>
            </ul>
        </div>
        <div id="files_hidden_img1"></div>
        <div class="col-sm-4">
            <img src="{{static_url('img/three_d_image.jpg')}}" alt="" width="150px" height="150px" style="display: block;"/>
            <p>参考样例</p>
            <button type="button"  data-toggle="modal" data-target="#Preview_img" class="btn btn-default btn-group">预览</button>
        </div>
    </div>
    <div class="form-group">
        <input type="hidden" name="color_image" value="{{detail.color_image}}" class="form-control hidden_num2">
        <label class="col-sm-3 control-label">以颜色组合申请商标注册</label>
        <div class="col-sm-4">
            <label class="radio-inline">
                <input type="radio" name="is_color" onclick="$('.isColor').show()" value="1" {% if detail.is_color %} checked="true" {% end %} >是
            </label>
            <label class="radio-inline">
                <input type="radio" name="is_color" onclick="$('.isColor').hide()" value="0" {% if not detail.is_color %} checked="true" {% end %} >否
            </label>
        </div>
    </div>
    <div class="form-group isColor" style="display: none;">
        <div class="col-sm-4 col-sm-offset-3">
            <div class="upload-content2 upimg"></div>
            <p>请上传颜色组合图片</p>
            <ul class="btn-group">
                <li data-num="2" class="btn btn-default uploadHook">上传</li>
            </ul>
        </div>
        <div id="files_hidden_img2"></div>
        <div class="col-sm-4">
            <img src="{{static_url('img/color_image.jpg')}}" alt="" width="150px" height="150px" style="display: block;"/>
            <p>参考样例</p>
           <button type="button"  data-toggle="modal" data-target="#Preview_img" class="btn btn-default btn-group">预览</button>
        </div>
    </div>
    <div class="form-group">
        <input type="hidden" name="voice_file" value="{{detail.voice_file}}" class="form-control" >
        <label class="col-sm-3 control-label">以声音标志申请商标注册</label>
        <div class="col-sm-4">
             <label class="radio-inline">
                <input type="radio" name="is_voice" onclick="$('.isVoice').show()" value="1" {% if detail.is_voice %} checked="true" {% end %} >是
            </label>
            <label class="radio-inline">
                 <input type="radio" name="is_voice" onclick="$('.isVoice').hide()" value="0" {% if not detail.is_voice %} checked="true" {% end %} >否
            </label>

        </div>
    </div>
    <div class="form-group isVoice" style="display: none;">
        <div class="col-sm-4 col-sm-offset-3">
            <div id="files"></div>
            <p>请上传mp3格式的声音文件</p>
            <ul class="btn-group" style="margin-left: 25px;">
                <li id="iFrameUpload" class="btn btn-default">上传</li>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <input type="hidden" name="portrait_img" value="{{detail.portrait_img}}" class="form-control hidden_num3" >
        <label class="col-sm-3 control-label">以肖像权申请商标注册</label>
        <div class="col-sm-4">
            <label class="radio-inline">
                 <input type="radio" name="is_portrait" onclick="$('.isPortrait').show()" value="1" {% if detail.is_portrait %} checked="true" {% end %} >是
            </label>
            <label class="radio-inline">
                 <input type="radio" name="is_portrait" onclick="$('.isPortrait').hide()" value="0" {% if not detail.is_portrait %} checked="true" {% end %} >否
            </label>
        </div>
    </div>
    <div class="form-group isPortrait" style="display: none;">
        <div class="col-sm-4 col-sm-offset-3">
            <div class="upload-content3 upimg"></div>
            <p>请上传证明图片</p>
            <ul class="btn-group">
                <li data-num="3" class="btn btn-default uploadHook">上传</li>
            </ul>
        </div>
        <div id="files_hidden_img3"></div>
        <div class="col-sm-4">
            <img src="{{static_url('img/portrait_img.jpg')}}" alt="" width="150px" height="150px" style="display: block;"/>
            <p>参考样例</p>
            <button type="button"  data-toggle="modal" data-target="#Preview_img" class="btn btn-default btn-group">预览</button>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">在先申请/优先权</label>
        <div class="col-sm-4">
            <label class="radio-inline">
                 <input type="radio" name="is_prority" {% if detail.is_prority =='no' %} checked="true" {% end %} value="no" >无
            </label>
            <label class="radio-inline">
                 <input type="radio" name="is_prority" {% if detail.is_prority =='before' %} checked="true" {% end %} value="before" >在先申请
            </label>
            <label class="radio-inline">
                 <input type="radio" name="is_prority" {% if detail.is_prority =='exhibition' %} checked="true" {% end %} value="exhibition" >展会优先权
            </label>
        </div>
    </div>

    <div class="form-group isPrority">

        <!--<div class="group"></div>-->
        <div class="group col-sm-6 col-sm-offset-3" id="isPrority" style="display: none;">
            <ul>
               <li><span id="prority_app_region">原受理机构名称:</span><input type="text" name="prority_app_region"  value="{{detail.prority_app_region}}"/></li>
               <li><span id="prority_app_date">在先申请日:</span> <input type="text" name="prority_app_date" value="{{detail.prority_app_date}}" placeholder="年-月-日"/></li>
               <li><span id="prority_app_serial_num">在先申请号:</span> <input type="text" name="prority_app_serial_num" value="{{detail.prority_app_serial_num}}"/></li>
            </ul>
        </div>
        <!--<div class="group col-sm-6 col-sm-offset-3" style="display: none;">-->
           <!--<ul>-->
               <!--<li><span>申请/展出国家/地区:</span><input type="text" name="prority_app_region" value="{{detail.prority_app_region}}"/></li>-->
               <!--<li><span>申请/展出日期:</span><input type="text" name="prority_app_date" value="{{detail.prority_app_date}}" placeholder="年-月-日"/></li>-->
               <!--&lt;!&ndash;<li><span>申请号:</span> <input type="text" name="prority_app_serial_num" value="{{detail.prority_app_serial_num}}"/></li>&ndash;&gt;-->
           <!--</ul>-->
        <!--</div>-->
    </div>
    <div class="form-group">
        <div class="col-sm-6 col-sm-offset-4 col-md-4col-md-offset-8" style="text-align: right;">
            <input type="submit" class="btn-next" value="保存">
             <button type="button" name="cancelForm" class="btn-pre">取消</button>
        </div>
    </div>
</form>
<div class="modal fade" id="Preview_img" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             <h4>预览图片</h4>
          </div>
        <div class="modal-body" style="text-align: center;">
            <img id="after_img" src="{{static_url('img/three_d_image.jpg')}}" alt=""/>
        </div>

    </div>
  </div>
</div>
<script>
    // 上传文件
    $('#iFrameUpload').css('width', '146');
    $('#iFrameUpload').css('height', '34');
    //上传文件开始
    $("#iFrameUpload").wIFrameUpload({
        url: "/iframe_upload",
        ossName: "yestar",
        openPositionInterval: true,
        beforeSubmit: function ($file_input) {
                var file_name = $file_input.val();
                var arr = ["mp3"];
                if (!RegExp("\.(" + arr.join("|") + ")$", "i").test(file_name.toLowerCase())) {
                    wModalDialog({
                                content:'选择文件错误,文件类型必须是mp3格式',
                                showAnimate:true,
                                type:"failed"
                             });
                    return false;
                }
            if ($('#file_hidden').html()) {
                $('#file_hidden').html('');
                $('#files').html('');
            }
             if ($('#file_hidden').find('.file').attr('state') == 'load') {
                 return false;
             }
            $('#files').css('display', 'block');
            $('#files').html('<div class="file" state="load"><div class="glyphicon glyphicon-musicfile_icon"><img src="/s/img/load.gif"></div><div>正在上传中</div></div>');
            return true;//返回false 阻止提交
        },
        success: function (data) {
            console.log(data.status)
            if (data.status == 1) {
                $('#files').html('<div class="file" state="success"><div class="glyphicon glyphicon-music file_icon"></div><div>' + data.fileName + '</div></div>');
                $('input[name=voice_file]').val(data.ossUrl);
                $('#iFrameUpload').html('修改');
            } else {
                $('#files').css('display', 'none');
                wModalDialog({
                                content:data.message,
                                showAnimate:true,
                                type:"failed"
                             });
            }
        }
    });
     var $item = $('input[name=is_prority]');
     $item.bind('click',function (){
         var index = $item.index($(this));
         if (index != 0){
             $('#isPrority').show()
             if (index == 1){
                $('#prority_app_serial_num').parent().show();
                $('#prority_app_serial_num').html('原受理机构名称');
                $('#prority_app_serial_num').html('在先申请日')
             }else{
                $('#prority_app_serial_num').parent().hide();
                $('#prority_app_serial_num').show('申请/展出国家/地区');
                $('#prority_app_serial_num').show('申请/展出日期')
             }
         }else{$('#isPrority').hide()}


//         $(".isPrority .group").eq(index).siblings(".isPrority .group").hide().end().fadeIn("slow");
     });
    var GetUpimg = function (){

        $(document).on('click','.uploadHook',function (){

            var $this = $(this);
            var num = $this.data('num');
            $this.attr('id','iFrameUpload_img'+num);
            var html ='<div class="clear" id="files_img'+num+'"><div id="files_hidden_img'+num+'"></div></div>';

            $this.parent().siblings('.upload-content'+num).html(html);

            getImg($this,num);
            if (!window.ActiveXObject) {
               $('#form_iFrameUpload_img'+num).find('input[name=fileData]').click();
            }
        })
       function getImg($hook,index) {

            $hook.wIFrameUpload({
                url: "/iframe_upload",
                ossName: "yestar",
                openPositionInterval: true,
                beforeSubmit: function ($file_input_img) {
                    var file_name = $file_input_img.val();
                    var arr = ["gif", "jpeg", "jpg", "bmp", "png"];
                    if (!RegExp("\.(" + arr.join("|") + ")$", "i").test(file_name.toLowerCase())) {
                        wModalDialog({
                                content:'选择文件错误,图片类型必须是(gif,jpeg,jpg,bmp,png)中的一种',
                                showAnimate:true,
                                type:"failed"
                             });
                        return false;
                    }
                    if ($('#files_img'+index).html()) {
                        $('#files_hidden_img'+index).html('');
                        $('#files_img'+index).html('');
                    }
                    $('#files_img'+index).html('<div class="file" state="load"><img width="140px" height="140px" src="/s/img/load.gif"></div>');
                    return true;//返回false 阻止提交
                },
                success: function (data) {
                    if (data.status == 1) {
                        $('#files_img'+index).css('display', 'block');
                        $('#files_img'+index).html('<div class="file"><img class="imgs" style="width:140px;height:140px;" src="' + data.downloadUrl + '"></div>');
                        $('<input type="hidden" name="img" value="' + data.ossUrl + '">').appendTo($('#files_hidden_img'+index));
                        $('.hidden_num'+index).val(data.ossUrl)
                        $hook.html('修改');
                        $hook.attr('value', '111');
                    } else {
                        wModalDialog({
                                content:data.message,
                                showAnimate:true,
                                type:"failed"
                             });
                    }
                }
            });
        };
    }();

    function parse_attachForm() {
        var mark1 = $('.hidden_num1').val();
        var mark2 = $('.hidden_num2').val();
        var mark3 = $('.hidden_num3').val();

        var m_src1 = oss_url(mark1);
        var m_src2 = oss_url(mark2);
        var m_src3 = oss_url(mark3);
        var m_src4 = $('input[name=voice_file]').val();

        mark1 ? $('.three_d_txt').html('<img src="' + m_src1 + '" alt="" width="100px" height="100px"/>') : null;
        mark2 ? $('.color_txt').html('<img src="' + m_src2 + '" alt=""  width="100px" height="100px"/>') : null;
        mark3 ? $('.portrait_txt').html('<img src="' + m_src3 + '" alt=""  width="100px" height="100px"/>') : null;

        m_src4 ? $('.voice_file_txt').html('<div class="col-sm-2"><img src="/s/img/musica.png" width="40px" height="40px"/><p>声音文件</p></div>') : null;
        if ($('input[name=is_prority]:checked').val() == 'before') {
            $('.item_after_blcok').html('<div class="form-group"><label class="col-sm-3 control-label">申请权/原受理机构名称</label><div class="col-sm-9 top_hight">' +
            $('input[name=prority_app_region]').val() + '</div></div><div class="form-group"><label class="col-sm-3 control-label">申请权/在先申请日</label><div class="col-sm-9 top_hight">' +
            $('input[name=prority_app_date]').val() + '</div></div><div class="form-group"><label class="col-sm-3 control-label">申请权/在先申请号</label><div class="col-sm-9 top_hight">' +
            $('input[name=prority_app_serial_num]').val() + '</div></div>')
        } else if ($('input[name=is_prority]:checked').val() == 'exhibition') {
            $('.item_after_blcok').html('<div class="form-group"><label class="col-sm-3 control-label">优先权/展出国家/地区</label><div class="col-sm-9 top_hight">' +
            $('input[name=prority_app_region]').val() + '</div></div><div class="form-group"><label class="col-sm-3 control-label">优先权/展出日期</label><div class="col-sm-9 top_hight">' +
            $('input[name=prority_app_date]').val() + '</div></div><div class="form-group"><label class="col-sm-3 control-label">优先权/申请号</label><div class="col-sm-9 top_hight">' +
            $('input[name=prority_app_serial_num]').val() + '</div></div>')
        }else{
            $('.item_after_blcok').html('')
        }
    }
    parse_functions['attachForm'] = parse_attachForm;
    $(function (){
        $('input[name=is_three_d]:checked').val() == 1 ? $('.isThree').show() : $('.isThree').hide();
        $('input[name=is_color]:checked').val() == 1 ? $('.isColor').show() : $('.isColor').hide();
        $('input[name=is_portrait]:checked').val() == 1 ? $('.isPortrait').show() : $('.isPortrait').hide();
        $('input[name=is_voice]:checked').val() == 1 ? $('.isVoice').show() : $('.isVoice').hide();

        var file_img1 = $('<div class="clear" id="files_img1"><div class="file"><img class="imgs" width="140px" height="140px" src="'+oss_url('{{detail.three_d_image}}')+'"/></div></div>');
        var file_img2 =$('<div class="clear" id="files_img2"><div class="file"><img class="imgs" width="140px" height="140px" src="'+oss_url('{{detail.color_image}}')+'"/></div></div>');
        var file_img3 = $('<div class="clear" id="files_img3"><div class="file"><img class="imgs" width="140px" height="140px" src="'+oss_url('{{detail.portrait_img}}')+'"/></div></div>');

        '{{detail.three_d_image}}' == '' ? null : file_img1.appendTo($('.upload-content1'));
        '{{detail.color_image}}' == '' ? null : file_img2.appendTo($('.upload-content2'));
        '{{detail.portrait_img}}' == '' ? null : file_img3.appendTo($('.upload-content3'));
        '{{detail.voice_file}}' == '' ? null : $('#files').show().html('<div class="file" state="success"><div class="glyphicon glyphicon-music file_icon"></div><div>文件已上传</div></div>');
        if ($('input[name=is_prority]:checked').val() == 'before') {
             $(".isPrority .group").eq(1).siblings(".isPrority .group").hide().end().fadeIn("slow");
        }else if($('input[name=is_prority]:checked').val() == 'exhibition'){
             $(".isPrority .group").eq(2).siblings(".isPrority .group").hide().end().fadeIn("slow");
        }else{
             $(".isPrority .group").eq(0).siblings(".isPrority .group").hide().end().fadeIn("slow");
        }

    });
    $('button[data-target=#Preview_img]').click(function (){
        var arr = [
                '{{static_url('img/three_d_image.jpg')}}',
                '{{static_url('img/color_image.jpg')}}',
                '{{static_url('img/portrait_img.jpg')}}'
        ];
        var index = $('button[data-target=#Preview_img]').index($(this));
        $('#after_img').attr('src',arr[index]);
    });

</script>


