
<form class="form-horizontal applicant_new" role="form" id="applicantForm" name="ajaxForm" action="/mark/transfer/applicant" method="post">
    {% raw xsrf_form_html()%}
    <input type="hidden" value="{{order.id}}" name="order_id">
    <input type="hidden" value="{{detail.biz}}" name="biz">
    <div class="form-group">
        <label for="new_applicant" class="col-sm-2 control-label">主体</label>
        <div class="col-sm-10">
            <a href="/applicant/new" name="new_applicant" class="btn-add"><span class="glyphicon glyphicon-plus"></span> 添加新主体</a>
        </div>
    </div>
    {% if app_total == 0%}
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <div class="alert alert-info">
                    <p><span class="glyphicon glyphicon-hand-up" style="font-size: 20px;padding-right: 10px;"></span>您还未添加主体，请点击添加</p>
                </div>
            </div>
        </div>
    {% else %}


        {% if detail.biz == 'mark_transfer_apply' %}
            <div class="form-group applicant-group">
                <label for="transfer_app_id" class="col-sm-2 control-label">选择转让人主体</label>
                <div class="col-sm-6">
                    {% module select(select_id="transfer_app_id",
                                                is_multiple=False,
                                                name='transfer_app_id',
                                                value=detail.transfer_app_id,
                                                has_null=True,
                                                null_value="",
                                                null_text="==请选择==",
                                                options=applicants,
                                                value_field='id',
                                                name_field='name',
                                                sub_type_field='None',
                                                ext_class='',
                                                data=dict(type='app_type', address='register_address'),
                                                cascade_options = None)%}
                    </div>
                </div>
            <div class="form-group applicant-group">
                <label for="acceptor_app_id" class="col-sm-2 control-label">选择受让人主体</label>
                <div class="col-sm-6">
                    {% module select(select_id="acceptor_app_id",
                                                is_multiple=False,
                                                name='acceptor_app_id',
                                                value=detail.acceptor_app_id,
                                                has_null=True,
                                                null_value="",
                                                null_text="==请选择==",
                                                options=applicants,
                                                value_field='id',
                                                name_field='name',
                                                sub_type_field='None',
                                                ext_class='',
                                                data=dict(type='app_type', region='region', address='register_address'),
                                                cascade_options = None)%}
                </div>
            </div>
            <div id="region_div" style="display: none;">
                <div class="form-group" >
                    <label class="col-sm-2 control-label">国内接收人</label>
                    <div class="col-sm-8">
                        <input id="domestic_acc" name="domestic_acc" value="{{detail.domestic_acc}}" class="form-control" >
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-sm-2 control-label">国内接收人地址</label>
                    <div class="col-sm-8">
                        <input id="domestic_acc_add" name="domestic_acc_addr" value="{{detail.domestic_acc_addr}}" class="form-control" >
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-sm-2 control-label">国内接收人邮编</label>
                    <div class="col-sm-8">
                        <input id="domestic_acc_post_num" name="domestic_acc_post_num" value="{{detail.domestic_acc_post_num}}" class="form-control" >
                    </div>
                </div>
            </div>
        {% elif detail.biz == 'reissue_mark_transfer' %}
            <div class="form-group applicant-group">
                <label for="applicant_id" class="col-sm-2 control-label">选择申请人主体</label>
                <div class="col-sm-8">
                    {% module select(select_id="applicant_id",
                                                is_multiple=False,
                                                name='applicant_id',
                                                value=detail.applicant_id,
                                                has_null=True,
                                                null_value="",
                                                null_text="==请选择==",
                                                options=applicants,
                                                value_field='id',
                                                name_field='name',
                                                sub_type_field='None',
                                                ext_class='',
                                                data=dict(type='app_type'),
                                                cascade_options = None)%}
                </div>
            </div>
        {% end %}
    {%end %}
    <div class="form-group" style="margin-top: 40px;">
        <div class="col-sm-6 col-sm-offset-4 col-md-4col-md-offset-8" style="text-align: right;">
            <input type="submit" class="btn-next" value="保存">
             <button type="button" name=cancelForm class="btn-pre">取消</button>
        </div>
    </div>
</form>

<script>
    {% if len(applicants) == 0%}
        $('.applicant_new').bootstrapValidator({
            fields:{
                new_applicant:{
                    validators:{
                        notEmpty:{
                            message:'请添加主体！'
                        }
                    }
                }
            }
        });
    {% end%}
    $('.applicant_new').bootstrapValidator({
        fields:{
            transfer_app_id:{
                validators:{
                    notEmpty:{
                        message:'请选择转让人主体！'
                    }
                }
            },
            acceptor_app_id:{
                validators:{
                    notEmpty:{
                        message:'请选择受让人主体！'
                    }
                }
            },
            domestic_acc:{
                validators:{
                    notEmpty:{
                        message:'请输入联系人！'
                    },
                    regexp: {
                        regexp:/[\u4e00-\u9fa5]{2,4}/,
                        message: '请输入联系人'
                     }
                }
            },
            domestic_acc_addr:{
                validators:{
                    notEmpty:{
                        message:'请填写接受人地址！'
                    }
                }
            },
            domestic_acc_post_num:{
                validators: {
                    notEmpty: {
                        message: '邮编不能为空！'
                    },
                    regexp: {
                        regexp: /^[a-zA-Z0-9]{6}$/,
                        message: '请输入所在区域六位邮编'
                    }
                }
            },
            applicant_id:{
                validators:{
                    notEmpty:{
                        message:'请选择申请人主体！'
                    }
                }
            }
        }
    });

    var parse_functions = new Array();
    function parse_applicantForm(){
        var $transfer_app_id = $('#transfer_app_id').find('option:selected').text();
        var $acceptor_app_id = $('#acceptor_app_id').find('option:selected').text();
        var $transfer_address =  $('#transfer_app_id').find('option:selected').data('address');
        var $acceptor_address = $('#acceptor_app_id').find('option:selected').data('address');
        var $domestic_acc = $('#domestic_acc').val();
        var $domestic_acc_add = $('#domestic_acc_add').val();
        var $domestic_acc_post_num = $('#domestic_acc_post_num').val();
        var $applicant_id_txt = $('#applicant_id').find('option:selected').text();
        $("#applicant_id_txt").text($applicant_id_txt);
        $('.transfer_app_name').text($transfer_app_id);
        $('.acceptor_app_name').text($acceptor_app_id);
        $('.transfer_app_register_address').text($transfer_address);
        $('.acceptor_app_register_address').text($acceptor_address);
        if($domestic_acc !== ''){
             $('.other_group').html('<div class="form-group"><label class="col-sm-3 control-label">国外受让人的国内接收人</label><div class="col-sm-8 detail_domestic_acc_txt">'+
            $domestic_acc+'</div></div><div class="form-group"><label class="col-sm-3 control-label">国内接收人地址</label><div class="col-sm-8 detail_domestic_acc_add_txt">'+
            $domestic_acc_add+'</div></div><div class="form-group"><label class="col-sm-3 control-label">国内接收人邮编</label><div class="col-sm-8 detail_domestic_acc_post_num_txt">'+
            $domestic_acc_post_num+'</div></div>')
        }else{
            $('.other_group').html('');
        }
    }
    parse_functions['applicantForm'] = parse_applicantForm;


    //    转让人和受让人主体不能相同
    $('#transfer_app_id').change(function (){
        var $this = $(this);
        var $topselect = $this.find('option:selected').val();
        $('#acceptor_app_id').find('option[value='+$topselect+']').hide().siblings('option').show();

    });

    //受让人主体地区不是 大陆时
    $('#acceptor_app_id').change(function(){

        var value = $(this).find('option:selected').val();
        $('#transfer_app_id').find('option[value='+value+']').hide().siblings('option').show();
        var this_option = $(this).find('option[value='+value+']');
        if (this_option.data('region') == 'cn'){
            $('#region_div').hide()
            $('#domestic_acc').val('').parents('.form-group').removeClass('has-success').addClass('has-error');
            $('#domestic_acc_add').val('').parents('.form-group').removeClass('has-success').addClass('has-error');
            $('#domestic_acc_post_num').val('').parents('.form-group').removeClass('has-success').addClass('has-error');
        }else{
            $('#region_div').slideDown();
        }
    });
    var $acceptor_app_ids = $('#acceptor_app_id').find('option:selected').data('region');
    if($acceptor_app_ids !== 'cn' && $acceptor_app_ids){
        $('#region_div').show();
    }

</script>







