
    <form class="form-horizontal" role="form" id="bizForm" name="ajaxForm" width="600px" action="/mark/transfer/biz_info" method="post">
        {% raw xsrf_form_html()%}
        <input type="hidden" name="order_id" value="{{order.id}}">
        <input type="hidden" value="{{detail.biz}}" name="biz">
        <div class="form-group">
            <label for="mark_reg_num" class="col-sm-2 control-label">商标注册号</label>
            <div class="col-sm-5">
                <input id="mark_reg_num" name="mark_reg_num" value="{{detail.mark_reg_num}}" class="form-control" >
            </div>
        </div>

        {% if detail.biz == 'reissue_mark_transfer' %}
            <div class="form-group">
                <label for="transfer_name" class="col-sm-2 control-label">转让人姓名</label>
                <div class="col-sm-8">
                    <input id="transfer_name" name="transfer_name" value="{{detail.transfer_name}}" class="form-control" >
                </div>
            </div>

            <div class="form-group">
                <label for="acceptor_name" class="col-sm-2 control-label">受让人姓名</label>
                <div class="col-sm-8">
                    <input id="acceptor_name" name="acceptor_name" value="{{detail.acceptor_name}}" class="form-control" >
                </div>
            </div>
        {% end %}
        <div class="form-group" style="margin-top: 60px;">
            <div class="col-sm-6 col-sm-offset-4 col-md-4col-md-offset-8" style="text-align: right;">
                <input type="submit" class="btn-next" value="保存">
                 <button type="button" name=cancelForm class="btn-pre">取消</button>
            </div>
        </div>
    </form>

<script>

    $('#bizForm').bootstrapValidator({
        fields:{
            mark_reg_num:{
                validators:{
                    notEmpty: {
                        message: '请输入商标注册号！'
                    }

                }
            },
            transfer_name:{
                validators:{
                    notEmpty: {
                        message: '请输入转让人姓名！'
                    }

                }
            },
            acceptor_name:{
                validators:{
                    notEmpty: {
                        message: '请输入受让人姓名！'
                    }

                }
            }

        }
    });
    /*保存赋值*/
    function parse_bizForm(){
        var data = {
            'mark_reg_num':$('#mark_reg_num').val(),
            'transfer_name':$('#transfer_name').val(),
            'acceptor_name':$('#acceptor_name').val()
        };
        $('#detail_post_num_txt').text(data.post_num);
        $('#detail_link_man_txt').text(data.link_man);
        $('#detail_phone_txt').text(data.phone);
        $('#detail_mark_reg_num_txt').text(data.mark_reg_num);
        $('#detail_transfer_name_txt').text(data.transfer_name);
        $('#detail_acceptor_name_txt').text(data.acceptor_name);

        return false
    }
    parse_functions['bizForm'] = parse_bizForm
</script>






