<form class="form-horizontal applicant_new" id="co_apps_form" role="form" name="ajaxForm" action="/mark/transfer/common" method="post">
    {% raw xsrf_form_html()%}
    <input type="hidden" value="{{order.id}}" name="order_id">
    <input type="hidden" value="{{detail.biz}}" name="biz">
    <div class="form-group">
        <label for="new_applicant" class="col-sm-2 control-label">主体</label>
        <div class="col-sm-10">
            <a href="/applicant/new" name="new_applicant" class="btn-next"><span class="glyphicon glyphicon-plus"></span> 添加新主体</a>
        </div>
    </div>
    <div class="form-group" id="transfer_co_apps">
        <label for="transfer_co_apps" class="col-sm-2 control-label">商标共有人</label>
        <div class="col-sm-10 label_style">
            {% for applicant in applicants%}
                <div class="checkbox">
                    <label>
                         <input data-type="{{applicant.app_type}}" id="transfer_co_apps{{applicant.get('id')}}" type="checkbox" value={{applicant.get('id')}} data-value={{applicant.get('name')}} name="transfer_co_apps" {% if str(applicant.id) in detail.transfer_co_apps %} checked="checked" {%end%}>{{applicant.get('name')}}
                    </label>
                </div>
            {% end %}
        </div>
    </div>

    <div class="form-group" id="acceptor_co_apps">

        <label for="acceptor_co_apps" class="col-sm-2 control-label">受让共有人</label>
        <div class="col-sm-10 label_style">

            {% for applicant in applicants%}
                <div class="checkbox">
                    <label>
                         <input data-type="{{applicant.app_type}}" id="co_applicant{{applicant.get('id')}}" {% if str(applicant.get('id')) in detail.acceptor_co_apps%} checked="checked" {%end%}  type="checkbox" value={{applicant.get('id')}} data-value={{applicant.get('name')}} name="acceptor_co_apps">{{applicant.get('name')}}
                    </label>
                </div>

            {% end %}
        </div>
    </div>
    <div class="form-group" style="margin-top: 40px;">
        <div class="col-sm-6 col-sm-offset-4 col-md-4col-md-offset-8" style="text-align: right;">
            <input type="submit" class="btn-next" value="保存">
             <button type="button" name="cancelForm" class="btn-pre">取消</button>
        </div>
    </div>
</form>

<script>

    function parse_co_apps_form(){

        var $applicant_val_len = $("#transfer_co_apps").find("input[name=transfer_co_apps]:checked").length;
        var $applicant_data_len = $("#acceptor_co_apps").find("input[name=acceptor_co_apps]:checked").length;

        var transfer_co_apps = [];

        for(var i = 0;i < $applicant_val_len;i++){

            var val = $('input[name=transfer_co_apps]:checked').eq(i).parents('label').text()
            transfer_co_apps.push(val)

        }
        $('#transfer_co_apps_txt').html($('<span>'+transfer_co_apps+'</span>'));
        var acceptor_co_apps = [];
        for(var i = 0;i < $applicant_data_len;i++){

            var val = $('input[name=acceptor_co_apps]:checked').eq(i).parents('label').text()
            acceptor_co_apps.push(val)
        }
        $('#acceptor_co_apps_txt').html($('<span>'+acceptor_co_apps+'</span>'));
         return false

    }
    parse_functions['co_apps_form'] = parse_co_apps_form
</script>







