{% extends "../layouts/application.html" %}
{% autoescape %}
{% block description %}{{"登陆冰狗会员中心可以发布专利转让、求购，商标转让、求购，专利申请、商标申请、版权申请等知识产权保护的服务信息"}}{% end %}
{% block keywords %}{{"融资项目,专利转让,商标转让,专利申请,商标申请,版权申请"}}{% end %}
{% block left %}
{% end %}
{% block body %}
<!--专利申请页面  -->
<div class="container" style="height: 550px">
    <div class="height_404"></div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-5 col-xs-12" style="text-align: center">
            <div class="bg-404"></div>
                <a href="/feedback">
                    <div class="btn_yijian btn_add_sty" style="float:right;margin-right: 50px;margin-left: 40px;margin-top: -32px">意见反馈</div>
                </a>
                <a href="/">
                    <div class="btn-404 btn_add_sty " style="float:right;margin-right:-30px;margin-top: -32px;z-index: 999;">首页</div>
                </a>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% end %}
{% block javascript %}
<script>

</script>
{% end %}
