{% extends "../layouts/application.html" %}
{% block body %}
<div class="about_banner_wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12"><img src="/s/img/home/banner1.png" alt="" class="img-responsive"></div>
        </div>
    </div>
</div>
        <div class="container">
          <div class="row">
          <div class="about_txt">
              <div class="col-xs-12">
                <h2>我们的优势</h2>
                <h3>全国网络</h3>
                <div class="about_txt_l">
                    <p style="cursor:default;">易正达知识产权代理有限公司国内总部设在北京，服务网络覆盖全国，辐射华中，华南，华北，东北，以及西部，现有北京、深圳、沈阳、重庆、上海五家全资子公司。</p>
                </div>
              </div>
              <div class="col-lg-12"><h3>高端团队</h3></div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="about_item">
                  <div class="about_icon"><img src="/s/img/home/icon1.png" alt=""></div>
                  <h4>学科背景深厚</h4>
                  <p style="cursor:default;">我司专利代理人与工程师不仅具有专业学科背景与代理经验，更具备专利审查经历，分布在生物医药、电子通信、机械冶金、化学半导体等各个领域。保证技术沟通无障碍，深入到客户的技术领域，使专利挖掘与布置更切合实际。深入现代技术领域，高度重视专利撰写与无效、诉讼之间的联系，充分进行风险论证与前置。</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="about_item">
                  <div class="about_icon"><img src="/s/img/home/icon2.png" alt=""></div>
                  <h4>从业经验扎实</h4>
                  <p style="cursor:default;">商标代理人不仅具备法律专业背景，更具有丰富的商标管理与规划经验，人均服务超过500家企业。注重与企业一起密切工作、发现和解决问题的过程，除了运用数据库和软件以外，更看重对于权利、事件本身与行业的深入分析，依靠深厚的专业背景与执业经验，得出正确的结论。</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="about_item">
                  <div class="about_icon"><img src="/s/img/home/icon3.png" alt=""></div>
                  <h4>专业律师维权</h4>
                  <p style="cursor:default;">知识产权专业律师皆有企业法律顾问经验，对知识产权的经营管理及维权有深刻的理解，可以提供企业经营战略中的全方位法律服务过程，维护企业权利，实现技术升级，提升品牌综合实力。</p>
                </div>
              </div>
            <div class="about_row">
              <div class="col-lg-12"><h3>定制服务</h3></div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="about_item">
                  <div class="about_icon"><img src="/s/img/home/icon4.png" alt=""></div>
                  <h4>一对一专业服务模式</h4>
                  <p style="cursor:default;">对商标、专利和著作权进行代理服务，采用一对一的专业服务模式，对客户商标专利与著作权进行专业检索与分析，并且结合企业实际使用情况，给出专业的解决方案。 </p>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="about_item">
                  <div class="about_icon"><img src="/s/img/home/icon5.png" alt=""></div>
                  <h4>360度服务顾问模式</h4>
                  <p style="cursor:default;">每一顾问年度，针对企业的需求提供知识产权事务的日常咨询指导，为企业知识产权法律事务提供相应的意见和建议，协助处理各类型知识产权侵权纠纷，并从企业实际需求和发展前景出发，为企业知识产权提供更为准确的法律定位，并可根据企业要求，提供企业内部知识产权管理人员的培训服务。</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="about_item">
                  <div class="about_icon"><img src="/s/img/home/icon6.png" alt=""></div>
                  <h4>私人定制式托管模式</h4>
                  <p style="cursor:default;">根据企业的实际情况和需要，针对企业知识产权现状，提供知识产权整体外包管理服务，一般包含全部知识产权信息的电子化管理、制定管理制度、战略规划、执行方案、搜集情报、同行业主要竞争对手知识产权情况分析等，主要是一种与企业互动的主动服务方式。</p>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
{% end %}
{% block javascript %}
<script>
</script>
{% end %}
