{% extends "../layouts/application2.html" %}
<!--{% block left %}-->
<!--{% end %}-->
{% block body %}
<div class="agreement">
    <div class="container" style="margin-bottom: 30px;">
        <img src="{{ static_url('img/service_banner.jpg') }}" alt="" style="width: 100%;"/>
        <p>请仔细阅读本协议，冰狗知识产权集团（冰狗）服务条款协议（下称“本协议”）。本协议阐述之条款和条件适用于您使用冰狗网站（所涉域名包括：bingoip.com、yestar.mobi，下同），所提供的知识产权服务。</p>
        <h3>一、接受条款</h3>
        <p>以任何方式进入和使用冰狗知识产权服务网站即表示您已充分阅读、理解并同意本协议的条款和条件（“条款”）。冰狗有权根据业务需要酌情修改“条款”，并在网站上予以公告。如果您不同意相关修订，请您立即停止使用“服务”。经修订的“条款”一旦在本站公布即产生效力。如果您继续使用冰狗服务，则将视为您已经接受经修订的“条款”，当您与冰狗发生争议时，应该以最新的“条款”为准。
本服务协议内容包括协议正文及所有冰狗已经发布或将发布的各类规则，所有规则为协议不可分割的一部分，与协议正文具有同等的法律效力。</p>
        <h3>二、服务使用对象</h3>
        <p>“服务”仅供能够根据法律订立具有法律约束力的合约的个人或公司使用，如不符合本项条件，请勿使用“服务”。冰狗可随时自行全权决定拒绝向任何人士提供“服务”，“服务”不会提供给被暂时或永久终止资格的冰狗会员。</p>
        <h3>三、收费</h3>
        <p>冰狗保留收取“服务”费用的权利，您因为进行交易、向本公司获取有偿服务或接触本公司服务而发生的所有应纳税赋以及其他方面的费用均有您自行承担。本公司保留在无须发出书面通知，仅在冰狗公示的情况下，暂时或永久更改或者停止部分或者全部“服务”的权利。</p>
        <h3>四、冰狗网站仅作为咨询地点</h3>
        <p>本网站仅作为用户就冰狗服务内容，发布的交易信息进行咨询的地点。本公司不能控制发布的交易信息的真实性、准确性或合法性，以及交易方履行交易行为的各项义务的能力。</p>
        <h3>五、您的资料和供交易的信息</h3>
        <p>您的资料包括您在注册、交易和发布信息的过程中、在任何公开场合或通过任何电子邮件形式，向本公司提供的任何资料，包括数据、文本、软件、音乐、声响、照片、图画、影像、词句或其他材料。您应对“您的资料”负全部责任，而本公司仅作为您在网上发布和刊登“您的资料”的被动渠道。本公司也可自行全权决定对“您的资料”采取本公司必要或适当的任何行动，包括但不限于删除该类资料。您对提交给冰狗的资料拥有全部的权利，包括知识产权。</p>
        <h3>六、注册义务</h3>
        <p>如果您在冰狗网站注册，您同意：根据冰狗一些服务的需要，您或您所在的公司提供真实的资料并及时更新相关的材料，如果您提供了任何不真实、不准确或不完整的资料，或者冰狗有合理理由怀疑这些材料不真实、不准确或不完整，冰狗有权暂停或终止您在本公司和本网站享受的部分或者全部服务。</p>
        <h3>七、会员注册名、密码和保密</h3>
        <p>在您按照注册页面提示填写信息、阅读并同意本协议并完成全部注册程序后或以冰狗允许的方式实际使用冰狗网站服务时，您即成为冰狗会员（即“会员”），冰狗会根据会员注册名和密码确认您的身份。您必须自行对您的注册名和密码进行保密，并且对您在会员注册名和密码下发生的所有活动（包括但不限于发布信息资料、网上点击同意或提交各类规则协议、网上购买服务等）承担责任。如果发现任何人未经授权使用您的注册名或者密码，或发生违反保密规定的任何其他情况，您需要立即联系冰狗，同时您应该在结束使用冰狗网站后采取正确的步骤离开网站。冰狗不会因您未遵守本协议规定而发生的任何损失负责任。</p>
        <h3>八、您的资料</h3>
        <p>您同意，您的资料和您提供在冰狗网站上交易的物品（包括有形的或无形的）：</p>
        <ul>
            <li>1,不存在欺诈行为；</li>
            <li>2,不侵犯任何第三者对该物品享有的知识产权，或者其他权利；</li>
            <li>3,不会违反任何法律、法规、条例或规章制度；</li>
            <li>4,不含有诽谤、恐吓或骚扰等非法内容；</li>
            <li>5,不含有淫秽内容；</li>
            <li>6,不含有其他非法内容。</li>
        </ul>
        <h3>九、被禁止发布的内容</h3>
        <p>您不得在本公司和网站交易的内容包括：</p>
        <ul>
            <li>1,可能使本公司违反任何相关法律、法规、条例或规章制度的物品；</li>
            <li>2,冰狗认为应该禁止或者不适合在本网站进行交易的物品。</li>
        </ul>
        <h3>十、您授予的许可使用权</h3>
        <p>您完全理解并同意授予冰狗知识产权集团及其关联公司下列权利：</p>
        <ul>
            <li>1,对于您提供的公开资料，您授予冰狗免费的许可使用权利，冰狗有权全部或者部分地使用、复制、修改、发布、执行和展示这些资料；</li>
            <li>2,当您违反协议或与冰狗签订的其他协议时，冰狗有权停止全部或者部分您的权利，并且暂停或者永久终止对您的服务。</li>
        </ul>
        <h3>十一、交易程序</h3>
        <p>(一)添加交易物品详细信息</p>
        <p>物品详细信息是有您提供的在冰狗网站上展示的文字、图片或视频等，可以是（1）您拥有的且希望出售的物品描述；或（2）您正在寻找的物品的描述。您可以在冰狗网站发布任一类的物品或同时发布两种类型，但是必须将该物品归入正确的类别。冰狗不会对物品描述的准确性或详细内容负责。</p>
        <p>(二)就交易进行协商</p>
        <p>交易各方通过在冰狗公司或网站明确物品描述和报价，并通过冰狗专业人员进行三方接洽，所有各方接受针对该项交易的信息后完成交易并支付冰狗服务费用。</p>
        <p>(三)交易争议处理</p>
        <ul>
            <li>1,交易双方在冰狗监督下完成交易，但是冰狗不会牵涉到双方保密材料或资金的交易当中，如果双方在交易活动结束后一段时间内有所争议，请咨询相关法律机构，冰狗一概不负责任。</li>
            <li>2,冰狗有权受理并调解您与其他用户因交易产生的争议，同时有权单方面判断其他用户对您的投诉是否成立，但是冰狗不是司法机构，受理交易纠纷完全是基于用户的委托，不承诺处理纠纷结果符合您的期望，也不对处理结果承担任何责任，冰狗单方面有权决定是否参与交易争议的调解。如果您对交易争议仍然存有意见，请咨询相关法律和司法机构决定是否采取进一步的行动。</li>
            <li>3,冰狗有权利用您提交给本站或者本公司的联系方式，包括但不限于电话、电子邮件和邮件，向您了解相应的情况，并将所了解的情况通知给对方，您有义务配合冰狗的工作，否则冰狗有权作出可能对您不理的处理结果。</li>
            <li>4,经有效法律文书确认您存在违法或者违反本协议的行为或者冰狗单方面判断您涉嫌违法或者违反本协议的行为，冰狗有权公开您的违法信息，并且全部或者部分终止对您的服务。</li>
        </ul>
        <p>(四)运用</p>
        <p>本公司和本站不能控制其他用户提供的公开资料，请您理解并明白其他用户发布的公开资料可能是有害或者是不正确的，也可能涉嫌欺诈行为。希望您在使用本站过程中小心谨慎地对待其他用户发布的公开资料。</p>
        <h3>十二、违反规则的后果</h3>
        <p>当发生以下情况：</p>
        <ul>
            <li>1,您违反本协议或者本公司相关规则；</li>
            <li>2,您的行为可能会使您、本公司或本站其他用户以及冰狗发生任何法律责任。冰狗有权单方面暂停或者永久停止您的账户，以及对您部分或者全部的服务。</li>
        </ul>
        <h3>十三、赔偿</h3>
        <p>您理解并同意，因您违反本协议和本公司其他规则或者您违反法律，而使第三方对本公司或本网站提出索赔因而造成损失的，您必须进行相应的赔偿。</p>
        <h3>十四、遵守法律</h3>
        <p>您应当遵守与您使用“服务”以及与您发布的任何物品信息有关的所有法律、法规和规章制度。</p>
        <h3>十五、链接</h3>
        <p>“服务”或第三者均可提供与其他万维网网站或资源的链接。由于冰狗并不控制该等网站和资源，您承认并同意，冰狗并不对此类外在网站或资源的可用性负责，且不认可该等网站或资源上或可从该等网站或资源获取的任何内容、宣传、产品、服务或其他材料，也不对此承担任何责任。您理解并同意，对于任何因使用或信赖从此类网站或资源上获取的此类内容、宣传、产品、服务或其他材料而造成 （或声称造成）的任何直接或间接损失，冰狗均不承担责任。</p>
        <h3>十六、其他规定</h3>
        <p>本协议各方面受中华人民共和国大陆地区法律管辖，如果本协议中任何条款被裁定为无效或者不可强制执行，该项条款应被撤销，而其余的条款应予执行。本公司和本网站未就用户的某项违法行为采取行动，并不代表本公司和本网站撤回或者就任何以后或其他的违法事件采取行动的权利。</p>
        <h3>十七、诉讼</h3>
        <p>因本协议以及本公司或者本网站服务所引起的或与其有关的任何争议应向北京市朝阳区人民法院提起诉讼，并以中华人民共和国大陆地区法律为管辖法律。</p>
    </div>
</div>

{% end %}