{% extends "../layouts/application.html" %}
{% block description %}{{"冰狗网是国内首家专注于“企业知识产权管理”的网络服务平台。致力于让企业通过知识产权管理，有效行使知识产权交易和知识产权保护的权利，同时涉及项目申报、项目融资等为企业带来效益的领域。"}}{% end %}
{% block keywords %}{{"知识产权管理,知识产权代理,知识产权交易,项目申报,项目融资,知识产权"}}{% end %}
{% block body %}

<div id="homecontainer">
    <img id="mark_service" src="{{static_url('img/app-ban.png')}}" width="100%" height="100%"/>
    <div class="others-services">
        <div class="container">
            <div class="block-title">
                <h2 class="head-line" style="background-color: #fff;">运用服务</h2>

                <div class="line"></div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12" style="text-align: center;margin: 0px auto;">
                    <a href="/patent/sales" class="media hover1">
                        <div class="product-img">
                            <span class="Icon Icon7"></span>
                        </div>
                        <div class="caption">
                            <h3>商标/专利在线交易大厅</h3>

                            <p style="color: #8c8c8c">商标/专利，在线交易转让/求购，应有尽有</p>
                            <span class="btn-empty-red">点击进入</span>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-xs-12 app_service" style="text-align: center;margin: 0px auto;">
                    <a href="/projects" class="media hover2 ">
                        <div class="product-img">
                            <span class="Icon Icon8"></span>
                        </div>
                        <div class="caption">
                            <h3>中小企业发展扶持项目查询申报</h3>

                            <p style="color: #8c8c8c">企业发展遇到瓶颈？来这里看看吧，国内最全的扶持项目查询申报网站</p>
                            <span class="btn-empty-red">点击进入</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div style="background-color: #f8f8f8">
        <div class="container p-services-bar">
            <div class="block-title row">
                <h2 style="margin-top:40px">我们还提供更多服务</h2>
                <div class="col-xs-12" style="padding: 50px 0;text-align: center;">
                    <img src="{{static_url('img/app_service_img.png')}}" alt="" class="img-responsive" style="display: inline-block;"/>
                </div>
            </div>
        </div>
    </div>
    <div style="background-color: #fff">
        <div class="container p-services-bar">
            <div class="block-title row">
                <h2 style="margin-top:50px">我们的优势</h2>

                <div class="col-md-11" style="margin-top: 40px;text-align: center;margin-left: 3%">
                    <div class="col-md-3 col-sm-6 col-sm-12">
                        <img src="{{static_url('img/app_1.png')}}">

                        <div style="margin-top: 20px;font-size: 32px;">专</div>
                        <div style="font-size: 15px;margin-top: 10px;color: #696969">资深专家团队<br/>执业年限8年</div>

                    </div>
                    <div class="col-md-3 col-sm-6 col-sm-12">
                        <img src="{{static_url('img/app_2.png')}}">

                        <div style="margin-top: 20px;font-size: 32px;">便</div>
                        <div style="font-size: 15px;margin-top: 10px;color: #696969">移动互联<br/>跨地域享受专业知识产权服务</div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-sm-12">
                        <img src="{{static_url('img/app_3.png')}}">

                        <div style="margin-top: 20px;font-size: 32px;">省</div>
                        <div style="font-size: 15px;margin-top: 10px;color: #696969">高标准流程化服务<br/>费用优惠 品质保证</div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-sm-12">
                        <img src="{{static_url('img/app_4.png')}}">

                        <div style="margin-top: 20px;font-size: 32px;">快</div>
                        <div style="font-size: 15px;margin-top: 10px;color: #696969">查询结果 立等可取<br/>点击接洽 15分钟客服相应</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<img src="{{static_url('img/dibu2.png')}}" style="margin-top: 80px;width: 100%;height: auto;">
{%end%}
{% block javascript %}
<script src="{{static_url('js/idangerous.swiper-2.1.min.js')}}"></script>
<script>
    $('.p-services-bar .media').mouseenter(function () {
        $(this).find('.Icon1').css('background-position', '-3px -110px');
        $(this).find('.Icon2').css('background-position', '-110px -110px');
        $(this).find('.Icon3').css('background-position', '-215px -110px');
    })
    $('.p-services-bar .media').mouseleave(function () {
        $(this).find('.Icon1').css('background-position', '-3px -3px');
        $(this).find('.Icon2').css('background-position', '-110px -3px');
        $(this).find('.Icon3').css('background-position', '-215px -3px');
    });
</script>
{%end%}