{% extends "../layouts/application.html" %}
{% block body %}
<div class="customer_banner_wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12"><img src="/s/img/home/banner2.png" alt="" class="img-responsive"></div>
        </div>
    </div>
</div>
<div class="container" >
    <div class="row" style="margin-left: 15px;">
        <div style="text-align: center;margin-top: 50px;"><h3>我们的客户</h3></div>
        <div style="margin-top: 45px">
            <div class="col-md-3  col-xs-6">
                <div><img src="/s/img/home/icon_c1.png" class="img-responsive customer_content_one"></div>
                <div class="customer_title_sty_one">德比软件有限公司</div>
            </div>
            <div class="col-md-3   col-xs-6 ">
                <div><img src="/s/img/home/icon_c2.png" class="img-responsive customer_content_one"></div>
                <div class="customer_title_sty_one">查维斯公司</div>
            </div>
            <div class="col-md-3   col-xs-6">
                <img src="/s/img/home/icon_c3.png" class="img-responsive customer_content_one_sty">
                <div class="customer_title_sty">重庆六道文化传播有限公司</div>
            </div>
            <div class="col-md-3   col-xs-6">
                <img src="/s/img/home/icon_c4.png" class="img-responsive customer_content_one_sty">
                <div class="customer_title_sty">刘宅食府</div>
            </div>
        </div>
    </div>
    <div class="row"  style="margin-left: 15px;">
        <div style="margin-top:25px">
            <div class="col-md-3  col-xs-6">
                <div><img src="/s/img/home/icon_c5.png" class="img-responsive customer_content_two"></div>
                <div class="customer_title_sty_tow">奎克雷科技(北京)有限公司</div>
            </div>
            <div class="col-md-3  col-xs-6">
                <div><img src="/s/img/home/icon_c6.png" class="img-responsive customer_content_two"></div>
                <div class="customer_title_sty_tow">北京瑞智基得科技有限公司</div>
            </div>
            <div class="col-md-3  col-xs-6">
                <div><img src="/s/img/home/icon_c7.png" class="img-responsive customer_content_sty"></div>
                <div class="customer_title_sty">重庆天喜信恒传播有限公司</div>
            </div>
            <div class="col-md-3  col-xs-6">
                <div><img src="/s/img/home/icon_c8.png" class="img-responsive customer_content_sty"></div>
                <div class="customer_title_sty">上海金大塑胶有限公司</div>
            </div>
        </div>
    </div>
    <div class="row"  style="margin-left: 15px;">
        <div style="margin-top: 25px">
            <div class="col-md-3  col-xs-6">
                <div><img src="/s/img/home/icon_c9.png" class="img-responsive customer_content_sty"></div>
                <div class="customer_title_sty">北京市第二中学</div>
            </div>
            <div class="col-md-3  col-xs-6">
                <div><img src="/s/img/home/icon_c10.png" class="img-responsive customer_content_sty"></div>
                <div class="customer_title_sty">北京潭柘紫石砚有限公司</div>
            </div>
            <div class="col-md-3  col-xs-6">
                <div><img src="/s/img/home/icon_c11.png" class="img-responsive customer_content_sty"></div>
                <div class="customer_title_sty">北京古松经贸有限公司</div>
            </div>
            <div class="col-md-3  col-xs-6">
                <div><img src="/s/img/home/icon_c12.png" class="img-responsive customer_content_sty"></div>
                <div class="customer_title_sty">中国山水旅行社</div>
            </div>
        </div>
    </div>

    <div class="row"  style="margin-left: 15px;">
        <div style="margin-top: 25px">
            <div class="col-md-3  col-xs-6">
                <div><img src="/s/img/home/icon_c13.png" class="img-responsive customer_content_sty"></div>
                <div class="customer_title_sty">重庆市润恒农业开发有限公司</div>
            </div>
            <div class="col-md-3   col-xs-6">
                <div><img src="/s/img/home/icon_c14.png" class="img-responsive customer_content_sty"></div>
                <div class="customer_title_sty">石柱土家族自治县银山食品有限公司</div>
            </div>
            <div class="col-md-3  col-xs-6">
                <div><img src="/s/img/home/icon_c15.png" class="img-responsive customer_content_sty"></div>
                <div class="customer_title_sty">上海盛运机械工程有限公司</div>
            </div>
        </div>
    </div>
</div>


{% end %}
{% block javascript %}
<script>
</script>
{% end %}