{% extends "../layouts/application.html" %}
{% block description %}{{"冰狗网是国内首家专注于“企业知识产权管理”的网络服务平台。致力于让企业通过知识产权管理，有效行使知识产权交易和知识产权保护的权利，同时涉及项目申报、项目融资等为企业带来效益的领域。"}}{% end %}
{% block keywords %}{{"知识产权管理,知识产权代理,知识产权交易,项目申报,项目融资,知识产权"}}{% end %}
{% block body %}
<div id="homecontainer">
    <img  id="mark_service" src="{{static_url('img/mark_ban.jpg')}}" width="100%" height="100%" />
    <div id="carousel-example-generic" class="carousel slide " data-ride="carousel">
        <div class="container p-services-bar" style="padding-bottom: 30px;display: block">
            <div class="block-title">
                <h2 class="head-line" style="background-color: #fff;">商标服务</h2>

                <div class="line"></div>
            </div>
            <div class="row container_icon" style="text-align: center">
                <div class="col-sm-4 product_icon" >
                    <a href="/mark/reg" class="media">
                        <div class="product-img">
                            <span class="Icon Icon1"></span>
                        </div>
                        <div class="caption">
                            <h3>商标注册</h3>

                            <div class="line"></div>
                            <p style="color:#8c8c8c;">服务费：<em>0</em>元
                                <del>(市场价：1000元)</del>
                            </p>
                            <p style="color:#8c8c8c;">官费：800元</p>
                            <span class="btn-buy">立即办理</span>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 product_icon product_service">
                    <a href="/mark/cha" class="media ">
                        <div class="product-img">
                            <span class="Icon Icon2"></span>
                        </div>
                        <div class="caption">
                            <h3>商标变更</h3>

                            <div class="line"></div>
                            <p style="color:#8c8c8c;">服务费：<em>0</em>元
                                <del>(市场价：1000元)</del>
                            </p>
                            <p style="color:#8c8c8c;">官费：500元</p>
                            <span class="btn-buy">立即办理</span>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 product_icon product_service">
                    <a href="/mark/transfer" class="media">
                        <div class="product-img">
                            <span class="Icon Icon3"></span>
                        </div>
                        <div class="caption">
                            <h3>商标转让</h3>

                            <div class="line"></div>
                            <p style="color:#8c8c8c;">服务费：<em>0</em>元
                                <del>(市场价：1000元)</del>
                            </p>
                            <p style="color:#8c8c8c;">官费：1000元</p>
                            <span class="btn-buy">立即办理</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div style="background-color: #f8f8f8">
        <div class="container p-services-bar">
            <div class="block-title row">
                <div class="col-md-6 col-sm-6 col-sm-12">
                    <h2 style="margin-top:50px">商标作用</h2>

                    <div style="margin-top: 25px;margin-bottom: 50px;text-align: left;color:#4a4a4a;">
                        <div>1. 进入天猫，京东等各大电商平台基本条件</div>
                        <div style="margin-top: 5px">2. 微信，微博官方验证必备材料</divp>

                            <div style="margin-top: 5px">3. 办理质检，卫检，条码等的必备条件</div>

                            <div style="margin-top: 5px">4. 防止品牌名称被他人恶意盗用</div>

                            <div style="margin-top:5px">5. 创立无形资产，实现品牌价值</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-sm-12" style="margin-top:50px;text-align: right">
                    <img src="{{static_url('img/mark_1.png')}}" width="274" height="173">
                </div>

            </div>
        </div>
    </div>
    <div style="background-color: #fff">
        <div class="container p-services-bar">
            <div class="block-title row">
                <div class="col-md-6 col-sm-6 col-sm-12">
                    <h2 style="margin-top:50px">所需材料</h2>

                    <div style="margin-top: 25px;margin-bottom: 50px;text-align: left;color:#4a4a4a;">
                        <div>1. 商标的清晰商标图样</div>
                        <div style="margin-top: 5px">2. 公司申请需营业执照复印件</divp>

                            <div style="margin-top: 5px">3. 个人申请需个体工商户营业执照，身份证复印件</div>

                            <div style="margin-top: 5px">4. 2个或者2个以上设人共同申请，需要根据申请主体全部进行提供</div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-sm-12" style="margin-top:50px;text-align: right">
                    <img src="{{static_url('img/mark_2.png')}}" width="274" height="173">
                </div>

            </div>
        </div>
    </div>
    <div style="background-color: #f8f8f8">
        <div class="container p-services-bar">
            <div class="block-title row">
                <div class="col-md-6 col-sm-6 col-sm-12">
                    <h2 style="margin-top:50px">商标服务</h2>

                    <div style="margin-top: 25px;margin-bottom: 50px;text-align: left;color:#4a4a4a;">
                        <div>1. 服务先行：专家全程协助，让您先享服务，后买单</div>
                        <div style="margin-top: 5px">2. 自助是申报服务：颠覆传统，精简流程，商标注册</divp>

                            <div style="margin-top: 5px">3. 双重审核服务：最大限度确保申报材料完整无误，准确率高达95%</div>

                            <div style="margin-top: 5px">4. 绝对透明式服务：付款前，展现全部商标注册流程，避免您花冤枉钱</div>

                            <div style="margin-top:5px">5. 商标注册免费服务：商标申报进程随时掌握。商标注册服务永久免费</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-sm-12" style="margin-top:50px;text-align: right">
                    <img src="{{static_url('img/mark_3.png')}}" width="274" height="173">
                </div>
            </div>
        </div>
    </div>
    <div style="background-color: #fff;margin-bottom: 50px">
        <div class="container p-services-bar">
            <div class="block-title row">
                <h2 style="margin-top:50px;margin-left: 15px">商标流程</h2>
                <div class="col-md-8" style=";margin-left:18%;width:66.67%;">
                    <img src="{{static_url('img/mark_4.png')}}" width="100%" height="100%" style="margin: 57px 0px">
                </div>
            </div>
        </div>
    </div>
</div>
{%end%}
{% block javascript %}
<script src="{{static_url('js/idangerous.swiper-2.1.min.js')}}"></script>
<script>
    $('.p-services-bar .media').mouseenter(function () {
        $(this).find('.Icon1').css('background-position','-5px -117px');
        $(this).find('.Icon2').css('background-position','-117px -117px');
        $(this).find('.Icon3').css('background-position','-227px -117px');
    })
    $('.p-services-bar .media').mouseleave(function () {
        $(this).find('.Icon1').css('background-position','-5px -7px');
        $(this).find('.Icon2').css('background-position','-117px -7px');
        $(this).find('.Icon3').css('background-position','-226px -7px');
    });
</script>
{%end%}