{% extends "../layouts/application.html" %}
{% block body %}
<div class="container">
		<div class="row">
			<div class="col-md-10" class="left">
				<div class="project_details_top">项目详情</div>
				<div class="row">
					<div class="col-md-1"></div>
					<div class="project_details_content col-md-11">
						<div class="project_details_content_content">易清集团正式委托易正达代理知识产权事务</div>
						<div class="project_details_content_contents">细则要点
专项资金采取贷款贴息、无偿资助、奖励的方式安排使用。项目单位可选择其中一种支持方式，不得同时申请多种专项资金支持方式。
支持重点
（一）中小企业服务体系建设项目：支持中小企业服务机构为中小企业特别是小型微型企业开展信息服务、投融资服务、创业服务、人才和培训服务、技术创新和质量服务、管理咨询服务、市场开拓服务、法律服务8类业务的项目；
（二）中小企业信用担保体系建设项目：支持担保机构、再担保机构为中小企业特别是小型微型企业和“专精特新”中小企业提供信用担保服务的项目；
（三）中小企业改制上市培育项目：支持本市中小企业以境内外上市为目的进行改制重组的项目；
（四）中小企业拓宽融资渠道项目：支持本市中小企业发行集合票据、集合私募债、集合信托以及开展集合贷款试点等拓宽融资渠道的项目；
（五）中小企业产业升级配套项目：支持中小企业为新一代信息技术、高端装备制造、新能源、新材料、新能源汽车等领域生产配套产品的技术改造项目，以及采用新产品、新技术、新工艺开展符合“专、精、特、新”方向的技术改造升级项目。
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2 hidden-xs" class="right">
               <img class="img-responsive" src="/s/img/erweima.png" />
               <div class="News_information_word new_erweima" >微信公众平台:搜索"易正达"或扫描下面的二维码</div>
			</div>
            <div class="col-xs-12 visible-xs" style="text-align: center;margin:0 auto;">
                <div><img src="/s/img/erweima.png" /></div>
                <div class="News_information_word new_erweima_visible">微信公众平台:搜索"易正达"或扫描下面的二维码</div>
            </div>
		</div>
	</div>
{% end %}
{% block javascript %}
<script>
    $(function () {
        //隐藏左侧菜单
//        $("#show-hide-left").click();
//        $("#show-hide-left").hide();
    });
</script>
{% end %}
