<div class="col-md-3 aside lefe_title_div" style="padding-right: 0;">
    <div class="row">
        <div class="col-md-6 col-md-offset-6">
            <div class="member_size">主营业务</div>
            <ul class="aside-block">
                <li style="color: #646464;margin-left: 5px">商标服务</li>
                <li><a href="/mark/reg" class="items" id="mark_reg">商标注册</a></li>
                <li><a href="/mark/cha" class="items" id="mark_cha">商标变更</a></li>
                <li><a href="/mark/transfer" class="items" id="mark_transfer">商标转让</a></li>
                <div class="dotted"></div>
                 <li style="color: #646464;margin: 10px 0px 10px 5px">版权服务</li>
                <li><a href="/copyright/opus" class="items" id="copyright_opus">文字/美术版权</a></li>
                <li><a href="/copyright/soft" class="items" id="copyright_soft">软件版权</a></li>
                <div class="dotted"></div>
            </ul>
        </div>
    </div>
</div>

<script>
$(function () {
    var active_id = "{{globals().get('active_id',None)}}";
    $("#" + active_id).addClass('current');
})
</script>
