<div id="header">
    <div class="navbar header_navbar_sty navbar-fixed-top" role="navigation" id="top" style="z-index: 2;background-color: #181818">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle fenleiyes" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar bar_col"></span>
                    <span class="icon-bar bar_col"></span>
                    <span class="icon-bar bar_col"></span>
                </button>
                <a href="/">
                    <img class="navbar-brand big_logo" src="{{static_url('img/logo.png')}}"/>
                    <img class="navbar-brand small_logo" style="display:none" src="{{static_url('img/small_logo.png')}}"/>
                </a>
            </div>
            <!--/.navbar-header 275 71 130 70-->
            <div class="collapse navbar-collapse header_title " id="list">
                <ul class="nav navbar-nav nav-size" id="header_ul" style="padding: 0;">
                    <li class="li-item dropdown">
                        <a href="javascript:void(0)" class="btn btn-default dropdown-toggle" id="drops" style="padding: 5px 10px;"><span class="kefu_icon"></span>在线顾问</a>
                        <ul class="dropdown-menu new-dropdown-toggle" id="my_customer">
                            <li><a class="ahover">昵称：{{cs_user.nickname}}</a></li>
                            <li><a class="ahover">手机：{{cs_user.mobile}}</a></li>
                            {% if cs_user.phone %}<li><a class="ahover">固话：{{cs_user.phone}}</a></li>{% end %}
                            <li><a class="ahover">邮箱：{{cs_user.email}}</a></li>
                            <li class="no_line"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={{cs_user.qq}}&site=qq&menu=yes">
                                <img src="{{static_url('img/qq_icon.png')}}" alt=""/></a></li>
                        </ul>
                    </li>
                    <li class="dropdown li-item">
                        {% if current_user is None%}
                        <a href="/session/new">登录</a>
                        {%else%}
                        {% module xsrf_form_html() %}
                        <a href="javascript:void(0)" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="padding: 5px 10px">
                           <span class="user_person"></span>{{current_user.name}}</b>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu new-dropdown-toggle" role="menu">
                            <li><a href="/user/orders">会员中心</a></li>
                            <li><a href="/user/profile">个人设置</a></li>
                            <li><a href="/user/applicants">我的主体</a></li>
                            <li>
                                <a onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'delete'); f.appendChild(m); var x = document.createElement('input'); x.setAttribute('type', 'hidden'); x.setAttribute('name', '_xsrf'); x.setAttribute('value', getCookie('_xsrf')); f.appendChild(x); f.submit();return false;"
                                   href="/session">退出</a>
                            </li>
                        </ul>
                        {% end %}
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    <!--/.container-->
    </div>
</div>
<script>

     var Drop = function (){

         var $drop = $('#drops');

         $drop.click(function (){
             $drop.next().show()
         });
         $(document.body).click(function (e){
             var target = $(e.target);
             var len1 = target.closest($('#drops')).length;
             var len2 = target.closest($('#my_customer')).length;

            if (len1 || len2) return;
            $drop.next().hide();
         });
     }();

</script>