{% extends "../layouts/application.html" %}
{% block body %}
<!--版权列表页面  -->
<div class="patent_application">
    <div class="container right-content" >
        <div class="row ">
            {% include "../layouts/left.html"%}
            <div class="col-md-10 " style="padding-right:0px;margin-top: 30px;padding-left: 30px;">
                <div class="col-md-10 col-xs-10 col-sm-9" style="padding-left: 0px">
                    <div class="clear">
                        <div class="color"></div>
                        <div class="content_title">检索版权列表</div>
                    </div>
                </div>
            </div>
             <div class="panel-body col-md-10">
                 {% if len(copyrights) > 0 %}
                 <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" style="border: 1px solid #e1e1e1;margin-left: 15px">
                        <thead>
                            <tr style="background-color: #EDF9FF;border: 1px solid #e1e1e1">
                                <th style="width:60px;border:none" class="th_sty"></th>
                                <th class="th_sty" style="border:none;">版权名称</th>
                                <th class="th_sty" style="border:none;">申请人</th>
                                <th class="th_sty" style="border:none;">创建时间</th>
                                <th class="th_sty" style="border:none;">项目状态</th>
                                <th class="th_sty" style="border:none;">操作</th>
                            </tr>
                        </thead>
                         <tbody>
                            {% for copyright in copyrights %}
                             <tr class="th_sty" style="border: 1px solid #e1e1e1">
                                <td style="border:none;"></td>
                                <td class="algin_sty" style="border:none;">{{copyright.copyright_name}}</td>
                                <td class="algin_sty" style="border:none;">{{copyright.applicant_name}}</td>
                                <td class="algin_sty" style="border:none;">{{copyright.created_at}}</td>
                                {% if copyright.status== 0 %}
                                    <td class="algin_stys" style="border:none;"><div class="review-btn" >处理中</div></td>
                                {% end %}
                                {% if copyright.status== 1 %}
                                    <td class="algin_stys" style="border:none;"><div class="application-btn">可申请</div></td>
                                {% end %}
                                {% if copyright.status== 2 %}
                                    <td class="algin_stys" style="border:none;"><div class="invalid-btn">驳回</div></td>
                                {% end %}
                                <td class="algin_sty" style="border:none;cursor: default">
                                {% if copyright.status== 2 %}
                                       <a style="margin-right: 5px;" href="/copyright?copyright_id={{copyright.id}}">编辑</a>|<a name="deleted" data-copyright="{{copyright.id}}" style="margin-left: 5px" href="javascript:;">删除</a>|<a style="margin-left: 5px" href="/copyright/{{copyright.id}}">查看</a>
                                {% else %}
                                       <span style="margin-right: 5px;color:#ccc">编辑</span>|<a name="deleted" data-copyright="{{copyright.id}}" style="margin-left: 5px" href="javascript:;">删除</a>|<a style="margin-left: 5px" href="/copyright/{{copyright.id}}">查看</a>
                                {% end %}
                                </td>
                            </tr>
                            {% end %}
                        </tbody>
                    </table>
                    <div class="wtable-footer col-md-12">
                        <div id="pagination-container" class="paging_sty"></div>
                    </div>
                 </div>
                 {% else %}
                 <!--添加申请-->
                 <div class="col-sm-12" style="margin-top: 30px">
                    <div class="col-sm-4"></div>
                        <div class="col-sm-4 yet_sty">
                        亲，您还没有申请的版权
                        </div>
                    <div class="col-sm-4"></div>
                 </div>
                 <div class="col-sm-12">
                    <div class="col-sm-4"></div>
                        <div class="col-sm-4 yet_stys" style="">
                            <a href="/copyright"  class="btn btn-danger btn_add_sty"><span class="glyphicon glyphicon-plus"></span>添加版权检索</a>
                        </div>
                    <div class="col-sm-4"></div>
                 </div>
                 {%end%}
             </div>
        </div>
    </div>
</div>
{% end %}
{% block javascript %}
<script type="text/javascript" src="{{static_url('js/w-page.min.js')}}"></script>
<script>
     $('#copyright_applicants').addClass('active').parents('.subside').show();
    $("#copyright_applicants").parents('dl').find('.glyphicon').addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-right');
     fixed_footer();
    $("a[name=deleted]").click(function(){
            var $tr = $(this).parents("tr");
            var trademark_id = $(this).siblings("input").val();
            var oid=$(this).data('copyright');
            wModalDialog({
                content: ('您确定删除此条记录码？'),
                showAnimate: false,
                type: "confirm",
                sureCallBack: function (){
                    var params ={'_xsrf':$("input[name=_xsrf]").attr('value'),'_method':'delete','id':oid};
                    $.ajax({
                        type: "POST",
                        url: "/copyrights",
                        data: params,
                        dataType: "json",
                        success: function (data) {
                            if (data == '1') {
                                $tr.remove();
                                wModalDialog({
                                    content: ('删除成功!'),
                                    showAnimate: true,
                                    type: "success",
                                    cancelCallBack:function(){
                                        //location.reload();
                                    }
                                });
                            } else {
                                wModalDialog({
                                    content: ('删除失败'),
                                    showAnimate: true,
                                    type: "failed"
                                });
                            }
                        },
                        error: function (data) {
                            wModalDialog({
                                content: ('删除失败'),
                                showAnimate: true,
                                type: "failed"
                            });
                        }
                    });// end of $.ajax
                }// end of sureCallBack
            });// end of wModalDialog
        });
/*分页开始*/
var currentPage = {{current_page}};
var totalPage = {{total_page}};
 $(function () {
        $('#pagination-container').wPage({
            currentPage:currentPage,    // 当前页 默认 1
            totalPage:totalPage,     // 总页数 默认 1
            firstCount: 1,      // 1 ... 3 4 5 ... 108首页处预览页数 默认 1
            lastCount: 1,       // 1 ... 3 4 5 ... 108尾页处预览页数 默认 1
            prevCount: 2,       // 当前页前预览页数 默认 2
            nextCount: 6,       // 当前页后预览页数 默认 6
            clickCallBack:function (pageNum, $element){
                 window.location.href='/copyright/applicants?current_page='+pageNum;
            }
        });
    });
</script>
{% end %}
