{% extends "../layouts/application.html" %}
{% autoescape None %}
{% block left %}
{% end %}
{% block body %}
<div class="container patent_application" style="background-color: #fff">
    <div class="row">
        {% include "../layouts/left.html"%}
        <div class="col-sm-10 right-content col-xs-12" style="margin-top: 30px" >
            <div class="col-md-12">
                <div class="clear">
                    <div class="color"style="margin-left: 5px"></div>
                    <div class="content_title">版权检索详情</div>
                </div>
            </div>
            <div class="patent_detailclumu">
                <div class="col-sm-12 media" style="padding-left: 32px;">
                    <h5 style="font-weight: bold;padding: 15px 0 5px;">版权信息</h5>
                    <ul class="col-sm-6" style="padding-left: 20px;">
                        <li>版权名称：<span>{{copyright.copyright_name}}</span></li>
                        <li>版权类型：<span>{{copyright.copyright_type}}</span></li>

                    </ul>
                </div>
                <div class="col-sm-12 media" style="padding-left: 32px;">
                    <h5 style="font-weight: bold;padding: 15px 0 5px;">申请人信息</h5>
                    <ul class="col-sm-6" style="padding-left: 20px;">
                        <li>姓名：<span>{{copyright.applicant_name}}</span></li>
                        <li>手机：<span>{{copyright.applicant_mobile}}</span></li>
                        <li>邮箱：<span>{{copyright.applicant_email}}</span></li>
                        <li>备注：<span>{{copyright.remark}}</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}
{% block javascript %}
<script>
    $('#copyright_applicants').addClass('active').parents('.subside').show();
    $("#copyright_applicants").parents('dl').find('.glyphicon').addClass('glyphicon-chevron-down').removeClass('glyphicon-chevron-right');
</script>
{% end %}