
{% extends "../layouts/application.html" %}
{% autoescape %}
{% block left %}
{% end %}
{% block body %}
<!--商标申请页面  -->
<div class="patent_application">
	<div class="container right-content">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10" style="margin-top:20px;">
                 <div class="title_bg"></div>
                <div class="title_stys">个人设置</div>
                <br style="clear:both;">
                <!--个人设置第一步-->
                <form  class="form-horizontal" role="form" id="subForm" action="/user/profile" method="post">
                    {% if profile.id or profile.user_id %}
                        <input type="hidden" name="_method" value="put" />
                        <input type="hidden" name="profile_id" value="{{profile.id}}"/>
                    {% end %}
                    {% raw xsrf_form_html()%}
                    <input type="hidden" name="referer" value="{{referer}}"/>

                    <div class="form-group" style="margin-top: 35px">
                        <label class="col-sm-2 control-label" ><span class="span_col"></span>姓名</label>
                        <div class="col-sm-5 ">
                            <input  name="nickname" value="{{profile.nickname}}" id="nickname" class="form-control" placeholder="如何称呼您？">
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 15px">
                        <label class="col-sm-2 col-xs-3 control-label min_title_sty" ><span class="span_col"></span>邮箱</label>
                        <div class="col-sm-5 col-xs-9" style="margin-top:10px">
                            <input  name="email" value="{{profile.email}}" id="email" class="form-control" placeholder="部分通知将会发送到邮箱中哟">
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 15px">
                        <label class="col-sm-2 col-xs-3 control-label min_title_sty"><span class="span_col"></span>密码</label>
                        <div class="col-sm-5 col-xs-4 " style="margin-top: 10px">
                            ************
                        </div>
                        <a href="/user/password" class="col-sm-2 col-xs-4" style="color: red;text-decoration:none;margin-top: 8px">[修改密码]</a>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-xs-3 control-label">所在地区</label>
                        <div class="col-sm-3 col-xs-3 col_rig">
                            <select class="form-control" id="provinces">
                            </select>
                        </div>
                        <div class="col-sm-3 col-xs-3 col_rig">
                            <select class="form-control" id="cities">
                            </select>
                        </div>
                        <div class="col-sm-3 col-xs-3 col_rig" >
                            <select class="form-control" id="areas">
                            </select>
                        </div>
                    </div>
                    <div style="display:none">
                        <input type="hidden" class="province" name="province" value="{{profile.get('province',110000)}}" id="ycyprovince">
                        <input type="hidden" class="city" name="city" value="{{profile.get('city',110100)}}" id="ycycity">
                        <input type="hidden" name="area" id="ycyareas" value="{{profile.get('area',110101)}}" class="ycyqb">
                    </div>
                    <div class="form-group" style="margin-top: 15px">
                        <label class="col-sm-2 col-xs-3 control-label"><span class="span_col"></span>详细地址</label>
                        <div class="col-sm-5 col-xs-9">
                            <input name="address" value="{{profile.address}}" class="form-control" placeholder="合同中会用到这个哟">
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 15px">
                        <label class="col-sm-2 col-xs-3 control-label"><span class="span_col"></span>电话/固话</label>
                        <div class="col-sm-5 col-xs-9">
                            <input name="mobile" value="{{profile.mobile}}" class="form-control" placeholder="主要通过这个联系您">
                        </div>
                    </div>
                    <div class="form-group" style="margin-top: 15px">
                        <label class="col-sm-2 col-xs-3 control-label" ><span class="span_col"></span>所属公司</label>
                        <div class="col-sm-5 col-xs-9">
                            <input  name="company" value="{{profile.company}}" class="form-control " >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-xs-3 control-label"><span class="span_col"></span>公司简介</label>
                        <div class="col-sm-9 col-xs-9">
                            <textarea class="form-control" name="company_desc" rows="3">{{profile.company_desc}}</textarea>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6"></div>
                        <button type="submit" class="btn btn-danger col-sm-3  button" style="width: 100px;height: 31px;margin-top: 30px">保存修改</button>
                    </div>
                </form>
            </div>
        </div>
        <div style="height:120px;"></div>
    </div>
{% end %}
</div>
{% block javascript %}
<script src="{{static_url('js/cityselector.min.js')}}"></script>
<script>
fixed_footer();
$(document).ready(function() {
    $('#subForm').bootstrapValidator({
        // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            nickname: {
                validators: {
                    notEmpty: {
                        message: '如何称呼您?'
                    }
                }
            },
            email: {
                validators: {
                    notEmpty: {
                        message: '电子邮件地址是必需的，不能为空'
                    },
                    emailAddress: {
                        message: '电子邮件地址是无效的，必须带有@符'
                    }
                }
            },
            password: {
                validators: {
                    notEmpty: {
                        message: '密码不能是空的'
                    },
                    different: {
                        field: 'username',
                        message: '密码不能与用户名相同'
                    },
                    stringLength: {
                        min: 6,
                        message: '密码必须至少6个字符'
                    }
                }
            },
            mobile:{
                  validators:{
                      notEmpty:{
                          message:'请输入手机号码或固定电话，固定电话以区号开头(例如:010-xxxxxxx)'
                      },
                     regexp: {
                         regexp:/^((0\d{2,3}-\d{7,8})|(1[35784]\d{9}))$/,
                         message: '请输入正确的手机号码或固定电话，固定电话以区号开头(例如:010-xxxxxxx)'
                     }
                  }
            },
            "provinces": {
                validators: {
                    notEmpty: {
                        message: '请选择省！'
                    }

                }
            },
            "cities": {
                validators: {
                    notEmpty: {
                        message: '请选择市！'
                    }

                }
            },
            "areas": {
                validators: {
                    notEmpty: {
                        message: '请选择区！'
                    }

                }
            },
            Company: {
                validators: {
                    notEmpty: {
                        message: '公司简介，不能为空!'
                    }
                }
            },
            address:{
                validators: {
                    notEmpty: {
                        message: '合同需要地址信息!'
                    }
                }
            }

        }
    });
    $('#subForm').data('bootstrapValidator').validate();
});
  //城市三级联动开始
  cityselector({
        'provinces':'provinces',
        'cities':'cities',
        'areas':'areas',
        'back_provinces':'{{profile.get("province")}}',
        'back_city':'{{profile.get("city")}}',
        'back_area':'{{profile.get("area")}}',
        'ycyprovince':'ycyprovince',
        'ycycity':'ycycity',
        'ycyareas':'ycyareas'
    });
</script>
{%end%}

