<form class="form-horizontal applicant_new" id="applicantForm" role="form" name="ajaxForm" action="/copyright/opus/applicant" method="post">
    {% raw xsrf_form_html()%}
    <input type="hidden" value="{{order.id}}" name="order_id">
    <div class="form-group">
        <label for="new_applicant" class="col-sm-3 control-label">主体</label>
        <div class="col-sm-9">
            <a href="/applicant/new" name="new_applicant" class="btn-add"><span class="glyphicon glyphicon-plus"></span> 添加新主体</a>
        </div>
    </div>

        <div class="form-group applicant-group">
            <label for="applicant" class="col-sm-3 control-label">选择主体</label>
            <div class="col-sm-8">
                {% module select(select_id="applicant",
                            is_multiple=False,
                            name='applicant_id',
                            value=detail.applicant_id,
                            has_null=True,
                            null_value="",
                            null_text="==请选择==",
                            options=applicants,
                            value_field='id',
                            name_field='name',
                            sub_type_field='None',
                            ext_class='',
                            data=dict(type='app_type'),
                            cascade_options = None)%}
            </div>
        </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">共同申请人</label>
        <div class="col-sm-9">
            <div class="radio-inline">
                <label>
                    <input id="not_have" type="radio" value=0 {% if not detail.is_common_app %}checked="checked" {%end%} name="is_common_app">无
                </label>
            </div>
            <div class="radio-inline">
                <label>
                    <input id="have" type="radio" value=1  {% if detail.is_common_app %}checked="checked" {%end%} name="is_common_app">有
                </label>
            </div>
        </div>
    </div>
    <div class="form-group" id="co_applicants" {% if not detail.is_common_app %} style="display: none" {% end %}>
        <div class="col-sm-9 col-sm-offset-3">
            <a href="/applicant/new" name="new_applicant" class="btn-add"><span class="glyphicon glyphicon-plus"></span> 添加共同申请人</a>
        </div>
        <label for="co_applicants" class="col-sm-3 control-label">共同申请人</label>
        <div class="col-sm-9 label_style">
            {% for applicant in applicants%}
            <div class="checkbox">
                <label>
                    <input data="{{applicant.app_type}}" data-value={{applicant.get('name')}} type="checkbox" value="{{applicant.id}}" {% if str(applicant.id) in detail.common_app_ids%} checked="checked" {% end %} id="co_applicant{{applicant.get('id')}}" name="common_app_ids">{{applicant.get('name')}}
                </label>
            </div>
            {% end %}
        </div>
    </div>
    <div class="form-group" style="margin-top: 40px;">
        <div class="col-sm-6 col-sm-offset-4 col-md-4col-md-offset-8" style="text-align: right;">
            <input type="submit" class="btn-next"  value="保存">
            <button type="button" name="cancelForm" class="btn-pre">取消</button>
        </div>
    </div>
</form>
<script>
    // 去除共同申请人列表中的  被选择的申请主体信息
    var app_id = $('#applicant').val();
    change_app(app_id)
    function change_app(app_id){
        var co_app_checkbox = $('#co_applicant'+app_id).parents('.checkbox')
        co_app_checkbox.hide();
        co_app_checkbox.find('input[name=co_applicant_ids]').removeAttr('checked','')
        co_app_checkbox.siblings().show()
    }
    $('#applicant').change(function (){
        var $this =  $(this).find('option:selected').val();
        change_app($this)
    })
    //去除被选中的主体 结束

    $('#have').click(function(){
        $('#co_applicants').slideDown()
    });
    $('#not_have').click(function(){
        $('#co_applicants').slideUp()
        $('#co_applicants').find('input[name=common_app_ids]').removeAttr('checked','')
    });
//    校验、
    $('.applicant_new').bootstrapValidator({
            fields:{
                applicant_id:{
                    validators:{
                        notEmpty:{
                            message:'请选择主体！'
                        }
                    }
                }
            }
        });
    var parse_functions = new Array();
    function parse_applicantForm(){
        var applicant = $("#applicant");
        var $applicant_val = applicant.find("option:selected").text();
        var $applicant_data = applicant.find("option:selected").data('type');
        var $co_app = $('input[name=common_app_ids]:checked');
        var html = '';
        for(var i = 0;i < $co_app.length;i++){
            var $item = $co_app.eq(i).data('value');
            html += $item+','
        }
        $co_app.length == 0 ? $('.add_group').html(''):$('.add_group').html('<div class="form-group"><label class="col-sm-3 control-label">共同申请人</label><div class="col-sm-8" data-name="confirmed_required">'+html+'</div></div>');
            switch($applicant_data){
                case 'person':
                    $('#applicantType').text('个人');
                    break;
                case 'com':
                    $('#applicantType').text('公司');
                    break;
            }
        $('#applicantName').text($applicant_val);
        $('.co_add').hide();
        $('.tips li:first').css('background-color','#07BB07')
    }
    parse_functions['applicantForm'] = parse_applicantForm;
</script>
