{% extends "../layouts/application.html" %}
{% block description %}{{activity.summary}}{% end %}
{% block keywords %}{{activity.keywords}}{% end %}
{% autoescape None %}
{% block left %}
{% end %}
{% block body %}

<div class="container" style="margin-top:17px;">
    <div class="row" >
        <div class="col-md-10">
            <div class="col-md-12" style="margin-right: -15px">
                <div class="col-md-10 col-xs-12" style="margin-left: -15px;"><span class="activity_title">{{activity.get('title',"")}}</span></div>
               {% if activity.state == 1%}
                   <button data-toggle="modal" data-target="#myModal_{{activity.id}}" class="activity_butt" style="color:white;font-weight:bold;">报名</button>
               {%end%}
                    <div class="modal fade myModal" id="myModal_{{activity.id}}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title">个人信息</h4>
                                </div>
                                <div class="modal-body">
                                    <!--开始-->
                                    <form id="registrationForm" method="post" class="form-horizontal" onsubmit="return false;">
                                        {% raw xsrf_form_html()%}
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">姓名</label>
                                            <div class="col-sm-5">
                                                <input type="text" class="form-control" name="username" id="name{{activity.id}}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">邮箱</label>
                                            <div class="col-sm-5">
                                                <input type="text" class="form-control" name="email" id="email{{activity.id}}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">参会人数</label>
                                            <div class="col-sm-5">
                                                <input type="text" class="form-control" name="renshu" id="participants_count{{activity.id}}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">联系方式</label>
                                            <div class="col-sm-5">
                                                <input type="text" class="form-control" name="phone" id="mobile{{activity.id}}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 col-xs-3 control-label">地址</label>
                                            <div class="col-md-4 col-xs-4" style="padding-right:0px;">
                                                <select class="form-control" id="provinces">
				                                </select>
                                            </div>
                                            <div class="col-md-4 col-xs-4" style="padding-right:0px;">
                                                 <select class="form-control" id="cities">
				                                 </select>
                                            </div>
                                            <div class="col-md-1">
                                            </div>
                                        </div>
                                        <div style="display:none">
                                            <input type="hidden" value="{{activity.title}}" id="activity_title{{activity.id}}">
                                            <input type="hidden" class="province" name="participant.province" value="110000" id="ycyprovince{{activity.id}}">
                                            <input type="hidden" class="city" name="participant.city" value="110100" id="ycycity{{activity.id}}">
                                        </div>
                                        <div class="form-group">
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                                <input type="submit" name="activities" data="{{activity.id}}" class="btn btn-primary btn-default" value="保存" id="activities"/>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="clear"></div>
                                        <!--结束-->
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                </div>

            <div class="col-md-12" style="margin-right: -15px">
                <div style="margin:15px 0px;">
                    <span class="activity_title_date" >时间: {{activity.get('meeting_date',"")}}</span>
                    <span class="activity_title_add" >地点： {{activity.get('address',"") }}</span>
                </div>
                <div id="contents" style="height:480px;">
                    <div id="content" >{{activity.get('content',"") }}</div>
                </div>
            </div>

        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2 hidden-xs">
            <img  src="/s/img/erweima.png" />
            <div class="News_information_word new_erweima"  style="margin-top:13px;text-align:center;color:#717f81;width:167px;">微信公众平台:搜索"易正达"或扫描下面的二维码</div>
        </div>
         <div class="col-xs-12 visible-xs" style="text-align: center;margin:0 auto;">
            <div><img src="/s/img/erweima.png" /></div>
            <div class="News_information_word new_erweima_visible">微信公众平台:搜索"易正达"或扫描下面的二维码</div>
        </div>



    </div>
</div>
{% end %}
{% block javascript %}
<script src="{{ static_url('js/validator.min.js') }}"></script>
<script src="/s/js/provinces.js"></script>
<script src="/s/js/cities.js"></script>
<script>
//右边高度设置结束
    window.onload=function(){
        var ocontent=document.getElementById('content');
        var ocontents=document.getElementById('contents');
        if(ocontent.offsetHeight>=465){
           ocontents.style.height="";
        }
                var liuH = document.documentElement.clientHeight;
                var bodyH = $('body').height() + 50;
                console.log('浏览器:' + liuH, 'body:' + bodyH);
                if (bodyH < liuH) {
                    $('#footer').addClass('navbar-fixed-bottom');
                }
        $('#content').find('img').addClass('img-responsive');
    }
//二级城市联动开始
function find(num,arr2){
			var arrs=[];
				for(var i=0;i<arr2.length;i++){
					    if(arr2[i][2]==num){
							arrs.push(arr2[i]);
						}
					}
			return arrs;
}
var oprovinces=document.getElementById('provinces');
var ocities=document.getElementById('cities');
           for(var i=0;i<provinces.length;i++){
				    $('#provinces').append('<option value='+provinces[i][0]+'>'+provinces[i][1]+'</option>');
			};
            ocitie=find(110000,cities);
            for(var i = 0; i < ocitie.length; i++){
               $('#cities').append('<option value=' + ocitie[i][0] + '>' + ocitie[i][1] + '</option>');
            };
			oprovinces.onchange=function(){

                if(this.value){
                    $('.city').css('display','block');
                    $('#cities').html('');
                    ocitie=find(this.value,cities);
                    for (var i = 0; i < ocitie.length; i++) {
                        $('#cities').append('<option value=' + ocitie[i][0] + '>' + ocitie[i][1] + '</option>');
                    };
                }
                console.log(ocities.value);
                $('.province').attr('value',this.value);
                $('.city').attr('value',ocities.value);
			}
            ocities.onchange=function(){
					$('.city').attr('value',this.value);
			}
//二级城市联动结束
//校验开始
$(document).ready(function() {
    $('#registrationForm').bootstrapValidator({
        // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            username: {
                message: 'The username is not valid',
                validators: {
                    notEmpty: {
                        message: '姓名是必需的，不能是空的'
                    },
                    stringLength: {
                        min: 2,
                        max: 30,
                        message: '姓名必须大于2且小于30个字'
                    },
                    regexp: {
                        regexp: /^[a-zA-Z\u4E00-\u9FA5]+$/,
                        message: '姓名只能是文字和字母'
                    },
                    different: {
                        field: 'password',
                        message: 'The username and password cannot be the same as each other'
                    }
                }
            },
            email: {
                validators: {
                    notEmpty: {
                        message: '电子邮件地址不是有效的'
                    },
                    emailAddress: {
                        message: '电子邮件地址不是有效的'
                    }
                }
            },
            grop: {
                validators: {
                    notEmpty: {
                        message: '请选择'
                    }
                }
            },
            renshu: {
                message: '人数不能为空',
                validators: {
                    notEmpty: {
                        message: '人数不能为空'
                    },
                    regexp: {
                        regexp: /^[0-9]+$/,
                        message: '只能写数字'
                    }
                }
            },
            phone: {
                message: '请仔细检查你的电话号码',
                validators: {
                    notEmpty: {
                        message: '手机号码不能为空'
                    },
                    regexp: {
                        regexp: /(\d{11})|^((\d{7,8})|(\d{4}|\d{3})-(\d{7,8})|(\d{4}|\d{3})-(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1})|(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1}))$/,
                        message: '请仔细检查你的电话号码'
                    }
                }
            },
            gender: {
                validators: {
                    notEmpty: {
                        message: '请仔细填写资料'
                    }
                }
            }

        }
    });
});
//校验结束
//ajax请求开始
$("input[name=activities]").click(function(){
if($('#registrationForm').data('bootstrapValidator').isValid()){
aid = $(this).attr('data')
       $.ajax({
             type: "POST",
             url: "/activity/"+aid,
             data:{'participant.name':$("#name"+aid).val(),'participant.email':$("#email"+aid).val(),'participant.participants_count':$("#participants_count"+aid).val(),'participant.mobile':$("#mobile"+aid).val(),'participant.province':$(".province").val(),'participant.city':$(".city").val(),'participant.activity_title':$("#activity_title"+aid).val(),'_xsrf':$("input[name=_xsrf]").val()},
             dataType: "json",
             success:function(data){
                 if(data.type==1){
                     $('#myModal1').modal('hide');
                     wModalDialog({
                          content:('报名成功'),
                          showAnimate:true,
                          type:"success"
                     });
                 }else{
                     $('#myModal1').modal('hide');
                     wModalDialog({
                        content:('报名失败'),
                        showAnimate:true,
                        type:"failed"
                     });
                 }
             },
             error:function(data){
               $('#myModal1').modal('hide')
                     wModalDialog({
                        content:('报名失败'),
                        showAnimate:true,
                        type:"failed"
                     });
                }
         });
    };
});
//ajax请求结束
</script>
{% end %}