<div class="footer">
    <div class="footer-top" style="display:none;">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="ul-list1">
                        <a href="/home/law" target="_blank">法律声明 <span>|</span></a>
                        <a href="/home/secret" target="_blank">隐私条款<span>|</span></a>
                        <a href="/about" target="_blank">关于我们<span>|</span></a>
                        <a href="/feedback">意见反馈</a>
                    </div>
                    <div class="ul-list2 clearfix">
                        <div class="left"><span>友情链接：</span></div>
                        <div class="right">
                            <a target="_blank" href="http://www.yestar.mobi">知识产权服务 |</a>
                            <a target="_blank" href="http://www.sipo.gov.cn">国家知识产权局 |</a>
                            <a target="_blank" href="http://www.ipr.gov.cn">中国保护知识产权网 |</a>
                            <a target="_blank" href="http://www.cnips.org">中国知识产权研究会 |</a>
                            <a target="_blank" href="http://www.ipph.cn">知识产权出版社 |</a>
                            <a target="_blank" href="http://www.ciptc.org.cn/sysInitAction.do">中国知识产权培训中心 |</a>
                            <a target="_blank" href="http://www.cainet.org.cn">中国发明协会 |</a>
                            <a target="_blank" href="http://www.ppac.org.cn">中国专利保护协会 |</a>
                            <a target="_blank" href="http://sbj.saic.gov.cn">中国商标网 |</a>
                            <a target="_blank" href="http://www.5561066.com">苏州卫星电视 |</a>
                            <a target="_blank" href="http://www.sjhcip.com">专利申请 |</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 phone clearfix">
                    <div class="left">
                        <span style="position: relative;top: -4px;"><img src="{{static_url('img/phone.png')}}" alt=""/></span>
                        <span class="phone-num">电话  :</span>
                    </div>
                    <div class="right hidden-xs">
                        <ul>
                            <li><a href="javascript:;">010-84274670</a></li>
                            <li><a href="javascript:;">400-673-4006</a></li>
                        </ul>
                    </div>
                    <div class="right visible-xs">
                        <ul>
                            <li><a href="tel:010-84274670">010-84274670</a></li>
                            <li><a href="tel:4006734006">400-673-4006</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
            <div class="col-sm-12">
                <div class="ul-list3">
                    <span>版权所有: 2014 北京易正达知识产权代理有限公司</span>
                    <span>ICP备案号: 京ICP备12042721号-2</span>
                    <span>地址: 北京朝阳区北三环东路28号易亨大厦1006室</span>
                </div>
            </div>
        </div>
    </div>
</div>



