<div class="col-md-2" style="padding: 0;">
    <div class="slider_nav">
        <div class="member_size">用户中心</div>
        <ul class="aside-block">
            <li><a href="/user/orders" class="items" id="orders">订单管理</a></li>
            <li>
                <dl>
                    <dt class="item"> <span class="glyphicon glyphicon-chevron-right"></span>检索清单</dt>
                    <div class="subside" style="display: none">
                        <dd id="forecasts"><a href="/user/forecast">检索商标订单</a></dd>
                        <!--<dd id="copyright_applicants"><a href="/copyright/applicants">检索版权订单</a></dd>-->
                    </div>
                </dl>
            </li>
            <li>
                <dl>
                    <dt class="item"><span class="glyphicon glyphicon-chevron-right"></span>发票管理</dt>
                    <div class="subside" style="display: none">
                        <dd><a href="/invoice/demands">发票索取列表</a></dd>
                        <dd><a href="/invoices">发票列表</a></dd>
                        <dd><a href="/invoice_basic/detail">发票信息</a></dd>
                    </div>
                </dl>
            </li>
        </ul>
    </div>
</div>
<script>
    var active_id = "{{globals().get('active_id',None)}}";
    function slideToggles () {
        var i = 0;
        $(document).on('click', '.aside-block dt', function () {
            i++;
            var $this = $(this);
            var $active = $('.aside-block .active');
            $this.next().slideToggle();
            $this.parent().addClass('active').parents('.aside-block').find('a').removeClass('current');
            $active.not($this).removeClass('active');

            i % 2 ? $(this).find('span').removeClass('glyphicon-chevron-right').addClass('glyphicon-chevron-down') :$(this).find('span').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-right');
            $(".subside").not($(this).next()).slideUp();
            $('dt .glyphicon').not($(this).find('span')).removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-right');
        })
    }slideToggles();
</script>